<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AllocationRuleMapper">
    <resultMap id="allocationRuleResultMap" type="com.squer.promobee.service.repository.domain.AllocationRule">
        <id property="id" column="id_alr"/>
        <result property="unitAllocation" column="is_unit_allocation_alr"/>
        <result property="createdAt" column="created_on_alr"/>
        <result property="createdBy" column="created_by_alr"/>
        <result property="updatedAt" column="updated_on_alr"/>
        <result property="updatedBy" column="updated_by_alr"/>
        <association property="designationId" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="id_ulv_alr"/>
            <result property="name" column="name_ulv"/>
        </association>
        <association property="ownerStatus" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="id_owner_slv_alr"/>
            <result property="name" column="name_slv"/>
        </association>
        <association property="categoryId" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="id_itc_alr"/>
            <result property="name" column="name_itc"/>
        </association>
    </resultMap>


    <select id="getActiveUsers" resultType="com.squer.promobee.controller.dto.ActiveUsersDTO" parameterType = "map" statementType = "CALLABLE">
        { call Get_activeuserforbrandmanager (  #{UserID, jdbcType = VARCHAR, mode = IN}  ) }
    </select>

    <select id="getDownloadAllocation" resultType="com.squer.promobee.controller.dto.DownloadAllocationDTO" parameterType = "map" statementType = "CALLABLE">
        { call MonthlyAlloctionReport (  #{planid, jdbcType = VARCHAR, mode = IN}  ) }
    </select>


    <select id="getBlockedRecipients" resultType="com.squer.promobee.controller.dto.BlockedRecipientDTO" >
        SELECT RCT.NAME_RCT AS 'RecipientName',RCT.CODE_RCT AS 'RecipientCode',SLV.NAME_SLV AS 'Status',RBL.REC_REMARKS_LOG AS 'Remark',RBL.REC_UPDATED_ON_LOG AS 'UpdatedOn'
        FROM RECEPIENT_BLOCK_LOGS_RBL RBL
                 JOIN RECIPIENT_MASTER_RCT RCT ON RCT.CODE_RCT = RBL.REC_CODE_LOG
                 JOIN SYSTEM_LOV_SLV SLV ON SLV.ID_SLV = RCT.ID_STATUS_SLV_RCT
        WHERE RBL.REC_CODE_LOG = #{code}
        ORDER BY RBL.REC_UPDATED_ON_LOG DESC

    </select>



    <select id="getMultipleAllocation" resultType="com.squer.promobee.controller.dto.MultipleAllocationDTO" >
        SELECT distinct  tem.ID_TEM as 'teamId',tem.NAME_TEM as 'teamName',rct.ID_RCT as 'recipientId',rct.NAME_RCT as 'recipientName',rct.CODE_RCT as 'recipientCode',
                ulv.ID_ULV as 'designationId',ulv.NAME_ULV as 'designationName' FROM COST_CENTER_MASTER_CCM CCM
        JOIN COSTCENTER_BRAND_CBR CBR ON CBR.ID_CCM_CBR = ccm.ID_CCM
        JOIN BRAND_MASTER_BRD BRD ON BRD.ID_BRD = CBR.ID_BRD_CBR
        JOIN TEAM_BRAND_TBR TBR ON TBR.ID_BRD_TBR = BRD.ID_BRD
        JOIN TEAM_MASTER_TEM TEM ON TEM.ID_TEM = TBR.ID_TEM_TBR
        JOIN RECIPIENT_MASTER_RCT RCT ON RCT.ID_TEM_RCT = TEM.ID_TEM
        JOIN USER_LOV_ULV ULV ON ULV.ID_ULV = RCT.ID_DESG_ULV_RCT

        WHERE CCM.ID_CCM in<foreach item="item" index="index" collection="ccmId"
                                    open="(" separator="," close=")">
        #{item}
    </foreach>
          AND RCT.ID_STATUS_SLV_RCT = '80BC3490-9F53-4C92-8DBA-3D5C7755FD73'

    </select>



</mapper>
