<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ApprovalChainTransactionMapper">
    <resultMap id="approvalChainTransactionResultMap" type="com.squer.promobee.service.repository.domain.ApprovalChainTransaction">
        <id property="id" column="id_api"/>
        <result property="owner" column="id_owner_api"/>
        <result property="comments" column="comment_api"/>
        <result property="createdAt" column="created_on_api"/>
        <result property="createdBy" column="created_by_api"/>
        <result property="updatedAt" column="updated_on_api"/>
        <result property="updatedBy" column="updated_by_api"/>
        <association property="approvedByUser" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="id_approved_by_usr_api"/>
            <result property="name" column="name_usr"/>
        </association>
        <association property="typeStatus" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="id_type_slv_api"/>
            <result property="name" column="name_slv"/>
        </association>
        <association property="apiStatus" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="id_status_slv_api"/>
            <result property="name" column="name_slv"/>
        </association>
        <association property="designation" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="id_desg_ulv_api"/>
            <result property="name" column="name_ulv"/>
        </association>
    </resultMap>

    <select id="approval_chain_transaction_select" resultMap="approvalChainTransactionResultMap">
        select * from APPROVAL_CHAIN_TRANSACTION_API
        <where>
            <if test="ownerId!= null">ID_OWNER_API = #{ownerId}</if>
        </where>
    </select>


    <select id="getApprovalChainById" resultMap="approvalChainTransactionResultMap">
        select * from APPROVAL_CHAIN_TRANSACTION_API
        where ID_OWNER_API = #{id}
    </select>


    <select id="getApprovalChainByDesignation" resultMap="approvalChainTransactionResultMap">
        select * from APPROVAL_CHAIN_TRANSACTION_API
        where ID_OWNER_API = #{id} and ID_DESG_ULV_API = #{designationId}
    </select>

    <select id="getSpecialApprovalChainById" resultMap="approvalChainTransactionResultMap">
        select * from APPROVAL_CHAIN_TRANSACTION_API
        where ID_OWNER_API = #{id} and ID_DESG_ULV_API = #{desginationId}
    </select>


    <select id="apiAllocation" resultMap="approvalChainTransactionResultMap">
        select * from APPROVAL_CHAIN_TRANSACTION_API
        where ID_OWNER_API = #{ownerId}
    </select>




    <update id="updateApprovalChainTransaction">

        UPDATE APPROVAL_CHAIN_TRANSACTION_API SET ID_APPROVED_BY_USR_API = #{approvedByUser} , ID_STATUS_SLV_API = #{apiStatus} , COMMENT_API = #{comments},UPDATED_ON_API = GETDATE() , UPDATED_BY_API = #{updatedBy},
                                                  SUBMISSION_DATE_DIP = NULL , APPROVAL_DATE_DIP = NULL
        WHERE ID_OWNER_API = #{id}
    </update>

    <update id="updateApprovalChainTransactionDesignation">

        UPDATE APPROVAL_CHAIN_TRANSACTION_API SET ID_APPROVED_BY_USR_API = #{approvedByUser} , ID_STATUS_SLV_API = #{apiStatus} , COMMENT_API = #{comments},UPDATED_ON_API = GETDATE() , UPDATED_BY_API = #{updatedBy}
        WHERE ID_API = #{id}
    </update>


    <select id="getApprovalChainForSpecialPlanConvert" resultMap="approvalChainTransactionResultMap">
        select * from APPROVAL_CHAIN_TRANSACTION_API
        where ID_OWNER_API = #{id}
    </select>


    <update id="updateSaveMonthlyToSpecial">

        UPDATE APPROVAL_CHAIN_TRANSACTION_API SET ID_STATUS_SLV_API = #{apiStatus},UPDATED_ON_API = GETDATE() , UPDATED_BY_API = #{updatedBy}
        WHERE ID_OWNER_API = #{owner}
    </update>


    <insert id="insertSaveMonthlyToSpecial">
        INSERT INTO APPROVAL_CHAIN_TRANSACTION_API (ID_API,ID_OWNER_API,ID_DESG_ULV_API,ID_STATUS_SLV_API,CREATED_ON_API,CREATED_BY_API,UPDATED_ON_API,UPDATED_BY_API)
        VALUES (#{id},#{owner},#{designation},#{apiStatus},GETDATE(),#{createdBy},GETDATE(),#{updatedBy})
    </insert>

</mapper>
