<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ApprovalMapper">


    <select id="getMonthlyApprovalForBex" resultType="com.squer.promobee.controller.dto.MontlyApprovalBexDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_GetPlanForApprovalForBEX (#{Month, jdbcType = INTEGER, mode = IN}, #{Year, jdbcType = INTEGER, mode = IN},
            #{UserID, jdbcType = VARCHAR, mode = IN}, #{UserDesignation, jdbcType = VARCHAR, mode = IN}
                                   ) }

    </select>

    <select id="allocationDetailsRbm" resultType="com.squer.promobee.controller.dto.AllocationInventoryDetailsWithCostCenterDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_AllocationDetailsWithCostCenter_ForRBM (#{RBMPLANID, jdbcType = VARCHAR, mode = IN}, #{USERID, jdbcType = VARCHAR, mode = IN}    ) }

    </select>


    <select id="allocationDetailsBrandManager" resultType="com.squer.promobee.controller.dto.AllocationInventoryDetailsWithCostCenterDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_AllocationDetailsWithCostCenter_Approval (#{UserID, jdbcType = VARCHAR, mode = IN}, #{PlanID, jdbcType = VARCHAR, mode = IN}    ) }

    </select>


    <select id="getSpecialApprovalForBex" resultType="com.squer.promobee.controller.dto.MontlyApprovalBexDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_GetSpecialPlanForApprovalForBEX (#{Month, jdbcType = INTEGER, mode = IN}, #{Year, jdbcType = INTEGER, mode = IN},
                                              #{UserID, jdbcType = VARCHAR, mode = IN}, #{UserDesignation, jdbcType = VARCHAR, mode = IN}
            ) }

    </select>


    <select id="getSpecialApprovalForBuh" resultType="com.squer.promobee.controller.dto.MontlyApprovalBexDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_GetPlanForApprovalForBUH (#{Month, jdbcType = INTEGER, mode = IN}, #{Year, jdbcType = INTEGER, mode = IN},
                                              #{UserID, jdbcType = VARCHAR, mode = IN}, #{UserDesignation, jdbcType = VARCHAR, mode = IN}
            ) }

    </select>


    <select id="getSpecialPlanApprovalDetails" resultType="com.squer.promobee.controller.dto.SpecialAllocationDetailsForApprovalDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_GetSpecialAllocationDetailsForApproval ( #{DipID, jdbcType = VARCHAR, mode = IN} ) }

    </select>


    <select id="getVirtualApprovalForBex" resultType="com.squer.promobee.controller.dto.MontlyApprovalBexDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_GetvIRTUALPlanForApprovalForBEX (#{Month, jdbcType = INTEGER, mode = IN}, #{Year, jdbcType = INTEGER, mode = IN},
                                                     #{UserID, jdbcType = VARCHAR, mode = IN}, #{UserDesignation, jdbcType = VARCHAR, mode = IN}
            ) }

    </select>

    <select id="getVirtualPlanApprovalDetails" resultType="com.squer.promobee.controller.dto.SpecialAllocationDetailsForApprovalDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_GetVirtualAllocationDetailsForApproval ( #{DipID, jdbcType = VARCHAR, mode = IN} ) }

    </select>


    <select id="specialPlanSubmitMail" resultType="com.squer.promobee.controller.dto.ApprovalUserDetailsDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_GetTeamHeadDetailsForAllocationApproval ( #{UserID, jdbcType = VARCHAR, mode = IN}  ) }

    </select>



    <select id="virtualAllocationDownload" resultType="com.squer.promobee.controller.dto.VirtualAllocationDetailsDTO" parameterType = "map" statementType = "CALLABLE">
        { call get_virtualinvoicedetail ( #{month, jdbcType = INTEGER, mode = IN} , #{year, jdbcType = INTEGER, mode = IN} , #{planid, jdbcType = VARCHAR, mode = IN}  ) }

    </select>







</mapper>
