<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ComplianceDetailsMapper">
    <resultMap id="complianceDetailsResultMap" type="com.squer.promobee.service.repository.domain.ComplianceDetails">
        <id property="id" column="id_cm"/>
        <result property="ff" column="ff_cm"/>
        <result property="drId" column="dr_id"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="drName" column="dr_name"/>
        <result property="totSampleGiven" column="tot_sample_given"/>
        <result property="bu" column="bu"/>
        <result property="am" column="am"/>
        <result property="rbm" column="rbm"/>
        <result property="remarks" column="remarks"/>
        <result property="reason" column="reason"/>
        <result property="ffCode" column="ff_code"/>
        <result property="teamId" column="team_id_cd"/>
        <result property="teamName" column="team_name"/>
    </resultMap>


    <select id="recipientBlocked" resultType="com.squer.promobee.controller.dto.RecipientUnblockingPartialDTO">
        SELECT rlff.ID_RLFF as 'IdRlf',rct.CODE_RCT as 'EmployeeCode',rct.NAME_RCT as 'EmployeeName',rlff.MONTH as 'Month',rlff.YEAR as 'Year',tem.NAME_TEM as 'Team',rct.HEAD_QUARTER_RCT as 'Headquarter',
                rct.EMAIL_AM as 'EmailAM',rct.EMAIL_RM as 'EmailRM',rlff.ISBLOCK as  'IsBockedFF', rlff.ISVALIDATED as 'IsValidated',rlff.ISEXPIRED as 'IsExpired',rlff.ISREJECTED as 'IsRejected',rlff.REASON as 'Reason',
                rlff.REMARK as 'Remark',rlff.ADMIN_REMARK_RLFF as 'RemarkByAdmin',rlff.BATCH_NO_RLFF as 'BatchNo',rlff.MATERIAL_CODE_RLFF as 'MaterialCode'
        FROM RECOMMENDED_LIST_FORBLOCK_FF_RLFF rlff
        join RECIPIENT_MASTER_RCT rct on rlff.EMPLOYEE_CODE_RLFF = rct.CODE_RCT
        join TEAM_MASTER_TEM tem on rct.ID_TEM_RCT = tem.ID_TEM
        join TEAM_LEGAL_ENTITY_TET  tet on tem.ID_TEM = tet.ID_TEM_TET
        where  rlff.MONTH = #{month} and rlff.YEAR = #{year} and rlff.ISBLOCK = 1
    </select>

    <select id="recipientUnblocked" resultType="com.squer.promobee.controller.dto.RecipientUnblockingPartialDTO">
        SELECT rlff.ID_RLFF as 'IdRlf',rct.CODE_RCT as 'EmployeeCode',rct.NAME_RCT as 'EmployeeName',rlff.MONTH as 'Month',rlff.YEAR as 'Year',tem.NAME_TEM as 'Team',rct.HEAD_QUARTER_RCT as 'Headquarter',
                rct.EMAIL_AM as 'EmailAM',rct.EMAIL_RM as 'EmailRM',rlff.ISBLOCK as  'IsBockedFF', rlff.ISVALIDATED as 'IsValidated',rlff.ISEXPIRED as 'IsExpired',rlff.ISREJECTED as 'IsRejected',rlff.REASON as 'Reason',
                rlff.REMARK as 'Remark',rlff.ADMIN_REMARK_RLFF as 'RemarkByAdmin',rlff.BATCH_NO_RLFF as 'BatchNo',rlff.MATERIAL_CODE_RLFF as 'MaterialCode'
        FROM RECOMMENDED_LIST_FORBLOCK_FF_RLFF rlff
                 join RECIPIENT_MASTER_RCT rct on rlff.EMPLOYEE_CODE_RLFF = rct.CODE_RCT
                 join TEAM_MASTER_TEM tem on rct.ID_TEM_RCT = tem.ID_TEM
                 join TEAM_LEGAL_ENTITY_TET  tet on tem.ID_TEM = tet.ID_TEM_TET
        where  rlff.MONTH = #{month} and rlff.YEAR = #{year} and rlff.ISBLOCK = 0
    </select>

    <select id="recipientRejected" resultType="com.squer.promobee.controller.dto.RecipientUnblockingPartialDTO">
        SELECT rlff.ID_RLFF as 'IdRlf',rct.CODE_RCT as 'EmployeeCode',rct.NAME_RCT as 'EmployeeName',rlff.MONTH as 'Month',rlff.YEAR as 'Year',tem.NAME_TEM as 'Team',rct.HEAD_QUARTER_RCT as 'Headquarter',
                rct.EMAIL_AM as 'EmailAM',rct.EMAIL_RM as 'EmailRM',rlff.ISBLOCK as  'IsBockedFF', rlff.ISVALIDATED as 'IsValidated',rlff.ISEXPIRED as 'IsExpired',rlff.ISREJECTED as 'IsRejected',rlff.REASON as 'Reason',
                rlff.REMARK as 'Remark',rlff.ADMIN_REMARK_RLFF as 'RemarkByAdmin',rlff.BATCH_NO_RLFF as 'BatchNo',rlff.MATERIAL_CODE_RLFF as 'MaterialCode'
        FROM RECOMMENDED_LIST_FORBLOCK_FF_RLFF rlff
                 join RECIPIENT_MASTER_RCT rct on rlff.EMPLOYEE_CODE_RLFF = rct.CODE_RCT
                 join TEAM_MASTER_TEM tem on rct.ID_TEM_RCT = tem.ID_TEM
                 join TEAM_LEGAL_ENTITY_TET  tet on tem.ID_TEM = tet.ID_TEM_TET
        where  rlff.MONTH = #{month} and rlff.YEAR = #{year} and rlff.ISREJECTED = 1
    </select>


    <select id="sampleExpireInThirtyDays" resultType="com.squer.promobee.controller.dto.OptimaDataLogsDTO" parameterType = "map" statementType = "CALLABLE">
        { call Get_SampleNearExpiryCount (#{month, jdbcType = VARCHAR, mode = IN}, #{year, jdbcType = VARCHAR, mode = IN}    ) }

    </select>

    <select id="inputExpiring" resultType="com.squer.promobee.controller.dto.OptimaDataLogsDTO" parameterType = "map" statementType = "CALLABLE">
        { call Get_InputsNearExpiryCount (#{month, jdbcType = VARCHAR, mode = IN}, #{year, jdbcType = VARCHAR, mode = IN}    ) }

    </select>

    <select id="materialExpiring" resultType="com.squer.promobee.controller.dto.OptimaDataLogsDTO" parameterType = "map" statementType = "CALLABLE">
        { call Get_OptimaLogsdata (#{month, jdbcType = VARCHAR, mode = IN}, #{year, jdbcType = VARCHAR, mode = IN} , #{type, jdbcType = VARCHAR, mode = IN}   ) }

    </select>

    <select id="overSamplingDetails" resultType="com.squer.promobee.controller.dto.OverSamplingDetaislDTO">
        SELECT ID_CM 'comId',FF_CODE 'ffCode',START_DATE 'startDate',END_DATE 'endDate',TEAM_NAME 'teamName', DR_ID 'doctorId',
                DR_NAME 'doctorName',BU 'bu', AM 'am', RBM 'rbm',TOT_SAMPLE_GIVEN 'totalSampleGiven',REMARKS 'remarks',REASON 'reason' FROM COMPLIANCE_DETAILS_CD
        WHERE START_DATE = #{month} AND END_DATE = #{year}
    </select>

    <select id="masterBlockedList" resultType="com.squer.promobee.controller.dto.RecipientBlockLogsDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_GET_BLOCKED_LIST ( #{year, jdbcType = VARCHAR, mode = IN}   ) }

    </select>


    <select id="buChampionData" resultType="com.squer.promobee.controller.dto.ComplianceBuChampionDTO">
        SELECT ID_USR,NAME_USR,EMAIL_ADDRESS_USR FROM USER_MASTER_USR
        WHERE ID_DESG_ULV_USR = '24720986-A3EE-4DCA-9538-36F52625EB70' AND ID_STATUS_SLV_USR = '1D2F12F3-F84A-4200-9590-70680528779B'

    </select>

    <select id="buNameData" resultType="com.squer.promobee.controller.dto.ComplianceModeldeDTO" parameterType = "map" statementType = "CALLABLE">
        { call GET_BU_FOR_BUC ( #{usr, jdbcType = VARCHAR, mode = IN}   ) }

    </select>


    <select id="overSamplingDetailsComplianceData" resultMap="complianceDetailsResultMap">

        SELECT * FROM COMPLIANCE_DETAILS_CD
        WHERE START_DATE = #{searchFromDate} AND END_DATE = #{searchToDate}
        ORDER BY START_DATE DESC

    </select>


    <select id="SearchCompliance" resultMap="complianceDetailsResultMap" parameterType = "map" statementType = "CALLABLE">
        { call GET_COMPLIANCE_DETAILS_LIST ( #{usr, jdbcType = VARCHAR, mode = IN} , #{FromDate, jdbcType = VARCHAR, mode = IN} , #{ToDate, jdbcType = VARCHAR, mode = IN}   ) }

    </select>


    <select id="saveOverSampling" resultMap="complianceDetailsResultMap">

        SELECT * FROM COMPLIANCE_DETAILS_CD
        WHERE ID_CM = #{cdId}

    </select>

    <update id="saveOverSamplingRemark">

UPDATE COMPLIANCE_DETAILS_CD SET REMARKS = #{remark} WHERE ID_CM = #{id}

    </update>

    <update id="saveOverSamplingReason">

        UPDATE COMPLIANCE_DETAILS_CD SET REASON = #{reason} WHERE ID_CM = #{id}

    </update>









</mapper>
