<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CostCenterMapper">
    <resultMap id="costCenterResultMap" type="com.squer.promobee.service.repository.domain.CostCenter">
        <id property="id" column="id_ccm"/>
        <result property="name" column="name_ccm"/>
        <result property="ciName" column="ci_name_ccm"/>
        <result property="code" column="code_ccm"/>
        <result property="active" column="is_active_ccm"/>
        <result property="createdAt" column="created_on_ccm"/>
        <result property="createdBy" column="created_by_ccm"/>
        <result property="updatedAt" column="updated_on_ccm"/>
        <result property="updatedBy" column="updated_by_ccm"/>
<!--        <result property="brandId.id" column="id_brd"/>-->
<!--        <result property="brandId.name" column="name_brd"/>-->
        <association property="brandId" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="id_brd"/>
            <result property="name" column="name_brd"/>
        </association>

    </resultMap>

    <select id="getCostCenterNameById" resultType="Map">
        select NAME_CCM from COST_CENTER_MASTER_CCM where ID_CCM = #{ccmId}
    </select>

    <select id="getCostCenterCodeById" resultType="Map">
        select CODE_CCM from COST_CENTER_MASTER_CCM where ID_CCM= #{ccmId}
    </select>


    <select id="getCostCenter" resultMap="costCenterResultMap" >
        select * from COST_CENTER_MASTER_CCM
        where IS_ACTIVE_CCM = #{active}
    </select>

    <insert id="addCostCenter">
        insert into COST_CENTER_MASTER_CCM (ID_CCM, NAME_CCM, CI_NAME_CCM, CODE_CCM, IS_ACTIVE_CCM, CREATED_ON_CCM, CREATED_BY_CCM,
                                       UPDATED_ON_CCM,UPDATED_BY_CCM)
        values( #{id}, #{name}, #{ciName}, #{code}, #{active}, GETDATE(), #{createdBy}, GETDATE(), #{updatedBy} )
    </insert>

    <update id="editCostCenter">

        UPDATE COST_CENTER_MASTER_CCM SET NAME_CCM = #{name}, CODE_CCM = #{code}, CI_NAME_CCM = #{ciName},IS_ACTIVE_CCM = #{active} , UPDATED_ON_CCM = GETDATE() ,  UPDATED_BY_CCM = #{updatedBy}

        WHERE ID_CCM = #{id}

    </update>

    <select id="getCostCenterById" resultMap="costCenterResultMap" >
        select ccm.*,brd.id_brd,brd.name_brd
        from COST_CENTER_MASTER_CCM ccm
        join COSTCENTER_BRAND_CBR cbr on cbr.ID_CCM_CBR = ccm.ID_CCM
        join BRAND_MASTER_BRD brd on brd.ID_BRD = cbr.ID_BRD_CBR
        where ccm.ID_CCM = #{id}
    </select>

<!--    <select id="getCostCenterById" resultMap="costCenterResultMap" >-->
<!--        select * from COST_CENTER_MASTER_CCM-->
<!--        where ID_CCM = #{id}-->
<!--    </select>-->



    <select id="getCostCenterDropdown" resultMap="costCenterResultMap" >
        SELECT * FROM COST_CENTER_MASTER_CCM CCM
        JOIN COSTCENTER_BRAND_CBR CBR ON CBR.ID_CCM_CBR = CCM.ID_CCM
        JOIN BRAND_MASTER_BRD BRD ON BRD.ID_BRD = CBR.ID_BRD_CBR
        WHERE CCM.IS_ACTIVE_CCM = 1
    </select>




</mapper>