<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DashboardMapper">

    <select id="getPendingDispatch" resultType="com.squer.promobee.controller.dto.PendingDispacthDashboardDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_Home_HUB_DispatchPlanStatus () }

    </select>

    <select id="getHubNearExpiry" resultType="com.squer.promobee.controller.dto.HubNearExpiryDashboardDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_Home_HUB_NearExpiryItems () }

    </select>

    <select id="getHubPendingRevalidation" resultType="com.squer.promobee.controller.dto.HUBPendingRevalidationDashboardDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_Home_HUB_PendingRevalidation () }

    </select>

    <select id="getHubGrnErrorLog" resultType="com.squer.promobee.controller.dto.HubGrnErrorLogDashboardDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_Home_HUB_GrnErrorLog () }

    </select>

    <select id="getItemExpiredDetails" resultType="com.squer.promobee.controller.dto.ItemExpiredDetailsDashboardDTO" parameterType = "map" statementType = "CALLABLE">
        { call Get_ItemExpiredforhub () }

    </select>

    <select id="batchReconciliation" resultType="com.squer.promobee.controller.dto.BatchReconciliationDTO" parameterType = "map" statementType = "CALLABLE">
        { call Get_ReconciliationReport () }

    </select>


    <select id="buWiseMonthlyPlans" resultType="com.squer.promobee.controller.dto.BuWiseMonthlyPlansDTO" parameterType = "map" statementType = "CALLABLE">
        { call Get_BUWiseMonthlyPlans (#{fromdate, jdbcType = VARCHAR, mode = IN}, #{enddate, jdbcType = VARCHAR, mode = IN}) }

    </select>

    <select id="buWiseSpecialDispatch" resultType="com.squer.promobee.controller.dto.BUSpecialDisatchDTO" parameterType = "map" statementType = "CALLABLE">
        { call GetBuWiseSpecialDispatch (#{fromdate, jdbcType = VARCHAR, mode = IN}, #{enddate, jdbcType = VARCHAR, mode = IN}) }

    </select>

    <select id="blockUnblockFFDetails" resultType="com.squer.promobee.controller.dto.blockUnblockDetailsDTO" parameterType = "map" statementType = "CALLABLE">
        { call Get_FFblockedbuwise (#{MONTH, jdbcType = VARCHAR, mode = IN}, #{YEAR, jdbcType = VARCHAR, mode = IN}) }

    </select>

    <select id="sampleInputExpired" resultType="com.squer.promobee.controller.dto.SampleInputExpiredDTO" parameterType = "map" statementType = "CALLABLE">
        { call Get_ItemExpired (#{startdate, jdbcType = VARCHAR, mode = IN}, #{enddate, jdbcType = VARCHAR, mode = IN}) }

    </select>

    <select id="hoDispatchDetails" resultType="com.squer.promobee.controller.dto.HoDispatchDetailsDTO" parameterType = "map" statementType = "CALLABLE">
        { call Get_HODispacthDetails (#{@fromdate, jdbcType = VARCHAR, mode = IN}, #{@enddate, jdbcType = VARCHAR, mode = IN}) }

    </select>





</mapper>