<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DashboardMapper">

    <select id="getPendingDispatch" resultType="com.squer.promobee.controller.dto.PendingDispacthDashboardDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_Home_HUB_DispatchPlanStatus () }

    </select>

    <select id="getHubNearExpiry" resultType="com.squer.promobee.controller.dto.HubNearExpiryDashboardDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_Home_HUB_NearExpiryItems () }

    </select>

    <select id="getHubPendingRevalidation" resultType="com.squer.promobee.controller.dto.HUBPendingRevalidationDashboardDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_Home_HUB_PendingRevalidation () }

    </select>

    <select id="getHubGrnErrorLog" resultType="com.squer.promobee.controller.dto.HubGrnErrorLogDashboardDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_Home_HUB_GrnErrorLog () }

    </select>

    <select id="getItemExpiredDetails" resultType="com.squer.promobee.controller.dto.ItemExpiredDetailsDashboardDTO" parameterType = "map" statementType = "CALLABLE">
        { call Get_ItemExpiredforhub () }

    </select>



</mapper>