<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DispatchDetailMapper">
    <resultMap id="dispatchDetailResultMap" type="com.squer.promobee.service.repository.domain.DispatchDetail">
        <id property="id" column="id_did"/>
        <result property="qtyDispatch" column="quantity_dispatch_did"/>
        <result property="remarks" column="remarks_did"/>
        <result property="createdAt" column="created_on_did"/>
        <result property="createdBy" column="created_by_did"/>
        <result property="updatedAt" column="updated_on_did"/>
        <result property="updatedBy" column="updated_by_did"/>
<!--        <result property="planId" column="id_dip_did"/>-->
<!--        <result property="inventoryId" column="id_inv_did"/>-->
<!--        <result property="recipientId" column="id_rct_did"/>-->
<!--        <result property="quarterlyPlanId" column="id_qtp_did"/>-->
<!--        <result property="detailStatus" column="id_status_slv_did"/>-->
<!--        <result property="categoryId" column="id_itc_did"/>-->
        <association property="planId" column="id_dip_did" select="getDispatchPlan" javaType="com.squer.promobee.service.repository.domain.DispatchPlan">
            <id property="id" column="id_dip"/>
        </association>
        <association property="inventoryId" column="id_inv_did" select="getInventory" javaType="com.squer.promobee.service.repository.domain.Inventory">
            <id property="id" column="id_inv"/>
        </association>
        <association property="recipientId" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="id_rct_did"/>
            <result property="name" column="name_rct"/>
        </association>
        <association property="quarterlyPlanId" column="id_qtp_did" select="getQuarterlyPlan" javaType="com.squer.promobee.service.repository.domain.QuarterlyPlan">
            <id property="id" column="id_qtp"/>
        </association>
        <association property="detailStatus" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="id_status_slv_did"/>
            <result property="name" column="name_slv"/>
        </association>
        <association property="categoryId" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="id_itc_did"/>
            <result property="name" column="name_itc"/>
        </association>

<!--        <association property="planId" javaType="com.squer.promobee.security.domain.NamedSquerEntity">-->
<!--            <id property="id" column="id_dip_did"/>-->
<!--            <result property="name" column="name_usr"/>-->
<!--        </association>-->
<!--        <association property="inventoryId" javaType="com.squer.promobee.security.domain.NamedSquerEntity">-->
<!--            <id property="id" column="id_inv_did"/>-->
<!--&lt;!&ndash;            <result property="name" column="name_usr"/>&ndash;&gt;-->
<!--        </association>-->
<!--        <association property="recipientId" javaType="com.squer.promobee.security.domain.NamedSquerEntity">-->
<!--            <id property="id" column="id_rct_did"/>-->
<!--            <result property="name" column="name_rct"/>-->
<!--        </association>-->
<!--        <association property="quarterlyPlanId" javaType="com.squer.promobee.security.domain.NamedSquerEntity">-->
<!--            <id property="id" column="id_qtp_did"/>-->
<!--&lt;!&ndash;            <result property="name" column="name_usr"/>&ndash;&gt;-->
<!--        </association>-->
<!--        <association property="detailStatus" javaType="com.squer.promobee.security.domain.NamedSquerEntity">-->
<!--            <id property="id" column="id_status_slv_did"/>-->
<!--            <result property="name" column="name_slv"/>-->
<!--        </association>-->
<!--        <association property="categoryId" javaType="com.squer.promobee.security.domain.NamedSquerEntity">-->
<!--            <id property="id" column="id_itc_did"/>-->
<!--            <result property="name" column="name_itc"/>-->
<!--        </association>-->
    </resultMap>


    <select id="getDispatchPlan" parameterType="map" resultType="com.squer.promobee.service.repository.domain.DispatchPlan" >
        select id_dip as id from DISPATCH_PLAN_DIP where id_dip=#{id_dip_did}
    </select>

    <select id="getInventory" parameterType="map" resultType="com.squer.promobee.service.repository.domain.Inventory" >
        select id_inv as id from INVENTORY_INV where id_inv=#{id_inv_did}
    </select>

    <select id="getQuarterlyPlan" parameterType="map" resultType="com.squer.promobee.service.repository.domain.QuarterlyPlan" >
        select id_qtp as id from QUARTERLY_PLAN_QTP where ID_QTP=#{id_qtp_did}
    </select>

    <insert id="dispatchDetailInsert" >
        insert into DISPATCH_DETAIL_DID(ID_DID, ID_DIP_DID, ID_INV_DID, ID_RCT_DID, QUANTITY_DISPATCH_DID, ID_QTP_DID, ID_STATUS_SLV_DID, REMARKS_DID, CREATED_ON_DID, CREATED_BY_DID, UPDATED_ON_DID, UPDATED_BY_DID, ID_ITC_DID)
        values(#{id}, #{planId.id}, #{inventoryId.id}, #{recipientId}, #{qtyDispatch}, #{quarterlyPlanId.id}, #{detailStatus.id}, #{remarks}, GETDATE(), #{craetedBy}, GETDATE(), #{updatedBy}, #{categoryId.id})
    </insert>


    <insert id="insertReversalPlanDetail" >
        insert into DISPATCH_DETAIL_DID(ID_DID, ID_DIP_DID, ID_INV_DID, ID_RCT_DID, QUANTITY_DISPATCH_DID, ID_QTP_DID, ID_STATUS_SLV_DID, CREATED_ON_DID, CREATED_BY_DID, UPDATED_ON_DID, UPDATED_BY_DID)
        values(#{id}, #{planId}, #{inventoryId}, #{recipientId}, #{qtyDispatch}, #{quarterlyPlanId}, #{detailStatus},  GETDATE(), #{createdBy}, GETDATE(), #{updatedBy})
    </insert>


    <select id="getDispatchDetails" resultType="com.squer.promobee.controller.dto.DispatchDetailDTO">
        SELECT ID_DID AS 'id',ID_DIP_DID AS 'planId',ID_INV_DID AS 'inventoryId',ID_RCT_DID AS 'recipientId',QUANTITY_DISPATCH_DID AS 'qtyDispatch',ID_QTP_DID AS 'quarterlyPlanId',ID_STATUS_SLV_DID AS 'detailStatus',
                REMARKS_DID AS 'remarks',CREATED_ON_DID AS 'createdAt', CREATED_BY_DID AS 'createdBy', UPDATED_ON_DID AS 'updatedAt', UPDATED_BY_DID AS 'updatedBy', ID_ITC_DID AS 'categoryId'
        FROM DISPATCH_DETAIL_DID DID
        JOIN DISPATCH_PLAN_DIP DIP ON DIP.ID_DIP =  DID.ID_DIP_DID
        WHERE DIP.MONTH_DIP = #{month} AND DIP.YEAR_DIP = #{year} AND DIP.IS_SPECIAL_DIP = #{isSpecial} AND DIP.ID_STATUS_SLV_DIP =  '00000000-0000-0000-0000-000000000024' AND
            DID.ID_RCT_DID =  #{recipientId} AND DID.ID_STATUS_SLV_DID = '986F1D6B-AF4B-4E80-AB09-9EC4F0CCDBE7'

    </select>

    <select id="getDispatchDetailVirtual" resultType="com.squer.promobee.controller.dto.DispatchDetailDTO">
        select * from DISPATCH_DETAIL_DID did
                          join DISPATCH_PLAN_DIP dip on did.ID_DIP_DID = dip.ID_DIP
        where dip.ID_DIP = #{planId} and  did.ID_RCT_DID = #{recipientId}
          and dip.ID_STATUS_SLV_DIP = '00000000-0000-0000-0000-000000000024' and did.ID_STATUS_SLV_DID = '986F1D6B-AF4B-4E80-AB09-9EC4F0CCDBE7'

    </select>


    <update id="editDispatchDetailsForInvoicing">


        UPDATE DISPATCH_DETAIL_DID SET ID_STATUS_SLV_DID =  #{detailStatus} , UPDATED_BY_DID = #{updatedBy} , UPDATED_ON_DID = GETDATE()
        WHERE ID_RCT_DID = #{recipientId}

    </update>


    <select id="getDispatchDetailsRejectPlan" resultMap="dispatchDetailResultMap" >
        SELECT * FROM DISPATCH_DETAIL_DID
        WHERE ID_DIP_DID =  #{planId}
    </select>

    <update id="rejectPlanDispatchDetails">


        UPDATE DISPATCH_DETAIL_DID SET ID_STATUS_SLV_DID =  #{detailStatus} , UPDATED_BY_DID = #{updatedBy} , UPDATED_ON_DID = GETDATE()
        WHERE ID_DID = #{id}

    </update>


    <select id="getDispatchDetailsForAllocation"  resultMap="dispatchDetailResultMap">
        SELECT DID*
        FROM DISPATCH_PLAN_DIP DIP
        join DISPATCH_DETAIL_DID DID on DIP.ID_DIP = DID.ID_DIP_DID
        where DID.ID_RCT_DID = #{rbmId} AND DIP.MONTH_DIP = #{month} AND DIP.YEAR_DIP = #{year}

    </select>



    <select id="rbmDetails" resultMap="dispatchDetailResultMap">
        SELECT *
        FROM DISPATCH_DETAIL_DID
        where DID.ID_DIP_DID = #{planId} AND DID.ID_INV_DID = #{invId}

    </select>


    <insert id="dispatchDetailAllocationInsert" >
        insert into DISPATCH_DETAIL_DID(ID_DID, ID_DIP_DID, ID_INV_DID, ID_RCT_DID, QUANTITY_DISPATCH_DID, ID_QTP_DID, ID_STATUS_SLV_DID,  CREATED_ON_DID, CREATED_BY_DID, UPDATED_ON_DID, UPDATED_BY_DID, ID_ITC_DID)
        values(#{id}, #{planId}, #{inventoryId}, #{recipientId}, #{qtyDispatch}, #{quarterlyPlanId}, #{detailStatus}, GETDATE(), #{createdBy}, GETDATE(), #{updatedBy}, #{categoryId})
    </insert>

    <update id="dispatchDetailAllocationUpdate">


        UPDATE DISPATCH_DETAIL_DID SET QUANTITY_DISPATCH_DID = 0  , UPDATED_BY_DID = #{updatedBy} , UPDATED_ON_DID = GETDATE()
        WHERE ID_DID = #{id}

    </update>


    <select id="getQuantityAllocatedOfUserToItemForBex" resultType="com.squer.promobee.controller.dto.DesignationWiseQuantityAllocatedDTO">
        select ulv.name_ulv as 'Designation', ulv.id_ulv as 'DesignationId',COALESCE(SUM(did.QUANTITY_DISPATCH_DID), 0) AS 'AllocatedQuantity' from DISPATCH_PLAN_DIP dip
                                                                                      join DISPATCH_DETAIL_DID did on dip.ID_DIP = did.ID_DIP_DID
                                                                                      JOIN RECIPIENT_MASTER_RCT RCT ON RCT.ID_RCT = DID.ID_RCT_DID
                                                                                      JOIN USER_LOV_ULV ULV  ON ULV.ID_ULV = RCT.ID_DESG_ULV_RCT
        where dip.MONTH_DIP = #{month} AND dip.YEAR_DIP = #{year} AND did.ID_INV_DID = #{inventoryId} AND dip.IS_SPECIAL_DIP = #{isSpecialDispatch}
        group by ulv.name_ulv

    </select>


    <select id="getQuantityAllocatedOfUserToItem" resultType="com.squer.promobee.controller.dto.DesignationWiseQuantityAllocatedDTO">
        select ulv.name_ulv as 'Designation',ulv.id_ulv as 'DesignationId', COALESCE(SUM(did.QUANTITY_DISPATCH_DID), 0) AS 'AllocatedQuantity' from DISPATCH_PLAN_DIP dip
                                                                                      join DISPATCH_DETAIL_DID did on dip.ID_DIP = did.ID_DIP_DID
                                                                                      JOIN RECIPIENT_MASTER_RCT RCT ON RCT.ID_RCT = DID.ID_RCT_DID
                                                                                      JOIN USER_LOV_ULV ULV  ON ULV.ID_ULV = RCT.ID_DESG_ULV_RCT
        where dip.MONTH_DIP = #{month} AND dip.YEAR_DIP = #{year} AND dip.ID_OWNER_USR_DIP = #{userId} AND
              did.ID_INV_DID = #{inventoryId} AND dip.IS_SPECIAL_DIP = #{isSpecialDispatch}
        group by ulv.name_ulv

    </select>


    <select id="getQuantityAllocatedDifferentialRecipient" resultType="com.squer.promobee.controller.dto.DifferentialRecipientAllocationDTO">
        SELECT RCT.ID_RCT as 'recipientId',RCT.NAME_RCT as 'recipientName' ,RCT.CODE_RCT as 'recipientCode',ULV.NAME_ULV as 'designation',DID.QUANTITY_DISPATCH_DID as 'allocatedQuantity' FROM DISPATCH_DETAIL_DID DID
        JOIN RECIPIENT_MASTER_RCT RCT ON RCT.ID_RCT = DID.ID_RCT_DID
        JOIN USER_LOV_ULV ULV ON ULV.ID_ULV = RCT.ID_DESG_ULV_RCT
        WHERE DID.ID_INV_DID = #{inventoryId} AND DID.ID_RCT_DID = #{recipientId} AND DID.ID_DIP_DID = #{planId}
          AND ID_STATUS_SLV_DID = '986F1D6B-AF4B-4E80-AB09-9EC4F0CCDBE7' AND RCT.ID_STATUS_SLV_RCT = '80BC3490-9F53-4C92-8DBA-3D5C7755FD73'

    </select>


    <insert id="saveCommonAllocation" >
        insert into DISPATCH_DETAIL_DID(ID_DID, ID_DIP_DID, ID_INV_DID, ID_RCT_DID, QUANTITY_DISPATCH_DID, ID_QTP_DID, ID_STATUS_SLV_DID,  CREATED_ON_DID, CREATED_BY_DID, UPDATED_ON_DID, UPDATED_BY_DID)
        values(#{id}, #{planId}, #{inventoryId}, #{recipientId}, #{qtyDispatch}, #{quarterlyPlanId}, #{detailStatus}, GETDATE(), #{createdBy}, GETDATE(), #{updatedBy})
    </insert>

    <delete id="deleteCommonAllocation">
        DELETE FROM DISPATCH_DETAIl_DID WHERE ID_DIP_DID = #{id}
    </delete>


    <select id="deleteSpecialAllocationDID" resultMap="dispatchDetailResultMap">
        SELECT *
        FROM DISPATCH_DETAIL_DID
        where ID_DIP_DID = #{id}

    </select>

    <delete id="specialAllocation">
        DELETE FROM DISPATCH_DETAIL_DID
        where ID_DID = #{id}
    </delete>


    <select id="createVirtualPlan" resultMap="dispatchDetailResultMap">
        SELECT *
        FROM DISPATCH_DETAIL_DID
        where ID_DIP_DID = #{id} and ID_INV_DID = #{invId}

    </select>

    <insert id="insertVirtualPlan" >
        insert into DISPATCH_DETAIL_DID(ID_DID, ID_DIP_DID, ID_INV_DID, ID_RCT_DID, QUANTITY_DISPATCH_DID, ID_QTP_DID, ID_STATUS_SLV_DID,  CREATED_ON_DID, CREATED_BY_DID, UPDATED_ON_DID, UPDATED_BY_DID)
        values(#{id}, #{planId}, #{inventoryId}, #{recipientId}, #{qtyDispatch}, #{quarterlyPlanId}, #{detailStatus}, GETDATE(), #{createdBy}, GETDATE(), #{updatedBy})
    </insert>


    <select id="getVirtualQuantityAllocatedToUserForRbm" resultType="com.squer.promobee.controller.dto.DesignationWiseQuantityAllocatedDTO">
        select ulv.name_ulv as 'Designation', COALESCE(SUM(did.QUANTITY_DISPATCH_DID), 0) AS 'AllocatedQuantity' from DISPATCH_PLAN_DIP dip
                                                                                                                          join DISPATCH_DETAIL_DID did on dip.ID_DIP = did.ID_DIP_DID
                                                                                                                          JOIN RECIPIENT_MASTER_RCT RCT ON RCT.ID_RCT = DID.ID_RCT_DID
                                                                                                                          JOIN USER_LOV_ULV ULV  ON ULV.ID_ULV = RCT.ID_DESG_ULV_RCT
        where dip.MONTH_DIP = #{month} AND dip.YEAR_DIP = #{year} AND did.ID_INV_DID = #{inventoryId} AND dip.IS_SPECIAL_DIP = #{isSpecialDispatch} AND did.ID_DIP_DID = #{planId}
        AND dip.IS_VIRTUAL_DIP = 1
        group by ulv.name_ulv

    </select>



    <update id="saveVirtualCommonAllocation">


        UPDATE DISPATCH_DETAIL_DID SET QUANTITY_DISPATCH_DID = 0  , UPDATED_BY_DID = #{updatedBy} , UPDATED_ON_DID = GETDATE()
        WHERE ID_DIP_DID = #{id}

    </update>





</mapper>