<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DispatchPlanMapper">

    <resultMap id="dispatchPlanResultMap" type="com.squer.promobee.service.repository.domain.DispatchPlan">
        <id property="id" column="id_dip"/>
        <result property="month" column="month_dip"/>
        <result property="year" column="year_dip"/>
        <result property="submissionDate" column="submission_dip" />
        <result property="approvalDate" column="approval_date_dip"/>
        <result property="isSpecial" column="is_special_dip"/>
        <result property="remarks" column="remarks_dip" />
        <result property="quarterlyPlan" column="qtr_dip" />
        <result property="isVirtual" column="is_virtual_dip" />
        <result property="createdAt" column="created_on_dip"/>
        <result property="createdBy" column="created_by_dip" />
        <result property="updatedAt" column="updated_on_dip" />
        <result property="updatedBy" column="updated_by_dip"/>
        <association property="owner" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="id_owner_usr_dip"/>
            <result property="name" column="name_usr"/>
        </association>
        <association property="planStatus" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="id_status_slv_dip"/>
            <result property="name" column="name_slv"/>
        </association>
        <association property="invoiceStatus" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="id_invoice_status_slv_dip"/>
            <result property="name" column="name_slv"/>
        </association>
    </resultMap>

    <select id="getPlanHeaderSelect" resultMap="dispatchPlanResultMap">
        SELECT ID_DIP, ID_OWNER_USR_DIP, MONTH_DIP, YEAR_DIP,
         ID_STATUS_SLV_DIP, SUBMISSION_DATE_DIP, APPROVAL_DATE_DIP,
         IS_SPECIAL_DIP, REMARKS_DIP, CREATED_ON_DIP, CREATED_BY_DIP,
         UPDATED_ON_DIP, UPDATED_BY_DIP, ID_INVOICE_STATUS_SLV_DIP,
         QTR_DIP, IS_VIRTUAL_DIP from DISPATCH_PLAN_DIP
         <where>
         <if test="monthPlan!=null">
           MONTH_DIP = #{monthPlan} </if>
         <if test="yearPlan!=null"> and YEAR_DIP = #{yearPlan} </if>
         <if test="userId!=null"> and ID_OWNER_USR_DIP = #{userId} </if>
         <if test="isSpecial!=null">and IS_SPECIAL_DIP = #{isSpecial}</if>
          </where>
    </select>

    <insert id="insertPlan">
        INSERT INTO DISPATCH_PLAN_DIP(ID_DIP, ID_OWNER_USR_DIP, MONTH_DIP, YEAR_DIP,ID_STATUS_SLV_DIP,
             IS_SPECIAL_DIP, REMARKS_DIP, CREATED_ON_DIP, CREATED_BY_DIP,
             UPDATED_ON_DIP, UPDATED_BY_DIP, ID_INVOICE_STATUS_SLV_DIP,
             QTR_DIP, IS_VIRTUAL_DIP) VALUES( #{id}, #{owner.id}, #{month}, #{year}, #{planStatus.id}, #{isSpecial},
            #{remarks}, GETDATE(), #{createdBy}, GETDATE(), #{updatedBy}, #{invoiceStatus.id}, #{quarterlyPlan}, #{isVirtual})
    </insert>


    <insert id="insertReversalPlan">
        INSERT INTO DISPATCH_PLAN_DIP(ID_DIP, ID_OWNER_USR_DIP, MONTH_DIP, YEAR_DIP,ID_STATUS_SLV_DIP,SUBMISSION_DATE_DIP,
            APPROVAL_DATE_DIP,
            IS_SPECIAL_DIP, REMARKS_DIP, CREATED_ON_DIP, CREATED_BY_DIP,
            UPDATED_ON_DIP, UPDATED_BY_DIP, ID_INVOICE_STATUS_SLV_DIP
            ) VALUES( #{id}, #{owner}, #{month}, #{year}, #{planStatus},GETDATE(),GETDATE(),
          #{isSpecial},#{remarks}, GETDATE(), #{createdBy}, GETDATE(), #{updatedBy}, #{invoiceStatus}
                                            )
    </insert>


    <select id="getDispatchPlanById" resultMap="dispatchPlanResultMap" >
        SELECT * FROM DISPATCH_PLAN_DIP
        WHERE ID_DIP =  #{id}

    </select>
    <select id="SpecialDraftPlanReminder" resultMap="dispatchPlanResultMap" >
        SELECT * FROM DISPATCH_PLAN_DIP WHERE ID_STATUS_SLV_DIP = '00000000-0000-0000-0000-000000000022' and
            IS_SPECIAL_DIP = 1 AND MONTH_DIP = #{month} AND YEAR_DIP = #{year}
    </select>


    <select id="reverseInventoryPlan" resultMap="dispatchPlanResultMap" >
        SELECT * FROM DISPATCH_PLAN_DIP
        WHERE MONTH_DIP = #{month} AND YEAR_DIP = #{year} AND REMARKS_DIP = #{remarks}
    </select>


    <select id="getDispatchPlanForAllocation" resultMap="dispatchPlanResultMap" >
        select * from DISPATCH_PLAN_DIP
        where MONTH_DIP = #{month} AND YEAR_DIP = #{year} AND ID_OWNER_USR_DIP = #{owner} AND IS_SPECIAL_DIP = 0
    </select>

    <select id="getSpecialDispatchPlanForAllocation" resultMap="dispatchPlanResultMap" >
        select * from DISPATCH_PLAN_DIP
        where MONTH_DIP = #{month} AND YEAR_DIP = #{year} AND REMARKS_DIP = #{name} AND IS_SPECIAL_DIP = 1
    </select>


    <update id="generateInvoiceDispatchPlanFullyInvoiced">

        UPDATE DISPATCH_PLAN_DIP SET ID_INVOICE_STATUS_SLV_DIP = #{invoiceStatus}, UPDATED_BY_DIP = #{updatedBy} , UPDATED_ON_DIP = GETDATE()
        WHERE ID_DIP = #{id}

    </update>

    <update id="generateInvoiceDispatchPlanPartialInvoiced">

        UPDATE DISPATCH_PLAN_DIP SET ID_INVOICE_STATUS_SLV_DIP = #{invoiceStatus}, UPDATED_BY_DIP = #{updatedBy} , UPDATED_ON_DIP = GETDATE()
        WHERE ID_DIP = #{id}

    </update>


    <insert id="insertUnlockPlan">
        INSERT INTO DISPATCH_PLAN_DIP(ID_DIP, ID_OWNER_USR_DIP, MONTH_DIP, YEAR_DIP,ID_STATUS_SLV_DIP,
                                      IS_SPECIAL_DIP, CREATED_ON_DIP, CREATED_BY_DIP,
                                      UPDATED_ON_DIP, UPDATED_BY_DIP, ID_INVOICE_STATUS_SLV_DIP
                                       ) VALUES( #{id}, #{owner}, #{month}, #{year}, #{planStatus}, #{isSpecial},
                                                                        GETDATE(), #{createdBy}, GETDATE(), #{updatedBy}, #{invoiceStatus} )
    </insert>

    <update id="updateUnlockPlan">

        UPDATE DISPATCH_PLAN_DIP SET ID_STATUS_SLV_DIP = #{planStatus}, UPDATED_BY_DIP = #{updatedBy} , UPDATED_ON_DIP = GETDATE()
        WHERE ID_DIP = #{id}
    </update>



    <select id="resetDraftPlan"  parameterType = "map" statementType = "CALLABLE">
        {call PROC_REVERSE_ALLOCATION_OF_DRAFT (#{ID_DIP, jdbcType = VARCHAR , mode = IN} )}
    </select>


    <update id="approvePlan">

        UPDATE DISPATCH_PLAN_DIP SET APPROVAL_DATE_DIP = GETDATE() , ID_STATUS_SLV_DIP = #{planStatus}, UPDATED_ON_DIP = GETDATE(), UPDATED_BY_DIP = #{updatedBy}
        WHERE ID_DIP = #{id}
    </update>

    <update id="rejectPlan">

        UPDATE DISPATCH_PLAN_DIP SET APPROVAL_DATE_DIP = GETDATE() , ID_STATUS_SLV_DIP = #{planStatus}, UPDATED_ON_DIP = GETDATE(), UPDATED_BY_DIP = #{updatedBy} , ID_INVOICE_STATUS_SLV_DIP = #{invoiceStatus}
        WHERE ID_DIP = #{id}
    </update>

    <update id="saveMonthlyToSpecial">

        UPDATE DISPATCH_PLAN_DIP SET SUBMISSION_DATE_DIP = GETDATE() , ID_STATUS_SLV_DIP = #{planStatus}, UPDATED_ON_DIP = GETDATE(), UPDATED_BY_DIP = #{updatedBy} , MONTH_DIP = #{month}, YEAR_DIP = #{year},
                                     IS_SPECIAL_DIP = #{isSpecial}, REMARKS_DIP = #{remarks}
        WHERE ID_DIP = #{id}
    </update>


    <select id="getDispatchPlanCount" resultMap="dispatchPlanResultMap" >
        SELECT * FROM DISPATCH_PLAN_DIP WHERE ID_DIP = #{id}
    </select>

    <update id="saveMonthlyToMonthly">

        UPDATE DISPATCH_PLAN_DIP SET   UPDATED_ON_DIP = GETDATE(), UPDATED_BY_DIP = #{updatedBy} , MONTH_DIP = #{month}, YEAR_DIP = #{year},
                                     IS_SPECIAL_DIP = #{isSpecial}
        WHERE ID_DIP = #{id}
    </update>


    <insert id="insertPlanForAllocation">
        INSERT INTO DISPATCH_PLAN_DIP(ID_DIP, ID_OWNER_USR_DIP, MONTH_DIP, YEAR_DIP,ID_STATUS_SLV_DIP,
                                      IS_SPECIAL_DIP,  CREATED_ON_DIP, CREATED_BY_DIP,
                                      UPDATED_ON_DIP, UPDATED_BY_DIP, ID_INVOICE_STATUS_SLV_DIP
                                     )
        VALUES( #{id}, #{owner}, #{month}, #{year}, #{planStatus}, #{isSpecial},
                 GETDATE(), #{createdBy}, GETDATE(), #{updatedBy}, #{invoiceStatus})
    </insert>

    <update id="submitMonthlyAllocation">

        UPDATE DISPATCH_PLAN_DIP SET   SUBMISSION_DATE_DIP = GETDATE() , ID_STATUS_SLV_DIP = #{planStatus} , ID_INVOICE_STATUS_SLV_DIP = #{invoiceStatus} ,UPDATED_ON_DIP = GETDATE(), UPDATED_BY_DIP = #{updatedBy}
         WHERE ID_DIP = #{id}
    </update>


    <insert id="insertSpecialPlanForAllocation">
        INSERT INTO DISPATCH_PLAN_DIP(ID_DIP, ID_OWNER_USR_DIP, MONTH_DIP, YEAR_DIP,ID_STATUS_SLV_DIP,
                                      IS_SPECIAL_DIP,REMARKS_DIP,  CREATED_ON_DIP, CREATED_BY_DIP,
                                      UPDATED_ON_DIP, UPDATED_BY_DIP, ID_INVOICE_STATUS_SLV_DIP,IS_VIRTUAL_DIP
        )
        VALUES( #{id}, #{owner}, #{month}, #{year}, #{planStatus}, #{isSpecial},#{remarks},
                GETDATE(), #{createdBy}, GETDATE(), #{updatedBy}, #{invoiceStatus} , #{isVirtual})
    </insert>


    <select id="searchSpecialPlanWithoutRemarks" resultMap="dispatchPlanResultMap" >
        SELECT * FROM DISPATCH_PLAN_DIP WHERE MONTH_DIP = #{month} AND YEAR_DIP = #{year} AND ID_STATUS_SLV_DIP = #{status}
                                          AND IS_SPECIAL_DIP = 1 AND IS_VIRTUAL_DIP = 0
    </select>



    <select id="createSpecialPlan" resultMap="dispatchPlanResultMap" >
        SELECT * FROM DISPATCH_PLAN_DIP WHERE MONTH_DIP = #{month} AND YEAR_DIP = #{year} AND REMARKS_DIP = #{name}
                                          AND IS_SPECIAL_DIP = 1
    </select>

    <select id="searchSpecialPlanWithRemarks" resultMap="dispatchPlanResultMap" >
        SELECT * FROM DISPATCH_PLAN_DIP WHERE MONTH_DIP = #{month} AND YEAR_DIP = #{year} AND ID_STATUS_SLV_DIP = #{status} AND REMARKS_DIP = #{remark}
        AND IS_SPECIAL_DIP = 1 AND IS_VIRTUAL_DIP = 0
    </select>

    <delete id="deleteSpecialAllocation">
        DELETE FROM DISPATCH_PLAN_DIP WHERE ID_DIP = #{id}
    </delete>

    <select id="createVirtualPlan" resultMap="dispatchPlanResultMap" >
        SELECT * FROM DISPATCH_PLAN_DIP WHERE MONTH_DIP = #{month} AND YEAR_DIP = #{year} AND ID_OWNER_USR_DIP = #{owner} and IS_SPECIAL_DIP = 1 and IS_VIRTUAL_DIP = 1
    </select>


    <insert id="insertVirtualPlan">
        INSERT INTO DISPATCH_PLAN_DIP(ID_DIP, ID_OWNER_USR_DIP, MONTH_DIP, YEAR_DIP,ID_STATUS_SLV_DIP,
                                      IS_SPECIAL_DIP,REMARKS_DIP,  CREATED_ON_DIP, CREATED_BY_DIP,
                                      UPDATED_ON_DIP, UPDATED_BY_DIP, ID_INVOICE_STATUS_SLV_DIP,IS_VIRTUAL_DIP
        )
        VALUES( #{id}, #{owner}, #{month}, #{year}, #{planStatus}, #{isSpecial},#{remarks},
                GETDATE(), #{createdBy}, GETDATE(), #{updatedBy}, #{invoiceStatus} , #{isVirtual})
    </insert>

    <update id="submitVirtualAllocation">

        UPDATE DISPATCH_PLAN_DIP SET  SUBMISSION_DATE_DIP = GETDATE() , ID_STATUS_SLV_DIP = #{planStatus} , ID_INVOICE_STATUS_SLV_DIP = #{invoiceStatus} , UPDATED_ON_DIP = GETDATE() , UPDATED_BY_DIP = #{updatedBy}
        WHERE ID_DIP = #{id}
    </update>


    <delete id="SpecialDraftPlanReminderDelete">
        DELETE FROM DISPATCH_PLAN_DIP WHERE ID_DIP = #{planId}

    </delete>

    <select id="multipleAllocationUploadPlan" resultMap="dispatchPlanResultMap" >
        SELECT * FROM DISPATCH_PLAN_DIP WHERE ID_DIP = #{planId}
    </select>


    <select id="monthlyAllocationDispatchPlanData" resultMap="dispatchPlanResultMap" >
        SELECT * FROM DISPATCH_PLAN_DIP WHERE ID_DIP = #{planId}
    </select>







</mapper>
