<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DivisionMapper">
    <resultMap id="divisionResultMap" type="com.squer.promobee.service.repository.domain.Division">
        <id property="id" column="id_dim"/>
        <result property="name" column="name_dim"/>
        <result property="ciName" column="ci_name_dim"/>
        <result property="code" column="code_dim"/>
        <result property="active" column="is_active_dim"/>
        <result property="createdAt" column="created_on_dim"/>
        <result property="createdBy" column="created_by_dim"/>
        <result property="updatedAt" column="updated_on_dim"/>
        <result property="updatedBy" column="updated_by_dim"/>
        <association property="bu" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="id_bum_dim"/>
            <result property="name" column="name_bum"/>
        </association>
    </resultMap>


    <select id="getDivison" resultMap="divisionResultMap" >
        select * from DIVISION_MASTER_DIM
        where IS_ACTIVE_DIM = #{active}
    </select>

    <select id="getDivisionDropdown" resultMap="divisionResultMap" >
        select * from DIVISION_MASTER_DIM DIM
                          JOIN BU_MASTER_BUM BUM ON BUM.ID_BUM = DIM.ID_BUM_DIM
        where IS_ACTIVE_DIM = 1
    </select>

    <insert id="addDivision">
        insert into DIVISION_MASTER_DIM (ID_DIM, ID_BUM_DIM,NAME_DIM, CI_NAME_DIM, CODE_DIM, IS_ACTIVE_DIM, CREATED_ON_DIM  , CREATED_BY_DIM  ,
                                     UPDATED_ON_DIM,UPDATED_BY_DIM)
        values( #{id}, #{bu}, #{name}, #{ciName}, #{code}, #{active}, GETDATE(), #{createdBy}, GETDATE(), #{updatedBy} )
    </insert>


</mapper>
