<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FieldForceMapper">


    <resultMap id="fieldForceResultMap" type="com.squer.promobee.service.repository.domain.FF">
        <id property="id" column="id_rct"/>
        <result property="name" column="name_rct"/>
        <result property="ciName" column="ci_name_rct"/>
        <result property="code" column="code_rct"/>
        <result property="address" column="address_rct"/>
        <result property="city" column="city_rct"/>
        <result property="state" column="state_rct"/>
        <result property="zip" column="zip_rct"/>
        <result property="email" column="email_rct"/>
        <result property="mobile" column="mobile_rct"/>
        <result property="headQuarter" column="head_quarter_rct"/>
        <result property="zone" column="zone_rct"/>
        <result property="joiningDate" column="joining_date_rct"/>
        <result property="amName" column="am_name_rct"/>
        <result property="amCode" column="am_code_rct" />
        <result property="rmName" column="rm_name_rct" />
        <result property="rmCode" column="rm_code_rct" />
        <result property="nsmName" column="nsm_name_rct" />
        <result property="nsmCode" column="nsm_code_rct" />
        <result property="cfa" column="cfa_rct" />
        <result property="statusChangeDate" column="status_change_date_rct" />
        <result property="loginId" column="LoginId" />
        <result property="gender" column="Gender" />
        <result property="workId" column="WorkId" />
        <result property="createdAt" column="created_on_rct"/>
        <result property="createdBy" column="created_by_rct"/>
        <result property="updatedAt" column="updated_on_rct"/>
        <result property="updatedBy" column="updated_by_rct"/>
        <result property="emailAM" column="email_am"/>
        <result property="emailRBM" column="email_rm"/>

        <!--        <result property="team.id" column="id_tem_rct"/>-->
        <!--        <result property="team.name" column="name_tem"/>-->
        <association property="designation" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="id_ulv"/>
            <result property="name" column="name_ulv"/>
        </association>
        <association property="team" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="id_tem"/>
            <result property="name" column="name_tem"/>
        </association>

        <association property="recipientStatus" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="id_slv"/>
            <result property="name" column="name_slv"/>
        </association>

        <association property="businessUnit" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="id_bum"/>
            <result property="name" column="name_bum"/>
        </association>

    </resultMap>



    <select id="getFieldForceByStatus" resultMap="fieldForceResultMap">
        SELECT RCT.*,ULV.ID_ULV,ULV.NAME_ULV,SLV.ID_SLV,SLV.NAME_SLV,TEM.ID_TEM,TEM.NAME_TEM,BUM.ID_BUM,BUM.NAME_BUM FROM RECIPIENT_MASTER_RCT RCT
                                                                                                                              JOIN USER_LOV_ULV ULV ON ULV.ID_ULV = RCT.ID_DESG_ULV_RCT
                                                                                                                              JOIN SYSTEM_LOV_SLV SLV ON SLV.ID_SLV =  RCT.ID_STATUS_SLV_RCT
                                                                                                                              JOIN TEAM_MASTER_TEM TEM ON TEM.ID_TEM =  RCT.ID_TEM_RCT
                                                                                                                              JOIN BU_MASTER_BUM BUM ON BUM.ID_BUM = RCT.ID_BUM_RCT
        WHERE RCT.ID_STATUS_SLV_RCT =  #{recipientStatus}

    </select>


    <select id="getFieldForceByCode" resultMap="fieldForceResultMap">
        SELECT RCT.*,ULV.ID_ULV,ULV.NAME_ULV,SLV.ID_SLV,SLV.NAME_SLV,TEM.ID_TEM,TEM.NAME_TEM,BUM.ID_BUM,BUM.NAME_BUM FROM RECIPIENT_MASTER_RCT RCT
                                                                                                                              JOIN USER_LOV_ULV ULV ON ULV.ID_ULV = RCT.ID_DESG_ULV_RCT
                                                                                                                              JOIN SYSTEM_LOV_SLV SLV ON SLV.ID_SLV =  RCT.ID_STATUS_SLV_RCT
                                                                                                                              JOIN TEAM_MASTER_TEM TEM ON TEM.ID_TEM =  RCT.ID_TEM_RCT
                                                                                                                              JOIN BU_MASTER_BUM BUM ON BUM.ID_BUM = RCT.ID_BUM_RCT
        WHERE RCT.CODE_RCT = #{code}

    </select>


    <select id="getFieldForceByName" resultMap="fieldForceResultMap">
        SELECT RCT.*,ULV.ID_ULV,ULV.NAME_ULV,SLV.ID_SLV,SLV.NAME_SLV,TEM.ID_TEM,TEM.NAME_TEM,BUM.ID_BUM,BUM.NAME_BUM FROM RECIPIENT_MASTER_RCT RCT
        JOIN USER_LOV_ULV ULV ON ULV.ID_ULV = RCT.ID_DESG_ULV_RCT
        JOIN SYSTEM_LOV_SLV SLV ON SLV.ID_SLV =  RCT.ID_STATUS_SLV_RCT
        JOIN TEAM_MASTER_TEM TEM ON TEM.ID_TEM =  RCT.ID_TEM_RCT
        JOIN BU_MASTER_BUM BUM ON BUM.ID_BUM = RCT.ID_BUM_RCT
        WHERE RCT.NAME_RCT = #{name}

    </select>


    <select id="getFieldForceHistory" resultType="com.squer.promobee.controller.dto.RecipientHistoryDTO">
        select RHT.ID_RHT as 'id',RHT.ID_RCT_RHT as 'recipientId',RCT.NAME_RCT as 'name',RCT.CODE_RCT as 'code',
                RHT.ADDRESS_RHT as 'address',RHT.CITY_RHT as 'city',RHT.STATE_RHT as 'state',RHT.ZIP_RHT as 'zip',RHT.CFA_RHT as 'cfa',
                RHT.MOBILE_RHT as 'contact',SLV.NAME_SLV as 'status',RHT.REMARKS_RHT as 'remarks',
                RHT.STATUS_CHANGE_DATE_RHT as 'changedOnDate',RHT.UPDATED_BY_RHT as 'UserId',USR.NAME_USR as 'changedBy',RHT.ID_TEM_RHT as 'TeamId',TEM.NAME_TEM as 'Team',RHT.ID_DESG_ULV_RHT as 'DesignationId',ulv.NAME_ULV as 'Designaton' from RECIPIENT_MASTER_HISTORY_RHT RHT
        JOIN RECIPIENT_MASTER_RCT RCT ON RCT.ID_RCT = RHT.ID_RCT_RHT
        JOIN TEAM_MASTER_TEM TEM ON TEM.ID_TEM =  RHT.ID_TEM_RHT
        JOIN USER_LOV_ULV ULV ON ULV.ID_ULV = RHT.ID_DESG_ULV_RHT
        JOIN SYSTEM_LOV_SLV SLV ON SLV.ID_SLV = RHT.ID_STATUS_SLV_RHT
        JOIN USER_MASTER_USR USR ON USR.ID_USR = RHT.UPDATED_BY_RHT
        WHERE ID_RCT_RHT = #{id}




    </select>


    <select id="getFieldForceById" resultMap="fieldForceResultMap">
        SELECT RCT.*,ULV.ID_ULV,ULV.NAME_ULV,SLV.ID_SLV,SLV.NAME_SLV,TEM.ID_TEM,TEM.NAME_TEM,BUM.ID_BUM,BUM.NAME_BUM FROM RECIPIENT_MASTER_RCT RCT
        JOIN USER_LOV_ULV ULV ON ULV.ID_ULV = RCT.ID_DESG_ULV_RCT
        JOIN SYSTEM_LOV_SLV SLV ON SLV.ID_SLV =  RCT.ID_STATUS_SLV_RCT
        JOIN TEAM_MASTER_TEM TEM ON TEM.ID_TEM =  RCT.ID_TEM_RCT
        JOIN BU_MASTER_BUM BUM ON BUM.ID_BUM = RCT.ID_BUM_RCT
        WHERE RCT.ID_RCT = #{id}

    </select>



    <insert id="insertFieldForceHistory">
        INSERT INTO RECIPIENT_MASTER_HISTORY_RHT (ID_RHT,ID_RCT_RHT,NAME_RHT,CI_NAME_RHT,CODE_RHT,ADDRESS_RHT,CITY_RHT,STATE_RHT,ZIP_RHT,EMAIL_RHT,MOBILE_RHT,
        ID_DESG_ULV_RHT,HEAD_QUARTER_RHT,ZONE_RHT,JOINING_DATE_RHT,ID_TEM_RHT,CFA_RHT,ID_STATUS_SLV_RHT,STATUS_CHANGE_DATE_RHT,CREATED_ON_RHT,CREATED_BY_RHT,
        UPDATED_ON_RHT,UPDATED_BY_RHT,REMARKS_RHT,EMAIL_RM_RHT,EMAIL_AM_RHT,ID_BUM_RHT)
        VALUES(#{id},#{recipientId},#{name},#{ciName},#{code},#{address},#{city},#{state},#{zip},#{email},#{mobile},
               #{designation},#{headQuarter},#{zone},#{joiningDate},#{team},#{cfa},#{status},GETDATE(),GETDATE(),#{createdBy},
               GETDATE(),#{updatedBy},#{remarks},#{emailRBM},#{emailAM},#{businessUnit})
    </insert>


    <update id="editFieldForce">

        UPDATE RECIPIENT_MASTER_RCT SET NAME_RCT = #{name} , CI_NAME_RCT =  #{ciName}, CODE_RCT = #{code}, ADDRESS_RCT = #{address},
        CITY_RCT = #{city}, STATE_RCT = #{state}, ZIP_RCT = #{zip}, EMAIL_RCT = #{email}, MOBILE_RCT = #{mobile},ID_DESG_ULV_RCT = #{designation}, HEAD_QUARTER_RCT = #{headQuarter},
        ZONE_RCT = #{zone}, JOINING_DATE_RCT = #{joiningDate}, ID_TEM_RCT = #{team}, CFA_RCT = #{cfa}, ID_STATUS_SLV_RCT = #{recipientStatus}, STATUS_CHANGE_DATE_RCT = GETDATE(),
        UPDATED_ON_RCT = GETDATE() , UPDATED_BY_RCT = #{updatedBy} , LoginId = #{loginId} , Gender = #{gender},WorkId = #{workId}, EMAIL_RM = #{emailRBM} , EMAIL_AM = #{emailAM}, ID_BUM_RCT = #{businessUnit}
        WHERE ID_RCT = #{id}

    </update>


    <insert id="addFieldForce">
        INSERT INTO RECIPIENT_MASTER_RCT (ID_RCT,NAME_RCT,CI_NAME_RCT,CODE_RCT,ADDRESS_RCT,CITY_RCT,STATE_RCT,ZIP_RCT,EMAIL_RCT,MOBILE_RCT,ID_DESG_ULV_RCT,HEAD_QUARTER_RCT,ZONE_RCT,JOINING_DATE_RCT,
                                          ID_TEM_RCT,CFA_RCT,ID_STATUS_SLV_RCT,STATUS_CHANGE_DATE_RCT,CREATED_ON_RCT,CREATED_BY_RCT,UPDATED_ON_RCT,UPDATED_BY_RCT,LoginId,Gender,WorkId,EMAIL_RM,EMAIL_AM,ID_BUM_RCT)
        VALUES ( #{id},#{name},#{ciName},#{code},#{address},#{city},#{state},#{zip},#{email},#{mobile},#{designation},#{headQuarter},#{zone},#{joiningDate},
               #{team},#{cfa},#{recipientStatus},GETDATE(),GETDATE(),#{createdBy},GETDATE(),#{updatedBy},#{loginId},#{gender},#{workId},#{emailRBM},
               #{emailAM},#{businessUnit} )
    </insert>

    <select id="checkFieldForceCode" resultMap="fieldForceResultMap">
        SELECT * FROM RECIPIENT_MASTER_RCT
        WHERE CODE_RCT = #{code}

    </select>


    <select id="checkFieldWorkId" resultMap="fieldForceResultMap">
        SELECT * FROM RECIPIENT_MASTER_RCT
        WHERE WorkId = #{workId}

    </select>






</mapper>