<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="InventoryExpiryUpdateMapper">
    <resultMap id="inventoryExpiryUpdateResultMap" type="com.squer.promobee.service.repository.domain.InventoryExpiryUpdate">
        <id property="id" column="id_ieu"/>
        <result property="expiryDate" column="expiry_date_ieu"/>
        <result property="uploadDocumentPath" column="upload_document_path_ieu"/>
        <result property="quantityRemaining" column="quantity_remaining_ieu"/>
        <result property="replyNote" column="reply_note_ieu"/>
        <result property="createdAt" column="created_on_ieu"/>
        <result property="createdBy" column="created_by_ieu"/>
        <result property="updatedAt" column="updated_on_ieu"/>
        <result property="updatedBy" column="updated_by_ieu"/>
        <association property="inventoryId" column="id_inv_ieu" select="getInventory" javaType="com.squer.promobee.service.repository.domain.Inventory">
            <id property="id" column="id_inv"/>
        </association>
        <association property="ownerId" javaType="com.squer.promobee.security.domain.User">
            <id property="id" column="id_owner_usr_ieu"/>
            <result property="name" column="name_usr"/>
        </association>
        <association property="statusId" javaType="com.squer.promobee.service.repository.domain.UserStatus">
            <id property="id" column="id_status_slv_ieu"/>
            <result property="name" column="name_slv"/>
        </association>
    </resultMap>

    <select id="getInventory" parameterType="map" resultType="com.squer.promobee.service.repository.domain.Inventory">
        select id_inv as id from INVENTORY_INV where id_inv=#{id_inv_ieu}
    </select>

    <select id="getItemRevalidationHub" resultType="com.squer.promobee.controller.dto.ItemRevalidationDTO">
        SELECT   ieu.ID_IEU as 'iEUID' ,
                inv.ID_INV as 'inventoryID' ,
                itm.NAME_ITM as 'item',
                itm.CODE_ITM as 'itemCode',
                itc.NAME_ITC as 'category',
                itm.MEDICAL_CODE_ITM as 'medicalCode',
                inv.PO_NO_INV as 'poNo',
                inv.QTY_RECEIVED_INV - inv.QTY_DISPATCHED_INV as 'remainingQuantity',
                inv.EXPIRY_DATE_INV as 'expiryDate',
                usr.ID_USR as 'userID',
                usr.NAME_USR as 'userName',
                ieu.CREATED_ON_IEU  as 'createdDate'
        FROM ITEM_MASTER_ITM itm
                 JOIN ITEM_CATEGORY_MASTER_ITC itc ON itc.ID_ITC = itm.ID_ITC_ITM
                 JOIN INVENTORY_INV inv ON INV.ID_ITM_INV = itm.ID_ITM
                 JOIN INVENTORY_EXPIRY_UPDATE_IEU ieu ON ieu.ID_INV_IEU = inv.ID_INV
                 JOIN USER_MASTER_USR usr ON usr.ID_USR =  ieu.ID_OWNER_USR_IEU
        WHERE itm.ID_ITM = #{itemId} and ieu.ID_STATUS_SLV_IEU = #{revldType}
    </select>

</mapper>
