<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="InventoryMapper">
    <resultMap id="inventoryResultMap" type="com.squer.promobee.service.repository.domain.Inventory">
        <id property="id" column="id_inv"/>
        <result property="packSize" column="pack_size_inv"/>
        <result property="poNo" column="po_no_inv"/>
        <result property="limid" column="limid_inv" />
        <result property="postingDate" column="posting_date_inv" />
        <result property="expiryDate" column="expiry_date_inv" />
        <result property="medicalCode" column="medical_code_inv" />
        <result property="ratePerUnit" column="rate_per_unit_inv" />
        <result property="qtyReceived" column="qty_received_inv" />
        <result property="qtyAllocated" column="qty_allocated_inv" />
        <result property="qtyDispatched" column="qty_dispatched_inv" />
        <result property="numBoxes" column="num_boxes_inv" />
        <result property="isUnitAllocation" column="is_unit_allocation_inv" />
        <result property="batchNo" column="batch_no_inv" />
        <result property="isBlockItem" column="is_block_item_inv" />
        <result property="comment" column="comment_inv" />
        <result property="hsnCode" column="hsn_code_inv" />
        <result property="rate" column="rate_per_inv" />
        <result property="units" column="units_inv" />
        <result property="createdAt" column="created_on_inv"/>
        <result property="createdBy" column="created_by_inv"/>
        <result property="updatedAt" column="updated_on_inv"/>
        <result property="updatedBy" column="updated_by_inv"/>
        <association property="ccmID" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="id_ccm_inv"/>
            <result property="name" column="name_ccm"/>
        </association>
        <association property="categoryId" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="id_itc_inv"/>
            <result property="name" column="name_itc"/>
        </association>
        <association property="grnId" column="id_grn_inv" select="getGRN" javaType="com.squer.promobee.security.domain.SquerEntity">
            <id property="id" column="id_grn"/>
        </association>
        <association property="vendorId" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="id_vnd_inv"/>
            <result property="name" column="name_vnd"/>
        </association>
        <association property="item" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="id_itm_inv"/>
            <result property="name" column="name_itm"/>
        </association>
    </resultMap>

    <select id="getGRN" parameterType="map" resultType="com.squer.promobee.service.repository.domain.GRNAcknowledgement" >
        select id_grn as id from GRN_ACKNOWLEDGEMENT_GRN where id_grn=#{id_grn_inv}
    </select>

    <select id="getAllocationInventoryWithCostcenter" parameterType="map" resultType="com.squer.promobee.controller.dto.AllocationInventoryDetailsWithCostCenterDTO" >
        SELECT INV.ID_INV, 1 AS 'isItem',CCM.ID_CCM AS 'costCenterID',CCM.NAME_CCM AS 'costCenterName',ITM.ID_ITM AS 'itemID',ITM.NAME_ITM AS 'itemName',
        INV.QTY_RECEIVED_INV AS qtyReceived, INV.QTY_ALLOCATED_INV AS qtyAllocated, INV.QTY_DISPATCHED_INV AS qtyDispatched,
        isnull((INV.QTY_RECEIVED_INV - INV.QTY_ALLOCATED_INV - INV.QTY_DISPATCHED_INV),0) AS 'stock',INV.EXPIRY_DATE_INV AS 'expiryDate',
        INV.PO_NO_INV AS 'poNo',INV.PACK_SIZE_INV AS 'packSize',
        SUM_DID.QUANTITY_DISPATCH_DID AS 'quantityAllocated',
        INV.ID_INV AS 'inventoryId', #{planId} as 'planId',
        INV.IS_BLOCK_ITEM_INV as 'isBlockItem'
        FROM INVENTORY_INV INV JOIN COST_CENTER_MASTER_CCM CCM ON INV.ID_CCM_INV = CCM.ID_CCM
        JOIN COSTCENTER_BRAND_CBR CBR ON CCM.ID_CCM = CBR.ID_CCM_CBR
        JOIN ITEM_MASTER_ITM ITM ON INV.ID_ITM_INV = ITM.ID_ITM
        JOIN ITEM_CATEGORY_MASTER_ITC ITC ON INV.ID_ITC_INV = ITC.ID_ITC
        JOIN BRANDMANAGER_BRAND_BBR BBR ON CBR.ID_BRD_CBR = BBR.ID_BRD_BBR
        LEFT JOIN (SELECT DID.ID_INV_DID ID_INV_DID, SUM(QUANTITY_DISPATCH_DID) QUANTITY_DISPATCH_DID  from DISPATCH_DETAIL_DID DID where  DID.ID_DIP_DID = #{planId}
        group by DID.ID_INV_DID) as SUM_DID on SUM_DID.ID_INV_DID = INV.ID_INV
        WHERE BBR.ID_USR_BBR = #{userId} AND DATEADD(DAY,ITC.CUTOFF_BEFORE_DAYS_ITC,CONVERT(date, GETDATE())) &lt; INV.EXPIRY_DATE_INV AND ITM.IS_ACTIVE_ITM != 0 and INV.IS_BLOCK_ITEM_INV=0
        UNION
        SELECT INV1.ID_INV, 0 AS 'isItem',BRD1.ID_BRD AS 'costCenterID', BRD1.NAME_BRD AS 'costCenterName',SMP.ID_SMP AS 'itemID',SMP.NAME_SMP AS 'itemName',
                INV1.QTY_RECEIVED_INV AS qtyReceived, INV1.QTY_ALLOCATED_INV AS qtyAllocated, INV1.QTY_DISPATCHED_INV AS qtyDispatched,
        isnull((INV1.QTY_RECEIVED_INV - INV1.QTY_ALLOCATED_INV - INV1.QTY_DISPATCHED_INV),0) AS 'stock',INV1.EXPIRY_DATE_INV AS 'expiryDate',
        INV1.PO_NO_INV AS 'poNo',INV1.PACK_SIZE_INV AS 'packSize',
        SUM_DID.QUANTITY_DISPATCH_DID AS 'quantityAllocated',
        INV1.ID_INV AS 'inventoryId', #{planId} as 'planId',
        INV1.IS_BLOCK_ITEM_INV  as 'isBlockItem'
        FROM SAMPLE_MASTER_SMP SMP
        JOIN INVENTORY_INV INV1 ON SMP.LMID_SMP = INV1.LMID_INV
        JOIN ITEM_CATEGORY_MASTER_ITC ITC1 ON INV1.ID_ITC_INV = ITC1.ID_ITC
        JOIN BRANDMANAGER_BRAND_BBR BBR1 ON SMP.ID_BRD_SMP = BBR1.ID_BRD_BBR
        JOIN BRAND_MASTER_BRD BRD1 ON BBR1.ID_BRD_BBR = BRD1.ID_BRD
        LEFT JOIN (SELECT DID.ID_INV_DID ID_INV_DID, SUM(QUANTITY_DISPATCH_DID) QUANTITY_DISPATCH_DID  from DISPATCH_DETAIL_DID DID where  DID.ID_DIP_DID = #{planId}  group by DID.ID_INV_DID) as SUM_DID on SUM_DID.ID_INV_DID = INV1.ID_INV
        WHERE BBR1.ID_USR_BBR = #{userId} AND DATEADD(DAY,ITC1.CUTOFF_BEFORE_DAYS_ITC,CONVERT(date, GETDATE())) &lt; INV1.EXPIRY_DATE_INV
        AND SMP.IS_ACTIVE_SMP != 0 and INV1.IS_BLOCK_ITEM_INV=0
        ORDER BY CCM.NAME_CCM,ITM.NAME_ITM
    </select>

    <select id="planDistributionForItemSelect" resultType="Map">
        SELECT ID_TEM_RCT, sum(QUANTITY_DISPATCH_DID) QUANTITY, ID_ITM_INV
        from DISPATCH_DETAIL_DID
        inner join RECIPIENT_MASTER_RCT on ID_RCT = ID_RCT_DID
        inner join INVENTORY_INV on ID_INV = ID_INV_DID
        where ID_DIP_DID = #{planId}
        group by ID_TEM_RCT, ID_ITM_INV
    </select>

    <insert id="insertInventory">
        insert into INVENTORY_INV (ID_INV, ID_ITM_INV, ID_GRN_INV, PACK_SIZE_INV, PO_NO_INV, ID_CCM_INV, LMID_INV, POSTING_DATE_INV, EXPIRY_DATE_INV, ID_ITC_INV, MEDICAL_CODE_INV, ID_VND_INV, RATE_PER_UNIT_INV, QTY_RECEIVED_INV, QTY_ALLOCATED_INV, QTY_DISPATCHED_INV, NUM_BOXES_INV,
         IS_UNIT_ALLOCATION_INV, BATCH_NO_INV, CREATED_ON_INV, CREATED_BY_INV, UPDATED_ON_INV, UPDATED_BY_INV, HSN_CODE_INV, RATE_PER_INV, UNITS_INV)
        values(#{id}, #{item.id}, #{grnId.id}, #{packSize}, #{poNo}, #{ccmID.id}, #{limid}, #{postingDate}, #{expiryDate}, #{categoryId.id}, #{medicalCode}, #{vendorId.id},
         #{ratePerUnit}, #{qtyReceived}, #{qtyAllocated}, #{qtyDispatched}, #{numBoxes}, #{unitAllocation}, #{batchNo}, GETDATE(), #{createdBy}, GETDATE(), #{updatedBy}, #{hsnCode}, #{rate}, #{units})
    </insert>

    <update id="editUnitAllocation">

        UPDATE INVENTORY_INV SET IS_UNIT_ALLOCATION_INV = #{isUnitAllocation},   UPDATED_BY_INV = #{updatedBy} , UPDATED_ON_INV = GETDATE()
        WHERE ID_INV = #{id}

    </update>




    <update id="blockItem">

        UPDATE INVENTORY_INV SET IS_BLOCK_ITEM_INV = #{isBlockItem},   UPDATED_BY_INV = #{updatedBy} , UPDATED_ON_INV = GETDATE()
        WHERE ID_INV = #{id}

    </update>


    <select id="searchInventory" resultType="com.squer.promobee.controller.dto.InventoryDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_GET_INVENTORY_ITEMS_NEW_PLATFORM ( #{isExhausted, jdbcType = INTEGER  , mode = IN} ) }

    </select>


<!--    <select id="searchInventory" resultType="com.squer.promobee.controller.dto.InventoryDTO" parameterType = "map" >-->
<!--        SELECT * INTO #TempInventory FROM-->
<!--            (SELECT ID_INV as 'invId'-->
<!--                  ,ID_ITM_INV as 'itemId'-->
<!--                  ,ID_GRN_INV as 'grnId'-->
<!--                  ,NAME_ITM as 'itemName'-->
<!--			  ,PACK_SIZE_INV as 'packSize'-->
<!--                  ,PO_NO_INV as 'poNo'-->
<!--                  ,ID_CCM_INV as 'ccmId'-->
<!--                  ,LMID_INV as 'limId'-->
<!--                  ,POSTING_DATE_INV as 'postingDate'-->
<!--                  ,EXPIRY_DATE_INV as 'expiryDate'-->
<!--                  ,ID_ITC_INV as 'categoryId'-->
<!--                  ,MEDICAL_CODE_INV as 'medicalCode'-->
<!--                  ,CODE_ITM 'ItemCode'-->
<!--			  ,ID_VND_INV as 'vendorId'-->
<!--                  ,RATE_PER_UNIT_INV as 'ratePerUnit'-->
<!--                  ,QTY_RECEIVED_INV as 'qtyReceived'-->
<!--                  ,QTY_ALLOCATED_INV as 'qtyAllocated'-->
<!--                  ,QTY_DISPATCHED_INV as 'qtyDispatched'-->
<!--                  ,NUM_BOXES_INV as 'numBoxes'-->
<!--                  ,IS_UNIT_ALLOCATION_INV as 'isUnitAllocation'-->
<!--                  ,BATCH_NO_INV as 'batchNo'-->
<!--                  ,NAME_ITC  as 'categoryName'-->
<!--			  ,IS_BLOCK_ITEM_INV as 'isBlockItem'-->
<!--			  ,COMMENT_INV as 'comment'-->
<!--			  ,UNITS_INV as 'units'-->
<!--             FROM INVENTORY_INV-->
<!--                      inner join ITEM_MASTER_ITM on ID_ITM = ID_ITM_INV-->
<!--                      inner join ITEM_CATEGORY_MASTER_ITC on ITEM_CATEGORY_MASTER_ITC.ID_ITC = ID_ITC_ITM-->
<!--&#45;&#45;              where CI_NAME_ITM like  #{name} + '%'-->
<!--             union all-->
<!--             SELECT  ID_INV as 'invId'-->
<!--                  ,ID_ITM_INV as 'itemId'-->
<!--                  ,ID_GRN_INV as 'grnId'-->
<!--                  ,NAME_SMP as 'ITEM_NAME'-->
<!--			  ,PACK_SIZE_INV as 'packSize'-->
<!--                  ,PO_NO_INV as 'poNo'-->
<!--                  ,ID_CCM_INV as 'ccmId'-->
<!--                  ,LMID_INV as 'limId'-->
<!--                  ,POSTING_DATE_INV as 'postingDate'-->
<!--                  ,EXPIRY_DATE_INV as 'expiryDate'-->
<!--                  ,ID_ITC_INV as 'categoryId'-->
<!--                  ,MEDICAL_CODE_INV as 'medicalCode'-->
<!--                  ,LMID_SMP  as 'itemCode'-->
<!--			  ,ID_VND_INV as 'vendorId'-->
<!--                  ,RATE_PER_UNIT_INV as 'ratePerUnit'-->
<!--                  ,QTY_RECEIVED_INV as 'qtyReceived'-->
<!--                  ,QTY_ALLOCATED_INV as 'qtyAllocated'-->
<!--                  ,QTY_DISPATCHED_INV as 'qtyDispatched'-->
<!--                  ,NUM_BOXES_INV as 'numBoxes'-->
<!--                  ,IS_UNIT_ALLOCATION_INV as 'isUnitAllocation'-->
<!--                  ,BATCH_NO_INV as 'batchNo'-->
<!--                 ,'Sample' as 'categoryName',-->
<!--                 IS_BLOCK_ITEM_INV as 'isBlockItem',-->
<!--                 COMMENT_INV as 'comment'-->
<!--                  ,UNITS_INV as 'units'-->
<!--             FROM INVENTORY_INV-->
<!--                      inner join SAMPLE_MASTER_SMP on ID_SMP = ID_ITM_INV-->
<!--&#45;&#45;              where CI_NAME_SMP like  #{name} + '%'-->
<!--            ) AS TempInventory-->

<!--            IF(#{isPopup} = 0)-->
<!--        begin-->
<!--		  IF(#{isExhausted} = 1)-->
<!--        BEGIN-->
<!--        SELECT * FROM #TempInventory WHERE (qtyReceived - qtyDispatched) = 0-->
<!--        END-->
<!--        ELSE-->
<!--        BEGIN-->
<!--        SELECT * FROM #TempInventory WHERE (qtyReceived - qtyDispatched) > 0-->
<!--        END-->
<!--        end-->
<!--        else-->
<!--        begin-->
<!--        SELECT * FROM #TempInventory-->
<!--        end-->

<!--    </select>-->

    <select id="getInventoryReversalHistory" parameterType="map" resultType="com.squer.promobee.controller.dto.InventoryReversalDTO" >
        SELECT INH.CREATED_ON_INH AS 'reversalDate',
                INH.NOTES_INH AS 'remarks',
                IND.QUANTITY_IND AS 'quantity',
        IND.ID_INV_IND AS 'invId'
        FROM INVOICE_HEADER_INH INH
        JOIN INVOICE_DETAIL_IND IND ON IND.ID_INH_IND =  INH.ID_INH
        WHERE INH.ID_TYPE_SLV_INH = 'EDC4D827-6C08-46CA-BF60-B41FFFC4EABE' AND
            IND.ID_INV_IND = #{id}
    </select>


    <select id="getInventoryAllocatedByBM" resultType="com.squer.promobee.controller.dto.InventoryReversalDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_GetInventoryAllocationByBM ( #{InvID, jdbcType = VARCHAR , mode = IN})}


    </select>


    <update id="inventoryUpdateQtyDispatch">

        UPDATE INVENTORY_INV SET QTY_DISPATCHED_INV = #{qtyDispatched},   UPDATED_BY_INV = #{updatedBy} , UPDATED_ON_INV = GETDATE()
        WHERE ID_INV = #{id}

    </update>

<!--    <select id="getInventoryById" resultMap="inventoryResultMap">-->
<!--        select ID_INV,ID_ITM_INV,ID_GRN_INV,PACK_SIZE_INV,PO_NO_INV,ID_CCM_INV,LMID_INV,POSTING_DATE_INV,EXPIRY_DATE_INV,-->
<!--               ID_ITC_INV,MEDICAL_CODE_INV,ID_VND_INV,RATE_PER_UNIT_INV,QTY_RECEIVED_INV,QTY_ALLOCATED_INV,QTY_DISPATCHED_INV,NUM_BOXES_INV,IS_UNIT_ALLOCATION_INV,BATCH_NO_INV,-->
<!--               CREATED_ON_INV,CREATED_BY_INV,UPDATED_ON_INV,UPDATED_BY_INV,IS_BLOCK_ITEM_INV,COMMENT_INV,HSN_CODE_INV,RATE_PER_INV,UNITS_INV-->
<!--        from INVENTORY_INV where ID_INV = #{id}-->
<!--    </select>-->

        <select id="getInventoryById" resultMap="inventoryResultMap">
            select * from INVENTORY_INV where ID_INV = #{id}
        </select>



    <update id="switchInventoryFromQtyDispatch">

        UPDATE INVENTORY_INV SET QTY_DISPATCHED_INV = #{qtyDispatched},   UPDATED_BY_INV = #{updatedBy} , UPDATED_ON_INV = GETDATE()
        WHERE ID_INV = #{id}

    </update>

    <update id="switchInventoryToQtyDispatch">

        UPDATE INVENTORY_INV SET QTY_DISPATCHED_INV = #{qtyDispatched},   UPDATED_BY_INV = #{updatedBy} , UPDATED_ON_INV = GETDATE()
        WHERE ID_INV = #{id}

    </update>


    <update id="generateInvoiceUpdate">

        UPDATE INVENTORY_INV SET QTY_DISPATCHED_INV = #{qtyDispatched}, QTY_ALLOCATED_INV = #{qtyAllocated},  UPDATED_BY_INV = #{updatedBy} , UPDATED_ON_INV = GETDATE()
        WHERE ID_INV = #{id}

    </update>

    <select id="getInventoryByIdForInvoicing" resultMap="inventoryResultMap">
        select * from INVENTORY_INV where ID_INV = #{id}
    </select>


    <select id="getInventoryForFifo" resultMap="inventoryResultMap">
        SELECT * FROM INVENTORY_INV
        WHERE (QTY_RECEIVED_INV - QTY_ALLOCATED_INV - QTY_DISPATCHED_INV) &gt;= PACK_SIZE_INV
        AND ID_ITM_INV = #{sampleId}
        AND EXPIRY_DATE_INV &gt;= #{cutoffday}
        AND EXPIRY_DATE_INV &lt; #{invExpiry}
        ORDER BY EXPIRY_DATE_INV DESC


    </select>


    <update id="saveCommonAllocation">

        UPDATE INVENTORY_INV SET  QTY_ALLOCATED_INV = #{qtyAllocated},  UPDATED_BY_INV = #{updatedBy} , UPDATED_ON_INV = GETDATE()
        WHERE ID_INV = #{id}

    </update>



</mapper>