<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="InvoiceHeaderMapper">
    <resultMap id="invoiceHeaderResultMap" type="com.squer.promobee.service.repository.domain.InvoiceHeader">
        <id property="id" column="id_inh"/>
        <result property="invoiceNo" column="invoice_no_inh"/>
        <result property="addressLine1" column="address_line_1_inh"/>
        <result property="addressLine2" column="address_line_2_inh"/>
        <result property="states" column="address_state_inh"/>
        <result property="city" column="address_city_inh"/>
        <result property="zip" column="address_zip_inh"/>
        <result property="phone" column="phone_inh"/>
        <result property="weight" column="weight_inh"/>
        <result property="noOfBoxes" column="no_of_boxes_inh"/>
        <result property="notes" column="notes_inh"/>
        <result property="sampleValue" column="sample_value_inh"/>
        <result property="otherItemValue" column="other_item_value_inh"/>
        <result property="indirectedId" column="indirectedinh_inh"/>
        <result property="groupInvoiceNo" column="group_invoice_no_inh"/>
        <result property="groupInvoiceId" column="id_group_invoice_inh"/>
        <result property="lrNumber" column="lr_number_inh"/>
        <result property="cfa" column="cfa_inh"/>
        <result property="createdAt" column="created_on_inh"/>
        <result property="createdBy" column="created_by_inh"/>
        <result property="updatedAt" column="updated_on_inh"/>
        <result property="updatedBy" column="updated_by_inh"/>
        <result property="type.id" column="id_type_slv_inh"/>
        <result property="type.name" column="name_slv"/>
        <result property="statusId.id" column="id_status_slv_inh"/>
        <result property="statusId.name" column="name_inh"/>
        <result property="teamId.id" column="id_tem_inh"/>
        <result property="teamId.name" column="name_tem"/>
        <result property="recipientId.id" column="id_rct_inh"/>
        <result property="recipientId.name" column="name_rct"/>
        <result property="transporterId.id" column="id_trn_inh"/>
        <result property="transporterId.name" column="name_trn"/>
        <result property="designationId.id" column="id_rct_desg_ulv_inh"/>
        <result property="designationId.name" column="name_ulv"/>
<!--        <association property="type" javaType="com.squer.promobee.service.repository.domain.UserStatus">-->
<!--            <id property="id" column="id_type_slv_inh"/>-->
<!--            <result property="name" column="name_slv"/>-->
<!--        </association>-->
<!--        <association property="statusId" javaType="com.squer.promobee.service.repository.domain.UserStatus">-->
<!--            <id property="id" column="id_status_slv_inh"/>-->
<!--            <result property="name" column="name_inh"/>-->
<!--        </association>-->
<!--        <association property="teamId" javaType="com.squer.promobee.service.repository.domain.Team">-->
<!--            <id property="id" column="id_tem_inh"/>-->
<!--            <result property="name" column="name_tem"/>-->
<!--        </association>-->
<!--        <association property="recipientId" javaType="com.squer.promobee.service.repository.domain.Recipient">-->
<!--            <id property="id" column="id_rct_inh"/>-->
<!--            <result property="name" column="name_rct"/>-->
<!--        </association>-->
<!--        <association property="transporterId" javaType="com.squer.promobee.security.domain.NamedSquerEntity">-->
<!--            <id property="id" column="id_trn_inh"/>-->
<!--            <result property="name" column="name_trn"/>-->
<!--        </association>-->
<!--        <association property="designationId" javaType="com.squer.promobee.service.repository.domain.UserDesignation">-->
<!--            <id property="id" column="id_rct_desg_ulv_inh"/>-->
<!--            <result property="name" column="name_ulv"/>-->
<!--        </association>-->
    </resultMap>


    <update id="editInvoiceHeader">
        UPDATE INVOICE_HEADER_INH SET WEIGHT_INH = #{weight} , NO_OF_BOXES_INH = #{noOfBoxes} , UPDATED_BY_INH = #{updatedBy} , UPDATED_ON_INH = GETDATE()
        WHERE INVOICE_NO_INH = #{invoiceNo}
    </update>


    <insert id="insertReversalInvoiceHeader" >
        insert into INVOICE_HEADER_INH
        (ID_INH,INVOICE_NO_INH,ID_TYPE_SLV_INH,ID_STATUS_SLV_INH,ID_TEM_INH,ID_RCT_INH,ADDRESS_LINE_1_INH,ADDRESS_STATE_INH,ADDRESS_CITY_INH,ADDRESS_ZIP_INH,NOTES_INH,
         ID_TRN_INH,CREATED_ON_INH,CREATED_BY_INH,UPDATED_ON_INH,UPDATED_BY_INH,ID_RCT_DESG_ULV_INH)
        values (
                   #{id},(SELECT MAX(INVOICE_NO_INH) FROM INVOICE_HEADER_INH) + 1,#{type},#{statusId},#{teamId},#{recipientId},
                   '','','','',#{notes},#{transporterId},GETDATE(),#{createdBy},GETDATE(),#{updatedBy},#{designationId})
    </insert>

<!--    <insert id="insertReversalInvoiceHeader" >-->
<!--        insert into INVOICE_HEADER_INH-->
<!--        (ID_INH,INVOICE_NO_INH,ID_TYPE_SLV_INH,ID_STATUS_SLV_INH,ID_TEM_INH,ID_RCT_INH,ADDRESS_LINE_1_INH,ADDRESS_STATE_INH,ADDRESS_CITY_INH,ADDRESS_ZIP_INH,NOTES_INH,-->
<!--         ID_TRN_INH,CREATED_ON_INH,CREATED_BY_INH,UPDATED_ON_INH,UPDATED_BY_INH,ID_RCT_DESG_ULV_INH)-->
<!--        values (-->
<!--                   NEWID(),#{invoiceNo},#{type},#{statusId},#{teamId},#{recipientId},-->
<!--                   '','','','',#{notes},#{transporterId},GETDATE(),#{createdBy},GETDATE(),#{updatedBy},#{designationId})-->
<!--    </insert>-->

    <select id="getMaxInvoiceNo" resultMap="invoiceHeaderResultMap">
        SELECT MAX(INVOICE_NO_INH) FROM INVOICE_HEADER_INH
    </select>

    <insert id="insertSwitchInvoiceHeader" >
        insert into INVOICE_HEADER_INH
        (ID_INH,INVOICE_NO_INH,ID_TYPE_SLV_INH,ID_STATUS_SLV_INH,ID_TEM_INH,ID_RCT_INH,ADDRESS_LINE_1_INH,ADDRESS_STATE_INH,ADDRESS_CITY_INH,ADDRESS_ZIP_INH,NOTES_INH,
         ID_TRN_INH,CREATED_ON_INH,CREATED_BY_INH,UPDATED_ON_INH,UPDATED_BY_INH)
        values (
                   #{id},(SELECT MAX(INVOICE_NO_INH) FROM INVOICE_HEADER_INH) + 1,#{type},#{statusId},#{teamId},#{recipientId},
                   '','','','',#{notes},#{transporterId},GETDATE(),#{createdBy},GETDATE(),#{updatedBy})
    </insert>

    <insert id="insertSwitchInvoiceHeader1" >
        insert into INVOICE_HEADER_INH
        (ID_INH,INVOICE_NO_INH,ID_TYPE_SLV_INH,ID_STATUS_SLV_INH,ID_TEM_INH,ID_RCT_INH,ADDRESS_LINE_1_INH,ADDRESS_STATE_INH,ADDRESS_CITY_INH,ADDRESS_ZIP_INH,NOTES_INH,
         ID_TRN_INH,CREATED_ON_INH,CREATED_BY_INH,UPDATED_ON_INH,UPDATED_BY_INH)
        values (
                   #{id},(SELECT MAX(INVOICE_NO_INH) FROM INVOICE_HEADER_INH) + 1,#{type},#{statusId},#{teamId},#{recipientId},
                   '','','','',#{notes},#{transporterId},GETDATE(),#{createdBy},GETDATE(),#{updatedBy})
    </insert>


    <select id="getInvoiceHeaderById" resultMap="invoiceHeaderResultMap">
        SELECT INH.*,SLV.NAME_SLV,TEM.NAME_TEM,TRN.NAME_TRN,ULV.NAME_ULV,RCT.NAME_RCT FROM INVOICE_HEADER_INH INH
        JOIN TEAM_MASTER_TEM TEM ON TEM.ID_TEM = INH.ID_TEM_INH
        JOIN SYSTEM_LOV_SLV SLV ON SLV.ID_SLV = INH.ID_STATUS_SLV_INH
        JOIN TRANSPORTER_TRN TRN ON TRN.ID_TRN = INH.ID_TRN_INH
        JOIN USER_LOV_ULV ULV ON ULV.ID_ULV = INH.ID_RCT_DESG_ULV_INH
        JOIN RECIPIENT_MASTER_RCT RCT ON RCT.ID_RCT = INH.ID_RCT_INH
        WHERE ID_INH = #{id}
    </select>



    <select id="getVirtualPrintInvoiceHeaders" resultType="com.squer.promobee.controller.dto.InvoicePrintDetailsDTO">
        SELECT  distinct inh.ID_INH as 'inhId',
                inh.INVOICE_NO_INH as 'invoiceNumber',
                ulv.NAME_ULV as 'employeeDesignation',
                dtm.ID_DTM as 'employeeId',
                dtm.NAME_DTM as 'employeeName',
                dtm.CODE_DTM   as 'employeeCode',
                inh.ADDRESS_LINE_1_INH as 'employeeAddress',
                inh.ADDRESS_CITY_INH as 'employeeCity',
                inh.ADDRESS_STATE_INH as 'employeeState',
                inh.ADDRESS_ZIP_INH as 'employeePinCode',
                inh.PHONE_INH as 'employeeMobileNumber',
                inh.LR_NUMBER_INH as 'employeeLRNumber',
                GETDATE() as 'employeeDate',
                inh.CREATED_ON_INH as 'employeeLRDate',
                tem.NAME_TEM as 'employeeTeam',
                trn.NAME_TRN as 'employeeTransport',
                '' as 'employeePermitNo',
                inh.CFA_INH as 'employeeCFA',
                inh.NO_OF_BOXES_INH as 'employeeTotalNoOfCases',
                inh.WEIGHT_INH as 'employeeTotalWeight',
                dip.ID_DIP as 'dipId',
                dip.REMARKS_DIP as 'employeeRemark',
                dip.MONTH_DIP as month,
 dip.YEAR_DIP as year,
 dip.IS_SPECIAL_DIP as 'isSpecial',
 dip.QTR_DIP as 'qtr',
         inh.ID_TEM_INH as teamId,
		 inh.SAMPLE_VALUE_INH as 'employeeSampleValue',
		 inh.OTHER_ITEM_VALUE_INH as 'employeeInputValue',
		 inh.SAMPLE_VALUE_INH + inh.OTHER_ITEM_VALUE_INH as 'employeeValue',
		 	CASE
     WHEN DIP.IS_SPECIAL_DIP = '1' THEN 'SPECIAL'
     WHEN DIP.IS_SPECIAL_DIP = '0' THEN 'MONTHLY'
     ELSE 'Unknown AllocationType' END AS 'type',
	 ETY.NAME_ETY AS 'legalEty'
        FROM INVOICE_HEADER_INH INH
			JOIN INVOICE_DETAIL_IND IND ON INH.ID_INH = IND.ID_INH_IND
	JOIN INVENTORY_INV INV ON IND.ID_INV_IND = INV.ID_INV
	JOIN ITEM_MASTER_ITM ITM ON IND.ID_ITM_IND = ITM.ID_ITM
        JOIN RECIPIENT_MASTER_RCT RCT ON RCT.ID_RCT = INH.ID_RCT_INH
        JOIN TEAM_MASTER_TEM TEM ON TEM.ID_TEM = INH.ID_TEM_INH
        JOIN USER_LOV_ULV ULV ON ULV.ID_ULV = INH.ID_RCT_DESG_ULV_INH
        JOIN INVOICE_DISPATCH_PLAN_IDP IDP ON IDP.ID_INH_IDP = INH.ID_INH
        JOIN DISPATCH_PLAN_DIP DIP ON DIP.ID_DIP = IDP.ID_PLAN_IDP
        JOIN TRANSPORTER_TRN TRN ON TRN.ID_TRN = INH.ID_TRN_INH
		JOIN TEAM_LEGAL_ENTITY_TET TET ON TET.ID_TEM_TET = TEM.ID_TEM
		JOIN LEGAL_ENTITY_MASTER_ETY ETY ON ETY.ID_ETY = TET.ID_ETY_TET
        WHERE ID_INH = #{id}

    </select>


    <select id="getPrintInvoiceHeaders" resultType="com.squer.promobee.controller.dto.InvoicePrintDetailsDTO">
        SELECT  distinct inh.ID_INH as 'inhId',
                inh.INVOICE_NO_INH as 'invoiceNumber',
                ulv.NAME_ULV as 'employeeDesignation',
                rct.ID_RCT as 'employeeId',
                rct.NAME_RCT as 'employeeName',
                rct.CODE_RCT as 'employeeCode',
                inh.ADDRESS_LINE_1_INH as 'employeeAddress',
                inh.ADDRESS_CITY_INH as 'employeeCity',
                inh.ADDRESS_STATE_INH as 'employeeState',
                inh.ADDRESS_ZIP_INH as 'employeePinCode',
                inh.PHONE_INH as 'employeeMobileNumber',
                inh.LR_NUMBER_INH as 'employeeLRNumber',
                CONVERT(varchar(20), inh.CREATED_ON_INH, 105 ) as 'employeeDate',
                CONVERT(varchar(20), inh.CREATED_ON_INH, 105 ) 'employeeLRDate',
                tem.NAME_TEM as 'employeeTeam',
                trn.NAME_TRN as 'employeeTransport',
                '' as 'employeePermitNo',
                inh.CFA_INH as 'employeeCFA',
                inh.NO_OF_BOXES_INH as 'employeeTotalNoOfCases',
                inh.WEIGHT_INH as 'employeeTotalWeight',
                dip.ID_DIP as 'dipId',
                dip.REMARKS_DIP as 'employeeRemark',
                dip.MONTH_DIP as month,
 dip.YEAR_DIP as year,
 dip.IS_SPECIAL_DIP as 'isSpecial',
 dip.QTR_DIP as 'qtr',
         inh.ID_TEM_INH as teamId,
		 inh.SAMPLE_VALUE_INH as 'employeeSampleValue',
		 inh.OTHER_ITEM_VALUE_INH as 'employeeInputValue',
		 inh.SAMPLE_VALUE_INH + inh.OTHER_ITEM_VALUE_INH as 'employeeValue',
		 	CASE
     WHEN DIP.IS_SPECIAL_DIP = '1' THEN 'SPECIAL'
     WHEN DIP.IS_SPECIAL_DIP = '0' THEN 'MONTHLY'
     ELSE 'Unknown AllocationType' END AS 'TYPE',
	 ETY.NAME_ETY AS 'LEGAL'
        FROM INVOICE_HEADER_INH INH
			JOIN INVOICE_DETAIL_IND IND ON INH.ID_INH = IND.ID_INH_IND
	JOIN INVENTORY_INV INV ON IND.ID_INV_IND = INV.ID_INV
	JOIN ITEM_MASTER_ITM ITM ON IND.ID_ITM_IND = ITM.ID_ITM
        JOIN RECIPIENT_MASTER_RCT RCT ON RCT.ID_RCT = INH.ID_RCT_INH
        JOIN TEAM_MASTER_TEM TEM ON TEM.ID_TEM = INH.ID_TEM_INH
        JOIN USER_LOV_ULV ULV ON ULV.ID_ULV = INH.ID_RCT_DESG_ULV_INH
        JOIN INVOICE_DISPATCH_PLAN_IDP IDP ON IDP.ID_INH_IDP = INH.ID_INH
        JOIN DISPATCH_PLAN_DIP DIP ON DIP.ID_DIP = IDP.ID_PLAN_IDP
        JOIN TRANSPORTER_TRN TRN ON TRN.ID_TRN = INH.ID_TRN_INH
		JOIN TEAM_LEGAL_ENTITY_TET TET ON TET.ID_TEM_TET = TEM.ID_TEM
		JOIN LEGAL_ENTITY_MASTER_ETY ETY ON ETY.ID_ETY = TET.ID_ETY_TET
        WHERE ID_INH = #{id}

    </select>



    <select id="getDistrubutedValuesForPrintDetailSampleValue" resultType="com.squer.promobee.controller.dto.InvoicePrintDetailsDTO">
         select SUM(IND.VALUE_IND+(IND.VALUE_IND*RATE_PER_IND/100)) AS sampleValue from INVOICE_HEADER_INH INH
        JOIN INVOICE_DETAIL_IND IND ON IND.ID_INH_IND = INH.ID_INH
        JOIN SAMPLE_MASTER_SMP SMP ON SMP.ID_SMP = IND.ID_ITM_IND
        WHERE ID_INH = #{id}

    </select>

    <select id="getDistrubutedValuesForPrintDetailInputValue" resultType="com.squer.promobee.controller.dto.InvoicePrintDetailsDTO">


        select SUM(IND.VALUE_IND+(IND.VALUE_IND*RATE_PER_IND/100)) AS inputValue from INVOICE_HEADER_INH INH
        JOIN INVOICE_DETAIL_IND IND ON IND.ID_INH_IND = INH.ID_INH
        JOIN ITEM_MASTER_ITM ITM ON ITM.ID_ITM = IND.ID_ITM_IND
        WHERE ID_INH = #{id}

    </select>

    <select id="getPrintInvoiceDetails" resultType="com.squer.promobee.controller.dto.InvoiceDetailsPrintDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_GetInvoiceDetailsForPrint ( #{InhID, jdbcType = VARCHAR , mode = IN})}


    </select>

    <select id="searchInvoiceCondition1" resultType="com.squer.promobee.controller.dto.InvoiceHeaderDTO">
        SELECT ID_INH AS 'inhId',INVOICE_NO_INH AS 'invoiceNo' FROM INVOICE_HEADER_INH
        WHERE CREATED_ON_INH BETWEEN #{fromDate} AND #{toDate}
        ORDER BY INVOICE_NO_INH DESC
    </select>

    <select id="searchInvoiceCondition2" resultType="com.squer.promobee.controller.dto.InvoiceHeaderDTO">
        SELECT ID_INH AS 'inhId',INVOICE_NO_INH AS 'invoiceNo' FROM INVOICE_HEADER_INH
        WHERE CREATED_ON_INH BETWEEN #{fromDate} AND #{toDate} AND ID_RCT_INH = #{recipientId}
        ORDER BY INVOICE_NO_INH DESC
    </select>

    <select id="searchInvoiceCondition3" resultType="com.squer.promobee.controller.dto.InvoiceHeaderDTO">
        SELECT ID_INH AS 'inhId',INVOICE_NO_INH AS 'invoiceNo' FROM INVOICE_HEADER_INH
        WHERE CREATED_ON_INH BETWEEN #{fromDate} AND #{toDate} AND ID_RCT_INH =  #{recipientId} AND INVOICE_NO_INH = #{invoiceNo}
        ORDER BY INVOICE_NO_INH DESC
    </select>

    <select id="searchInvoiceCondition4" resultType="com.squer.promobee.controller.dto.InvoiceHeaderDTO">
        SELECT ID_INH AS 'inhId',INVOICE_NO_INH AS 'invoiceNo' FROM INVOICE_HEADER_INH
        WHERE CREATED_ON_INH BETWEEN #{fromDate} AND #{toDate} AND INVOICE_NO_INH = #{invoiceNo}
        ORDER BY INVOICE_NO_INH DESC
    </select>



    <select id="getGroupInvoiceListHub" resultType="com.squer.promobee.controller.dto.GroupInvoicesListHubDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_GetGroupingInvoiceForHUB ( #{FromDate, jdbcType = VARCHAR , mode = IN}, #{ToDate, jdbcType = VARCHAR , mode = IN},
                                               #{InvoiceNumber, jdbcType = VARCHAR , mode = IN}) }


    </select>


    <select id="getInvoicesForGrouping" resultType="com.squer.promobee.controller.dto.InvoicesForGroupingDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_GetInvoicesForGrouping ( #{FromDate, jdbcType = VARCHAR , mode = IN}, #{ToDate, jdbcType = VARCHAR , mode = IN},
                                               #{InvoiceNumber, jdbcType = VARCHAR , mode = IN}) }


    </select>


    <select id="getInvoiceDropdown" resultType="com.squer.promobee.controller.dto.InvoiceDropdownDTO">
        select id_inh as 'inhId' , invoice_no_inh as 'invoiceNo' from INVOICE_HEADER_INH
    </select>

    <select id="getLabelPrintDetailsByInvoices" resultType="com.squer.promobee.controller.dto.LabelPrintDetailsDTO">
        SELECT  trn.NAME_TRN  AS transporterName ,
                inh.LR_NUMBER_INH AS lRNumber ,
                inh.INVOICE_NO_INH AS invoiceNo ,
                inh.CREATED_ON_INH AS invoiceDate ,
                rct.CODE_RCT AS recipientCode ,
                rct.NAME_RCT AS recipientName ,
                ulv.NAME_ULV AS recipientDesgination ,
                inh.ADDRESS_LINE_1_INH + inh.ADDRESS_LINE_2_INH AS recipientAddress,
                inh.ADDRESS_CITY_INH AS recipientCity,
                inh.ADDRESS_STATE_INH AS recipientState ,
                inh.PHONE_INH AS recipientPhone ,
                inh.ADDRESS_ZIP_INH AS recipientPinCode ,
                rct.HEAD_QUARTER_RCT AS recipientHeadQuarter ,
                tem.NAME_TEM AS teamName ,
                inh.NO_OF_BOXES_INH AS noOfBoxes ,
                inh.WEIGHT_INH AS 'weight' ,
                inh.DIMENSION_INH AS dimension
        FROM INVOICE_HEADER_INH INH
                 join TRANSPORTER_TRN TRN on inh.ID_TRN_INH = trn.ID_TRN
                 join RECIPIENT_MASTER_RCT RCT on inh.ID_RCT_INH = rct.ID_RCT
                 join TEAM_MASTER_TEM TEM on rct.ID_TEM_RCT = tem.ID_TEM
                 join USER_LOV_ULV ULV on rct.ID_DESG_ULV_RCT = ulv.ID_ULV
        WHERE ID_INH = #{id}
        UNION
        SELECT trn.NAME_TRN  AS transporterName ,
               inh.LR_NUMBER_INH AS lRNumber ,
               inh.INVOICE_NO_INH AS invoiceNo ,
               inh.CREATED_ON_INH AS invoiceDate ,
               dtm.CODE_DTM AS recipientCode ,
               dtm.NAME_DTM AS recipientName ,
               ulv.NAME_ULV AS recipientDesgination ,
               inh.ADDRESS_LINE_1_INH + inh.ADDRESS_LINE_2_INH AS recipientAddress,
               inh.ADDRESS_CITY_INH AS recipientCity,
               inh.ADDRESS_STATE_INH AS recipientState ,
               inh.PHONE_INH AS recipientPhone ,
               inh.ADDRESS_ZIP_INH AS recipientPinCode ,
               inh.CFA_INH AS recipientHeadQuarter ,
               tem.NAME_TEM AS teamName ,
               inh.NO_OF_BOXES_INH AS noOfBoxes ,
               inh.WEIGHT_INH AS 'weight' ,
                inh.DIMENSION_INH AS dimension
        FROM INVOICE_HEADER_INH INH
                 join TRANSPORTER_TRN TRN on inh.ID_TRN_INH = trn.ID_TRN
                 join DOCTOR_MASTER_DTM DTM on inh.ID_RCT_INH = dtm.ID_DTM
                 join TEAM_MASTER_TEM TEM on dtm.ID_TEM_DTM = tem.ID_TEM
                 join USER_LOV_ULV ULV on dtm.ID_DESG_ULV_DTM = ulv.ID_ULV
        WHERE ID_INH = #{id}
    </select>


    <select id="generateDraftedInvoice" resultMap="invoiceHeaderResultMap">
        SELECT INH.*
        FROM RECIPIENT_MASTER_RCT RCT
        JOIN INVOICE_HEADER_INH INH ON INH.ID_RCT_INH = RCT.ID_RCT
        JOIN INVOICE_DISPATCH_PLAN_IDP IDP ON IDP.ID_INH_IDP = INH.ID_INH
        JOIN DISPATCH_PLAN_DIP DIP ON DIP.ID_DIP = IDP.ID_PLAN_IDP
        WHERE DIP.IS_SPECIAL_DIP = '0' AND DIP.MONTH_DIP = #{month} AND DIP.YEAR_DIP = #{year} AND RCT.ID_RCT = #{recipientId}
    </select>


    <select id="getRecipient" resultMap="invoiceHeaderResultMap">
        SELECT *
        FROM RECIPIENT_MASTER_RCT RCT
        WHERE  RCT.ID_RCT = #{recipientId}
    </select>

    <select id="getSamplesCount" resultType="com.squer.promobee.controller.dto.ItemCategoryCountDTO">
        SELECT ISNULL(SUM((DID.QUANTITY_DISPATCH_DID * RATE_PER_UNIT_INV) + (DID.QUANTITY_DISPATCH_DID * RATE_PER_UNIT_INV) * INV.RATE_PER_INV/100),0) as 'sampleItems'
        FROM SAMPLE_MASTER_SMP SMP
        JOIN INVENTORY_INV INV ON INV.ID_ITM_INV =  SMP.ID_SMP
        JOIN DISPATCH_DETAIL_DID DID ON DID.ID_INV_DID =  INV.ID_INV
        JOIN DISPATCH_PLAN_DIP DIP ON DIP.ID_DIP =  DID.ID_DIP_DID
        WHERE DID.ID_RCT_DID = #{recipientId} AND DIP.MONTH_DIP =  #{month} AND DIP.YEAR_DIP = #{year}
          AND DIP.IS_SPECIAL_DIP =  #{isSpecial} AND INV.ID_ITC_INV =  '242B921C-B27A-497D-9FA1-7222AB6E6F2A'
    </select>

    <select id="getInputCount" resultType="com.squer.promobee.controller.dto.ItemCategoryCountDTO">
        SELECT ISNULL(SUM((DID.QUANTITY_DISPATCH_DID * RATE_PER_UNIT_INV) + (DID.QUANTITY_DISPATCH_DID * RATE_PER_UNIT_INV) * INV.RATE_PER_INV/100),0) as 'nonSampleItems'
                 FROM ITEM_MASTER_ITM ITM
                 JOIN INVENTORY_INV INV ON INV.ID_ITM_INV =  ITM.ID_ITM
                 JOIN DISPATCH_DETAIL_DID DID ON DID.ID_INV_DID =  INV.ID_INV
                 JOIN DISPATCH_PLAN_DIP DIP ON DIP.ID_DIP =  DID.ID_DIP_DID
        WHERE DID.ID_RCT_DID = #{recipientId} AND DIP.MONTH_DIP =  #{month} AND DIP.YEAR_DIP = #{year}
          AND DIP.IS_SPECIAL_DIP =  #{isSpecial} AND INV.ID_ITC_INV IN ('2909F268-96DE-4485-B8E9-673FEC08C9A3','9689A910-F261-48E7-9DCC-7653B092BA7B')
    </select>


    <select id="getTransporter" resultType="com.squer.promobee.controller.dto.TransporterDropdownDTO">
        SELECT ID_TRN as 'transporterId',NAME_TRN as 'transporterName' FROM TRANSPORTER_TRN
    </select>





    <insert id="insertGenerateInvoiceHeader" >
        insert into INVOICE_HEADER_INH
        (ID_INH,INVOICE_NO_INH,ID_TYPE_SLV_INH,ID_STATUS_SLV_INH,ID_TEM_INH,ID_RCT_INH,ADDRESS_LINE_1_INH,ADDRESS_LINE_2_INH,ADDRESS_STATE_INH,ADDRESS_CITY_INH,ADDRESS_ZIP_INH,
         PHONE_INH,WEIGHT_INH,NO_OF_BOXES_INH,
             ID_TRN_INH,SAMPLE_VALUE_INH,OTHER_ITEM_VALUE_INH,LR_NUMBER_INH,CREATED_ON_INH,CREATED_BY_INH,UPDATED_ON_INH,UPDATED_BY_INH,ID_RCT_DESG_ULV_INH,CFA_INH)
        values (
                   #{id},(SELECT MAX(INVOICE_NO_INH) FROM INVOICE_HEADER_INH) + 1,#{type},#{statusId},#{teamId},#{recipientId},
                   #{addressLine1},#{addressLine2},#{states},#{city},#{zip},#{phone},#{weight},#{noOfBoxes},#{transporterId},#{sampleValue},#{otherItemValue},#{lrNumber},GETDATE(),#{createdBy},GETDATE(),#{updatedBy}
                   ,#{designationId},#{cfa})
    </insert>


    <select id="getInvoice" resultMap="invoiceHeaderResultMap">
        SELECT * FROM INVOICE_HEADER_INH WHERE INVOICE_NO_INH = #{invoiceNo}

    </select>

    <select id="isInvoiceGeneratedForPlanAndRecipient" resultType="int" >

        select count(idp.ID_IDP) from INVOICE_DISPATCH_PLAN_IDP idp
        join INVOICE_HEADER_INH inh on idp.ID_INH_IDP = inh.ID_INH
        where inh.ID_RCT_INH = #{recipientID} and  idp.ID_PLAN_IDP = #{planID}
    </select>












</mapper>
