<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RecipientMapper">

    <select id="recipientSelect" resultType="Map">
        select ID_RCT as id,NAME_RCT as name, CI_NAME_RCT as ciName,  ID_DESG_ULV_RCT as designationId, NAME_ULV as designationName,
                ID_TEM_RCT as teamId from RECIPIENT_MASTER_RCT
        inner join USER_LOV_ULV on ID_DESG_ULV_RCT = USER_LOV_ULV.ID_ULV
        <where>
            <if test="teamId != null and teamId != ''">
                and ID_TEM_RCT = #{teamId}
            </if>
            <if test="statusId != null and statusId != ''">
                and ID_STATUS_SLV_RCT = #{statusId}
            </if>
        </where>
    </select>

    <resultMap id="recipientResultMap" type="com.squer.promobee.service.repository.domain.Recipient">
        <id property="id" column="id_rct"/>
        <result property="name" column="name_rct"/>
        <result property="ciName" column="ci_name_rct"/>
        <result property="code" column="code_rct"/>
        <result property="address" column="address_rct"/>
        <result property="city" column="city_rct"/>
        <result property="state" column="state_rct"/>
        <result property="zip" column="zip_rct"/>
        <result property="email" column="email_rct"/>
        <result property="mobile" column="mobile_rct"/>
        <result property="headQuarter" column="head_quarter_rct"/>
        <result property="zone" column="zone_rct"/>
        <result property="joiningDate" column="joining_date_rct"/>
        <result property="amName" column="am_name_rct"/>
        <result property="amCode" column="am_code_rct" />
        <result property="rmName" column="rm_name_rct" />
        <result property="rmCode" column="rm_code_rct" />
        <result property="nsmName" column="nsm_name_rct" />
        <result property="nsmCode" column="nsm_code_rct" />
        <result property="cfa" column="cfa_rct" />
        <result property="statusChangeDate" column="status_change_date_rct" />
        <result property="loginId" column="LoginId" />
        <result property="gender" column="Gender" />
        <result property="workId" column="WorkId" />
        <result property="createdAt" column="created_on_rct"/>
        <result property="createdBy" column="created_by_rct"/>
        <result property="updatedAt" column="updated_on_rct"/>
        <result property="updatedBy" column="updated_by_rct"/>
        <result property="emailAM" column="email_am"/>
        <result property="emailRBM" column="email_rm"/>

<!--        <result property="team.id" column="id_tem_rct"/>-->
<!--        <result property="team.name" column="name_tem"/>-->
        <association property="designation" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="ID_DESG_ULV_RCT"/>
            <result property="name" column="name_ulv"/>
        </association>
        <association property="team" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="ID_TEM_RCT"/>
            <result property="name" column="name_tem"/>
        </association>

        <association property="recipientStatus" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="ID_STATUS_SLV_RCT"/>
            <result property="name" column="name_slv"/>
        </association>

        <association property="businessUnit" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="ID_BUM_RCT"/>
            <result property="name" column="name_bum"/>
        </association>

    </resultMap>


    <select id="getLegalEntity" resultMap="recipientResultMap">
        SELECT * FROM RECIPIENT_MASTER_RCT RCT
                          JOIN TEAM_LEGAL_ENTITY_TET TET ON TET.ID_TEM_TET = TEM.ID_TEM
                          JOIN LEGAL_ENTITY_MASTER_ETY ETY ON ETY.ID_ETY = TET.ID_ETY_TET
                          JOIN TEAM_MASTER_TEM TEM ON TEM.ID_TEM =  RCT.ID_TEM_RCT
        WHERE RCT.CODE_RCT = #{code}
    </select>


    <select id="getRecipientDropdown" resultType="com.squer.promobee.controller.dto.RecipientDropDownDTO">
        SELECT ID_RCT As 'recipientId',NAME_RCT AS 'recipientName',CODE_RCT AS 'recipientCode' FROM RECIPIENT_MASTER_RCT
        UNION
        SELECT ID_DTM As 'recipientId',NAME_DTM AS 'recipientName',CODE_DTM AS 'recipientCode' FROM DOCTOR_MASTER_DTM
    </select>


    <select id="getRecipient" resultMap="recipientResultMap">
        SELECT * FROM RECIPIENT_MASTER_RCT WHERE ID_RCT = #{recipientId}

    </select>

    <select id="getRecipientDesignationDropdown" resultType="com.squer.promobee.controller.dto.RecipientDesignationDropdownDTO">

        SELECT ID_ULV as 'recipientDesignationId',NAME_ULV as 'recipientDesignationName' FROM USER_LOV_ULV WHERE TYPE_ULV = 'DESIGNATION'

    </select>


    <select id="getFieldForceByStatus" resultMap="recipientResultMap">
        SELECT RCT.*,ULV.ID_ULV,ULV.NAME_ULV,SLV.ID_SLV,SLV.NAME_SLV,TEM.ID_TEM,TEM.NAME_TEM,BUM.ID_BUM,BUM.NAME_BUM FROM RECIPIENT_MASTER_RCT RCT
        JOIN USER_LOV_ULV ULV ON ULV.ID_ULV = RCT.ID_DESG_ULV_RCT
        JOIN SYSTEM_LOV_SLV SLV ON SLV.ID_SLV =  RCT.ID_STATUS_SLV_RCT
        JOIN TEAM_MASTER_TEM TEM ON TEM.ID_TEM =  RCT.ID_TEM_RCT
        JOIN BU_MASTER_BUM BUM ON BUM.ID_BUM = RCT.ID_BUM_RCT
        WHERE RCT.ID_STATUS_SLV_RCT =  #{recipientStatus}

    </select>


    <select id="getFieldForceByCode" resultMap="recipientResultMap">
        SELECT RCT.*,ULV.ID_ULV,ULV.NAME_ULV,SLV.ID_SLV,SLV.NAME_SLV,TEM.ID_TEM,TEM.NAME_TEM,BUM.ID_BUM,BUM.NAME_BUM FROM RECIPIENT_MASTER_RCT RCT
        JOIN USER_LOV_ULV ULV ON ULV.ID_ULV = RCT.ID_DESG_ULV_RCT
        JOIN SYSTEM_LOV_SLV SLV ON SLV.ID_SLV =  RCT.ID_STATUS_SLV_RCT
        JOIN TEAM_MASTER_TEM TEM ON TEM.ID_TEM =  RCT.ID_TEM_RCT
        JOIN BU_MASTER_BUM BUM ON BUM.ID_BUM = RCT.ID_BUM_RCT
        WHERE RCT.CODE_RCT = #{code}

    </select>


    <select id="getFieldForceByName" resultMap="recipientResultMap">
        SELECT RCT.*,ULV.ID_ULV,ULV.NAME_ULV,SLV.ID_SLV,SLV.NAME_SLV,TEM.ID_TEM,TEM.NAME_TEM,BUM.ID_BUM,BUM.NAME_BUM FROM RECIPIENT_MASTER_RCT RCT
        JOIN USER_LOV_ULV ULV ON ULV.ID_ULV = RCT.ID_DESG_ULV_RCT
        JOIN SYSTEM_LOV_SLV SLV ON SLV.ID_SLV =  RCT.ID_STATUS_SLV_RCT
        JOIN TEAM_MASTER_TEM TEM ON TEM.ID_TEM =  RCT.ID_TEM_RCT
        JOIN BU_MASTER_BUM BUM ON BUM.ID_BUM = RCT.ID_BUM_RCT
        WHERE RCT.NAME_RCT = #{name}

    </select>


    <select id="getRecipientToSaveAllocation" resultMap="recipientResultMap">
        select * from RECIPIENT_MASTER_RCT where ID_DESG_ULV_RCT = #{designationId} and ID_TEM_RCT = #{teamId}
                                             and ID_STATUS_SLV_RCT = '80BC3490-9F53-4C92-8DBA-3D5C7755FD73'
    </select>


    <select id="getRecipientForSpecialAllocation" resultMap="recipientResultMap">

        SELECT RCT.* FROM COST_CENTER_MASTER_CCM CCM
                              JOIN COSTCENTER_BRAND_CBR CBR ON CBR.ID_CCM_CBR = CCM.ID_CCM
                              JOIN BRAND_MASTER_BRD BRD ON BRD.ID_BRD = CBR.ID_BRD_CBR
                              JOIN TEAM_BRAND_TBR TBR ON TBR.ID_BRD_TBR = BRD.ID_BRD
                              JOIN TEAM_MASTER_TEM TEM ON TEM.ID_TEM = TBR.ID_TEM_TBR
                              JOIN RECIPIENT_MASTER_RCT RCT ON RCT.ID_TEM_RCT = TEM.ID_TEM
        WHERE ID_CCM = #{ccmId} AND RCT.ID_STATUS_SLV_RCT = '80BC3490-9F53-4C92-8DBA-3D5C7755FD73'
    </select>


    <select id="getRecipientSpecialAllocation" resultMap="recipientResultMap">

        SELECT RCT.* from BRAND_MASTER_BRD BRD
                              JOIN TEAM_BRAND_TBR TBR ON TBR.ID_BRD_TBR = BRD.ID_BRD
                              JOIN TEAM_MASTER_TEM TEM ON TEM.ID_TEM = TBR.ID_TEM_TBR
                              JOIN RECIPIENT_MASTER_RCT RCT ON RCT.ID_TEM_RCT = TEM.ID_TEM
        WHERE ID_brd = #{ccmId} AND RCT.ID_STATUS_SLV_RCT = '80BC3490-9F53-4C92-8DBA-3D5C7755FD73'
    </select>



    <select id="getRecipientForVirtualTeamForCommonAllocation" resultMap="recipientResultMap">
        select RCT.* from USER_MASTER_USR USR
                              JOIN RECIPIENT_MASTER_RCT RCT ON RCT.ID_RCT = USR.ID_RCT_USR
        where ID_USR = #{id}
    </select>

</mapper>