<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReportMapper">




    <select id="getReportRecipient" resultType="com.squer.promobee.controller.dto.RecipientReportDTO">


SELECT BUM.NAME_BUM as 'businessUnit',RCT.CODE_RCT as 'employeeCode',RCT.NAME_RCT AS 'employeeName',RCT.ADDRESS_RCT AS 'address',
        RCT.CITY_RCT AS 'city',ULV.NAME_ULV AS 'designation',RCT.STATE_RCT AS 'state',RCT.ZIP_RCT AS 'zip',RCT.ZONE_RCT AS 'zone',RCT.LoginId AS 'loginId',
        RCT.WorkId AS 'workId',RCT.Gender AS 'gender',RCT.JOINING_DATE_RCT AS 'joiningDate',RCT.MOBILE_RCT AS 'mobile',RCT.EMAIL_RCT AS 'email',
        TEM.NAME_TEM AS 'team',RCT.NSM_NAME_RCT AS 'nsmName',RCT.NSM_CODE_RCT AS 'nsmCode',RCT.RM_NAME_RCT AS 'rmName',RCT.RM_CODE_RCT AS 'rmCode',
        rct.EMAIL_RM AS 'emailRM',rct.EMAIL_AM AS 'emailAM',BUM.NAME_BUM AS 'businessUnit',
        RCT.AM_NAME_RCT AS 'amName',RCT.AM_CODE_RCT AS 'amCode',RCT.CFA_RCT AS 'cfa',RCT.HEAD_QUARTER_RCT AS 'hq',SLV.NAME_SLV AS 'status' FROM RECIPIENT_MASTER_RCT RCT
        JOIN TEAM_MASTER_TEM TEM ON TEM.ID_TEM =  RCT.ID_TEM_RCT
        JOIN USER_LOV_ULV ULV ON ULV.ID_ULV =  RCT.ID_DESG_ULV_RCT
        join DIVISION_MASTER_DIM dim on dim.ID_DIM = tem.ID_DIM_TEM
        JOIN BU_MASTER_BUM BUM ON BUM.ID_BUM = dim.ID_BUM_DIM
        join SYSTEM_LOV_SLV slv on slv.ID_SLV = RCT.ID_STATUS_SLV_RCT
        Where RCT.ID_STATUS_SLV_RCT = #{statusId} and
              TEM.ID_TEM in <foreach item="item" index="index" collection="team"
                                     open="(" separator="," close=")">
        #{item}
    </foreach>
          and BUM.ID_BUM in <foreach item="item" index="index" collection="businessUnit"
                                     open="(" separator="," close=")">
        #{item}
    </foreach>
    </select>



    <select id="getReportPurchase" resultType="com.squer.promobee.controller.dto.PurchaseReportDTO">

        SELECT * INTO #FilterTable FROM
        (
        select BRD.ID_BRD,BUM.NAME_BUM as 'businessUnit', DIM.NAME_DIM as 'divison' from
        BRAND_MASTER_BRD BRD
        join DIVISION_BRAND_DBR DBR on BRD.ID_BRD= dbr.ID_BRD_DBR
        join DIVISION_MASTER_DIM DIM on dbr.ID_DIM_DBR =Dim.ID_DIM
        join BU_MASTER_BUM BUM on DIM.ID_BUM_DIM = BUM.ID_BUM
        where DIM.ID_BUM_DIM  in (<foreach item="item" index="index" collection="BusinessUnit"
                                           separator=",">
        #{item}
    </foreach>)
        and  DIM.ID_DIM  in (<foreach item="item" index="index" collection="Division"
                                      separator=",">
        #{item}
    </foreach>)

        ) AS FilterResult

        SELECT * INTO #Purchase1 FROM (
        SELECT  distinct FT.businessUnit,FT.divison,BBR.ID_USR_BBR AS 'BrandManagerID',usr.NAME_USR as 'BrandManager',INV.ID_INV,CCM.ID_CCM 'CostCenterID',CONVERT(nvarchar(100), INV.POSTING_DATE_INV, 103) AS grnDate, VND.NAME_VND AS vendorName, VND.CODE_VND AS vendorCode, INV.PO_NO_INV AS poNo,
        ITM.NAME_ITM AS productName, ITM.CODE_ITM AS productCode, CCM.NAME_CCM AS 'costCenter', INV.QTY_RECEIVED_INV AS quantity,
        --INV.RATE_PER_UNIT_INV AS rate,(INV.RATE_PER_UNIT_INV * INV.QTY_RECEIVED_INV) AS value,
        Round(INV.RATE_PER_UNIT_INV,2) AS rate,Round(INV.RATE_PER_UNIT_INV * INV.QTY_RECEIVED_INV,0) AS value,
        inv.BATCH_NO_INV as 'batchNo',inv.MEDICAL_CODE_INV as 'medicalCode',inv.NUM_BOXES_INV as 'noBoxes'
        FROM INVENTORY_INV INV
        JOIN ITEM_MASTER_ITM ITM ON INV.ID_ITM_INV = ITM.ID_ITM
        JOIN VENDOR_MASTER_VND VND ON INV.ID_VND_INV = VND.ID_VND
        JOIN COST_CENTER_MASTER_CCM CCM ON ITM.ID_CCM_ITM = CCM.ID_CCM
        join COSTCENTER_BRAND_CBR CBR on CCM.ID_CCM=CBR.ID_CCM_CBR
        JOIN BRAND_MASTER_BRD BRD ON CBR.ID_BRD_CBR = BRD.ID_BRD
        JOIN BRANDMANAGER_BRAND_BBR BBR ON CBR.ID_BRD_CBR = BBR.ID_BRD_BBR
        join USER_MASTER_USR usr on usr.ID_USR = BBR.ID_USR_BBR
        JOIN #FilterTable FT on BRD.ID_BRD  = FT.ID_BRD
        WHERE INV.POSTING_DATE_INV &gt;= #{startDate} AND INV.POSTING_DATE_INV &lt;=  #{endDate}
        UNION
        SELECT distinct FT.businessUnit,FT.divison,BBR1.ID_USR_BBR AS 'BrandManagerID',usr.NAME_USR as 'BrandManager',INV.ID_INV,BRD1.ID_BRD 'CostCenterID',CONVERT(nvarchar(100), INV.POSTING_DATE_INV, 103) AS grnDate,
        ISNULL(VND.NAME_VND,'TEST') AS vendorName,ISNULL(VND.CODE_VND, 'TEST') AS vendorCode, INV.PO_NO_INV AS poNo,
        SMP.NAME_SMP AS productName, SMP.LMID_SMP AS productCode, BRD1.NAME_BRD AS 'costCenter', INV.QTY_RECEIVED_INV AS quantity,
        --INV.RATE_PER_UNIT_INV AS rate, 	(INV.RATE_PER_UNIT_INV * INV.QTY_RECEIVED_INV) AS value,
        Round(INV.RATE_PER_UNIT_INV,2) AS rate,Round(INV.RATE_PER_UNIT_INV * INV.QTY_RECEIVED_INV,0) AS value,
        inv.BATCH_NO_INV as 'batchNo',inv.MEDICAL_CODE_INV as 'medicalCode',inv.NUM_BOXES_INV as 'noBoxes'
        FROM INVENTORY_INV INV
        JOIN SAMPLE_MASTER_SMP SMP ON INV.ID_ITM_INV = SMP.ID_SMP
        left JOIN VENDOR_MASTER_VND VND ON INV.ID_VND_INV = VND.ID_VND
        JOIN BRANDMANAGER_BRAND_BBR BBR1 ON SMP.ID_BRD_SMP = BBR1.ID_BRD_BBR
        JOIN BRAND_MASTER_BRD BRD1 ON BBR1.ID_BRD_BBR = BRD1.ID_BRD
        join USER_MASTER_USR usr on usr.ID_USR = BBR1.ID_USR_BBR
        JOIN  #FilterTable FT  ON BRD1.ID_BRD = FT.ID_BRD
        WHERE INV.POSTING_DATE_INV &gt;= #{startDate} AND INV.POSTING_DATE_INV &lt;=  #{endDate})
        AS Purchase1

        IF(#{userDesgId} = '2B264AFB-E2FD-483C-BD4C-C36A4E352FC5')--BM
        BEGIN
        SELECT distinct * FROM #Purchase1 WHERE CostCenterID IN (SELECT DISTINCT ID_CCM_CBR FROM BRANDMANAGER_BRAND_BBR BBR
        JOIN COSTCENTER_BRAND_CBR CBR ON BBR.ID_BRD_BBR = CBR.ID_BRD_CBR WHERE BBR.ID_USR_BBR = #{userId}
        UNION SELECT ID_BRD_BBR FROM BRANDMANAGER_BRAND_BBR WHERE ID_USR_BBR = #{userId})
        END
        ELSE IF(#{userDesgId} = '88F90CCF-FB95-42DB-AECF-B4C5E8C25BE6')--BEX
        BEGIN

        SELECT distinct * FROM #Purchase1 WHERE CostCenterID IN (
        SELECT DISTINCT CBR.ID_CCM_CBR FROM COSTCENTER_BRAND_CBR CBR
        JOIN TEAM_BRAND_TBR TBR ON CBR.ID_BRD_CBR = TBR.ID_BRD_TBR
        JOIN TEAM_LEGAL_ENTITY_TET TET ON TBR.ID_TEM_TBR = TET.ID_TEM_TET
        join USER_LEGAL_ENTITY_ULE ULE on TET.ID_ETY_TET = ULE.ID_ETY_ULE
        join USER_MASTER_USR USR on USR.ID_USR= ULE.ID_USR_ULE
        WHERE USR.ID_USR = #{userId}
        UNION
        SELECT DISTINCT TBR.ID_BRD_TBR FROM TEAM_BRAND_TBR TBR
        JOIN TEAM_LEGAL_ENTITY_TET TET ON TBR.ID_TEM_TBR = TET.ID_TEM_TET
        join USER_LEGAL_ENTITY_ULE ULE on TET.ID_ETY_TET = ULE.ID_ETY_ULE
        join USER_MASTER_USR USR on USR.ID_USR= ULE.ID_USR_ULE
        WHERE USR.ID_USR = #{userId}
        )

        END
        ELSE--HUB
        BEGIN
        SELECT distinct * FROM #Purchase1
        END

        DROP TABLE #FilterTable
        DROP TABLE #Purchase1


    </select>



    <select id="getReportDispatches" resultType="com.squer.promobee.controller.dto.DispatchesReportDTO" parameterType = "map" statementType = "CALLABLE">
        {call PROC_ReportDispatch (#{Filter, jdbcType = INTEGER , mode = IN},#{StartDate, jdbcType = VARCHAR, mode = IN}, #{EndDate, jdbcType = VARCHAR, mode = IN}, #{UserID, jdbcType = VARCHAR, mode = IN},
        #{UserDesgID, jdbcType = VARCHAR, mode = IN},#{BusinessUnit, jdbcType = VARCHAR, mode = IN},#{Division, jdbcType = VARCHAR, mode = IN},
        #{filterplan, jdbcType = INTEGER , mode = IN} )}
    </select>







    <select id="getReportDispatchRegister" resultType="com.squer.promobee.controller.dto.DispatchRegisterReportDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_ReportDispatchRegister (#{StartDate, jdbcType = VARCHAR, mode = IN}, #{EndDate, jdbcType = VARCHAR, mode = IN}, #{UserID, jdbcType = VARCHAR, mode = IN},
        #{UserDesgID, jdbcType = VARCHAR, mode = IN},#{BusinessUnit, jdbcType = VARCHAR, mode = IN}, #{Division, jdbcType = VARCHAR, mode = IN},
        #{Team, jdbcType = VARCHAR, mode = IN},#{StatusID, jdbcType = VARCHAR, mode = IN}, #{Filterplan, jdbcType = INTEGER, mode = IN}) }
    </select>




    <select id="getReportDeviation" resultType="com.squer.promobee.controller.dto.DeviationReportDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_ReportDeviation(#{QuarterName, jdbcType = VARCHAR, mode = IN},#{FromDate, jdbcType = VARCHAR, mode = IN}, #{ToDate, jdbcType = VARCHAR, mode = IN},
                                    #{UserID, jdbcType = VARCHAR, mode = IN},
                                    #{UserDesgID, jdbcType = VARCHAR, mode = IN}) }
    </select>


    <select id="getReportItemConsumption" resultType="com.squer.promobee.controller.dto.ItemConsumptionReportDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_ReportItemConsumption (#{FromDate, jdbcType = VARCHAR, mode = IN}, #{ToDate, jdbcType = VARCHAR, mode = IN},
        #{UserID, jdbcType = VARCHAR, mode = IN},#{UserDesgID, jdbcType = VARCHAR, mode = IN},
        #{Division, jdbcType = VARCHAR , mode = IN},#{BusinessUnit,  jdbcType=VARCHAR, mode = IN}) }

    </select>


    <select id="getReportDestruction" resultType="com.squer.promobee.controller.dto.DestructionReportDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_ReportDestruction (#{FromDate, jdbcType = VARCHAR, mode = IN}, #{ToDate, jdbcType = VARCHAR, mode = IN},
        #{UserID, jdbcType = VARCHAR, mode = IN},#{UserDesgID, jdbcType = VARCHAR, mode = IN},#{BusinessUnit, jdbcType = VARCHAR, mode = IN},
        #{Division, jdbcType = VARCHAR, mode = IN},#{StatusID, jdbcType = VARCHAR, mode = IN}) }

    </select>




    <select id="getReportSimpleInventory"  resultType="com.squer.promobee.controller.dto.SimpleInventoryReportDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_ReportSimpleInventory (
                                       #{UserID, jdbcType = VARCHAR, mode = IN},#{UserDesgID, jdbcType = VARCHAR, mode = IN},#{BusinessUnit, jdbcType = VARCHAR, mode = IN},
                                       #{Division, jdbcType = VARCHAR, mode = IN} ) }
    </select>





    <select id="getReportNearToExpirySample" resultType="com.squer.promobee.controller.dto.NearToExpiryReportDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_ReportNearToExpiry (   #{BusinessUnit, jdbcType = VARCHAR, mode = IN},
        #{Division, jdbcType = VARCHAR, mode = IN},#{UserID, jdbcType = VARCHAR, mode = IN},#{UserDesgID, jdbcType = VARCHAR, mode = IN}
        ,#{Type, jdbcType = VARCHAR, mode = IN}) }

    </select>

    <select id="getReportNearToExpiryInput" resultType="com.squer.promobee.controller.dto.NearToExpiryReportDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_ReportNearToExpiry (#{BusinessUnit, jdbcType = VARCHAR, mode = IN},
        #{Division, jdbcType = VARCHAR, mode = IN},#{UserID, jdbcType = VARCHAR, mode = IN},#{UserDesgID, jdbcType = VARCHAR, mode = IN}
        ,#{Type, jdbcType = VARCHAR, mode = IN}) }

    </select>


    <select id="getReportSpecialDispatch" resultType="com.squer.promobee.controller.dto.SpecialDispatchReportDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_ReportSpecialDispatch (#{FromDate, jdbcType = VARCHAR, mode = IN}, #{ToDate, jdbcType = VARCHAR, mode = IN},
        #{UserID, jdbcType = VARCHAR, mode = IN},#{UserDesgID, jdbcType = VARCHAR, mode = IN},#{BusinessUnit, jdbcType = VARCHAR, mode = IN},
        #{Division, jdbcType = VARCHAR, mode = IN}) }

    </select>


    <select id="getReportDispatchByTeam" resultType="com.squer.promobee.controller.dto.DispatchByTeamReportDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_GET_DISPATCH_PLAN_FOR_YEAR (#{YEAR, jdbcType = VARCHAR, mode = IN}, #{Special, jdbcType = VARCHAR, mode = IN}) }

    </select>

    <select id="getItemWiseReport" resultType="com.squer.promobee.controller.dto.ItemWiseReportDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_ReportGetAggregateInventory (#{FromDate, jdbcType = VARCHAR, mode = IN}, #{ToDate, jdbcType = VARCHAR, mode = IN},
                                           #{BusinessUnit, jdbcType = VARCHAR, mode = IN},
                                           #{Division, jdbcType = VARCHAR, mode = IN}) }

    </select>

    <select id="getStockLedgerReport" resultType="com.squer.promobee.controller.dto.StockLedgerReportDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_ReportGetStockLedger (#{FromDate, jdbcType = VARCHAR, mode = IN}, #{ToDate, jdbcType = VARCHAR, mode = IN},
                                                #{ItemID, jdbcType = VARCHAR, mode = IN}) }

    </select>

    <select id="getAgeingReport" resultType="com.squer.promobee.controller.dto.AgeingReportDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_ReportAgeing (#{UserID, jdbcType = VARCHAR, mode = IN}, #{UserDesgID, jdbcType = VARCHAR, mode = IN},
                                          #{BusinessUnit, jdbcType = VARCHAR, mode = IN}, #{Division, jdbcType = VARCHAR, mode = IN}) }

    </select>

    <select id="getShiprocketReport" resultType="com.squer.promobee.controller.dto.ShiprocketReportDTO" parameterType = "map" statementType = "CALLABLE">
        { call get_shiprocketdata (#{fromdate, jdbcType = VARCHAR, mode = IN}, #{enddate, jdbcType = VARCHAR, mode = IN}) }

    </select>

    <select id="getVirtualReconciliationReport" resultType="com.squer.promobee.controller.dto.VirtualReconciliationDTO" parameterType = "map" statementType = "CALLABLE">
        { call GetVirtualReconciliationReport (#{fromdate, jdbcType = VARCHAR, mode = IN}, #{enddate, jdbcType = VARCHAR, mode = IN}, #{BusinessUnit, jdbcType = VARCHAR, mode = IN}) }

    </select>


    <select id="getBusinessUnitForReport" resultType="com.squer.promobee.controller.dto.BuDTO" >
        select ID_BUM_DIM as 'buId' from DIVISION_MASTER_DIM where ID_DIM = #{Division}

    </select>

    <select id="getDivisionForReport" resultType="com.squer.promobee.controller.dto.BuDTO" >

        select ID_DIM_TEM as 'divId' from TEAM_MASTER_TEM where IS_ACTIVE_TEM = 1 and ID_TEM = #{Team}

    </select>



    <select id="getBatchReconciliation" resultType="com.squer.promobee.controller.dto.BatchReconciliationDTO" parameterType = "map" statementType = "CALLABLE">
        { call Get_ReconciliationReport () }

    </select>


    <select id="allocationDetailsOfRbm" resultType="com.squer.promobee.controller.dto.AllocationInventoryDetailsWithCostCenterDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_AllocationDetailsOfRbm (#{UserID, jdbcType = VARCHAR, mode = IN}, #{RBMPlanID, jdbcType = VARCHAR, mode = IN}
                                        ) }

    </select>

    <select id="allocationDetailsWithCostCenter" resultType="com.squer.promobee.controller.dto.AllocationInventoryDetailsWithCostCenterDTO" parameterType = "map" statementType = "CALLABLE">
        { call PROC_AllocationDetailsWithCostCenter (#{UserID, jdbcType = VARCHAR, mode = IN}, #{PlanID, jdbcType = VARCHAR, mode = IN}
            ) }

    </select>


    <select id="GetVirtualAllocationDetailsforRbm" resultType="com.squer.promobee.controller.dto.AllocationInventoryDetailsWithCostCenterDTO" parameterType = "map" statementType = "CALLABLE">
        { call VirtualAllocationDetailsforRbm (#{UserID, jdbcType = VARCHAR, mode = IN}, #{PlanID, jdbcType = VARCHAR, mode = IN}
            ) }

    </select>


    <select id="GetVirtualAllocationInventoryWithCostCenter" resultType="com.squer.promobee.controller.dto.AllocationInventoryDetailsWithCostCenterDTO" parameterType = "map" statementType = "CALLABLE">
        { call VirtualAllocationDetailsWithCostCenter (#{UserID, jdbcType = VARCHAR, mode = IN}, #{PlanID, jdbcType = VARCHAR, mode = IN}
            ) }

    </select>


    <select id="getConsolidateExpiryReport" resultType="com.squer.promobee.controller.dto.ItemExpireModel" parameterType="map" statementType="CALLABLE">
        {call PROC_GET_ConsolidatedExpiryItems( #{fromdate, jdbcType = INTEGER, mode = IN},
                                                #{Todate, jdbcType = INTEGER, mode = IN}
            )}
    </select>


    <select id="SendTestMailForItemExpiry" resultType="com.squer.promobee.controller.dto.ItemExpireModel" parameterType="map" statementType="CALLABLE">
        {call PROC_GET_BrandmangerforitemExpiryMail( #{itemID, jdbcType = VARCHAR, mode = IN} ,#{fromdate, jdbcType = INTEGER, mode = IN},
                                                #{Todate, jdbcType = INTEGER, mode = IN}
            )}
    </select>



    <select id="GetBuChampionForCompliance" resultType="com.squer.promobee.security.domain.User" parameterType="map" statementType="CALLABLE">
        {call PROC_GET_userBUC_compliance(  )}
    </select>


    <select id="GetunblockRequestforBUCdetails" resultType="com.squer.promobee.controller.dto.BlockedForBUCModel" parameterType="map" statementType="CALLABLE">
        {call PROC_GET_FFBlockedforMailtoBUCdetails(  )}
    </select>




</mapper>
