<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UploadLogMapper">
    <resultMap id="uploadLogResultMap" type="com.squer.promobee.service.repository.domain.UploadLog">
        <id property="id" column="id_upl"/>
        <result property="startTime" column="start_time_upl"/>
        <result property="endTime" column="end_time_upl"/>
        <result property="totalRecord" column="total_records_upl"/>
        <result property="recordUpload" column="records_upload_upl"/>
        <result property="parentId" column="parent_id_upl"/>
        <result property="createdAt" column="created_on_upl"/>
        <result property="createdBy" column="created_by_upl"/>
        <result property="updatedAt" column="updated_on_upl"/>
        <result property="updatedBy" column="updated_by_upl"/>
        <association property="type" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="idtypeslv_upl"/>
            <result property="name" column="name_slv"/>
        </association>
        <association property="statusId" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="id_status_slv_upl"/>
            <result property="name" column="name_slv"/>
        </association>
    </resultMap>
    
    <select id="uploadLogSelectByStatusId" resultMap="uploadLogResultMap">
        select ID_UPL ,IDTYPESLV_UPL ,START_TIME_UPL ,END_TIME_UPL ,TOTAL_RECORDS_UPL ,RECORDS_UPLOAD_UPL ,ID_STATUS_SLV_UPL
                ,CREATED_ON_UPL ,CREATED_BY_UPL ,UPDATED_ON_UPL ,UPDATED_BY_UPL ,PARENT_ID_UPL from UPLOAD_LOG_UPL where IDTYPESLV_UPL = #{statusId}
    </select>

    <select id="getGrnUploadLog" resultType="com.squer.promobee.controller.dto.UploadLogDTO">
        SELECT TOP 25 ID_UPL as 'uplId',UPL.START_TIME_UPL as 'startTime',UPL.END_TIME_UPL as 'endTime',UPL.TOTAL_RECORDS_UPL as 'totalRecord',UPL.RECORDS_UPLOAD_UPL as 'recordUpload',
        SLV.NAME_SLV as 'status' FROM UPLOAD_LOG_UPL UPL
        JOIN SYSTEM_LOV_SLV SLV ON SLV.ID_SLV = UPL.ID_STATUS_SLV_UPL
        WHERE UPL.IDTYPESLV_UPL = '00000000-0000-0000-0000-100000000020'
        order by CREATED_ON_UPL desc
    </select>

    <select id="getTransporterUploadLog" resultType="com.squer.promobee.controller.dto.UploadLogDTO">
        SELECT TOP 25 ID_UPL as 'uplId', UPL.START_TIME_UPL as 'startTime',UPL.END_TIME_UPL as 'endTime',UPL.TOTAL_RECORDS_UPL as 'totalRecord',UPL.RECORDS_UPLOAD_UPL as 'recordUpload',
                SLV.NAME_SLV as 'status' FROM UPLOAD_LOG_UPL UPL
        JOIN SYSTEM_LOV_SLV SLV ON SLV.ID_SLV = UPL.ID_STATUS_SLV_UPL
        WHERE UPL.IDTYPESLV_UPL = '00000000-0000-0000-0000-100000000003'
        order by CREATED_ON_UPL desc

    </select>

    <select id="getInvoiceUploadLog" resultType="com.squer.promobee.controller.dto.UploadLogDTO">
        SELECT TOP 25 ID_UPL as 'uplId', UPL.START_TIME_UPL as 'startTime',UPL.END_TIME_UPL as 'endTime',UPL.TOTAL_RECORDS_UPL as 'totalRecord',UPL.RECORDS_UPLOAD_UPL as 'recordUpload',
                SLV.NAME_SLV as 'status' FROM UPLOAD_LOG_UPL UPL
        JOIN SYSTEM_LOV_SLV SLV ON SLV.ID_SLV = UPL.ID_STATUS_SLV_UPL
        WHERE UPL.IDTYPESLV_UPL = '00000000-0000-0000-0000-100000000004'
        order by CREATED_ON_UPL desc

    </select>


    <select id="getAllUploadLog" resultType="com.squer.promobee.controller.dto.UploadLogDTO">
        SELECT TOP 25 ID_UPL as 'uplId', UPL.START_TIME_UPL as 'startTime',UPL.END_TIME_UPL as 'endTime',UPL.TOTAL_RECORDS_UPL as 'totalRecord',UPL.RECORDS_UPLOAD_UPL as 'recordUpload',
                SLV.NAME_SLV as 'status' FROM UPLOAD_LOG_UPL UPL
                                                  JOIN SYSTEM_LOV_SLV SLV ON SLV.ID_SLV = UPL.ID_STATUS_SLV_UPL
        WHERE UPL.IDTYPESLV_UPL = #{typeId}

    </select>

    <insert id="insertUploadLogQueued">
        INSERT INTO UPLOAD_LOG_UPL (ID_UPL,IDTYPESLV_UPL,START_TIME_UPL,END_TIME_UPL,TOTAL_RECORDS_UPL,RECORDS_UPLOAD_UPL,ID_STATUS_SLV_UPL,CREATED_ON_UPL,CREATED_BY_UPL,UPDATED_ON_UPL,UPDATED_BY_UPL,PARENT_ID_UPL)
        VALUES(#{id},#{type},GETDATE(),GETDATE(),NULL,#{recordUpload},#{statusId},GETDATE(),#{createdBy},GETDATE(),#{updatedBy},#{parentId})
    </insert>

    <insert id="insertUploadLogFileNotFound">
        INSERT INTO UPLOAD_LOG_UPL (ID_UPL,IDTYPESLV_UPL,START_TIME_UPL,END_TIME_UPL,TOTAL_RECORDS_UPL,RECORDS_UPLOAD_UPL,ID_STATUS_SLV_UPL,CREATED_ON_UPL,CREATED_BY_UPL,UPDATED_ON_UPL,UPDATED_BY_UPL,PARENT_ID_UPL)
        VALUES(#{id},#{type},GETDATE(),GETDATE(),#{totalRecord},#{recordUpload},#{statusId},GETDATE(),#{createdBy},GETDATE(),#{updatedBy},#{parentId})
    </insert>

    <update  id="uploadTransportDetails" parameterType = "map" statementType = "CALLABLE">
        { call PROC_UPLOAD_TRANSPORTER ( #{uploadId, jdbcType = VARCHAR, mode = IN}, #{createdBy, jdbcType = VARCHAR, mode = IN} ) }

    </update>

    <insert id="insertTempTransportDetails">
        INSERT INTO TEMP_TRANSPORT_DETAIL_TRT (ID_TRT,ID_UPLOAD_UPL_TRT,INVOICE_NO,ID_INH_TRT,LR_NO_TRT,DISPATCH_DATE_TRT,EXPECTED_DELIVERY_DATE_TRT,ACTUAL_DELIVERY_DATE_TRT,ID_TRN_TRT,NAME_TRN_TRT,
                                               DELIVERED_TO_NAME_TRT,COST_OF_DELIVERY_TRT,ID_DOCET_ULV_TRT,STATE_DOCET_TRT,ERROR_TEXT,BOX_NO_TRT,WEIGHT_TRT)
        VALUES(#{transportId},#{transportUploadId},#{invoiceNo},NULL,#{lrNo},#{dispatchDate},#{expectedDeliveryDate},#{actuallyDeliveryDate},NULL,#{trnName},
               #{deliveredToName},#{deliveryCost},NULL,#{docketState},NULL,#{boxNo},#{weight})
    </insert>


    <select id="transportExcelData" resultType="com.squer.promobee.controller.dto.TransporterUploadDto">
        select INVOICE_NO as 'invoiceNo',LR_NO_TRT as 'lrNo',BOX_NO_TRT as 'boxNo',WEIGHT_TRT as 'weight', DISPATCH_DATE_TRT as 'dispatchDate',
                EXPECTED_DELIVERY_DATE_TRT as 'expectedDeliveryDate',ACTUAL_DELIVERY_DATE_TRT as 'actuallyDeliveryDate',NAME_TRN_TRT as 'trnName',
                DELIVERED_TO_NAME_TRT as 'deliveredToName',COST_OF_DELIVERY_TRT as 'deliveryCost',STATE_DOCET_TRT as 'docketState',ERROR_TEXT as 'errorText'
        from TEMP_TRANSPORT_DETAIL_TRT where ID_UPLOAD_UPL_TRT = #{id}

    </select>

    <insert id="insertTempGrnDetails">
        INSERT INTO TEMP_GRN_UPLOAD_GRT (ID_GRT,ID_UPLOAD_UPL_GRT,PO_NO_GRT,COST_CENTER_GRT,ID_CCM_GRT,MATERIAL_GRT,BATCH_NO_GRT,MATERIAL_DESCRIPTION_GRT,
                                         POSTING_DATE_GRT,QTY_IN_GRN,AMOUNT_GRT,
                                         VENDOR_CODE_GRT,VENDOR_NAME_GRT,ID_VND_GRT,RATE_PER_UNIT_GRT,MEDICAL_CODE_GRT,MAT_DOC_GRT,
                                         ITEM_NAME_GRT,SAMPLE_EXPIRY_GRT,ERROR_TEXT,EXPIRY_DATE_GRT,HSN_CODE_GRT)
        VALUES(#{grnId},#{grnUploadId},#{poNo},#{costCenter},NULL,#{material},#{batchNo},#{materialDescription},#{postingDate},#{quantity},#{amount},
               #{vendorCode},#{vendorName},NULL,#{ratePerUnit},#{medicalCode},
               NULL,#{itemNo},#{sampleExpiry},NULL,#{expiryDate},NULL)
    </insert>


    <update  id="uploadGrnDetails" parameterType = "map" statementType = "CALLABLE">
        { call PROC_VALIDATE_GRN_UPLOAD (#{uploadid, jdbcType = VARCHAR, mode = IN}, #{createdBy, jdbcType = VARCHAR, mode = IN}) }

    </update>


    <select id="grnExcelData" resultType="com.squer.promobee.controller.dto.GrnUploadDTO">
        select PO_NO_GRT as 'poNo',COST_CENTER_GRT as 'costCenter', MATERIAL_GRT as 'material',BATCH_NO_GRT as 'batchNo', MATERIAL_DESCRIPTION_GRT as 'materialDescription',
                POSTING_DATE_GRT as 'postingDate', QTY_IN_GRN as 'quantity',AMOUNT_GRT as 'amount',VENDOR_CODE_GRT as 'vendorCode',VENDOR_NAME_GRT as 'vendorName',RATE_PER_UNIT_GRT as 'ratePerUnit',
                MEDICAL_CODE_GRT as 'medicalCode', MAT_DOC_GRT as 'materialDoc',ITEM_NAME_GRT as 'itemNo',SAMPLE_EXPIRY_GRT as 'sampleExpiry',ERROR_TEXT as 'errorText',EXPIRY_DATE_GRT as 'expiryDate'
        from TEMP_GRN_UPLOAD_GRT where ID_UPLOAD_UPL_GRT =  #{id}

    </select>


    <insert id="insertTempRecipientDetails">
        INSERT INTO TEMP_RECIPIENT_RTT (ID_RTT,ID_UPLOAD_UPL_RTT,NAME_RTT,CODE_RTT,ADDRESS_RTT,CITY_RTT,STATE_RTT,ZIP_RTT,
                                        EMAIL_RTT,MOBILE_RTT,DESIGNATION_RTT,HQ_RTT,ZONE_RTT,JOINING_DATE_RTT,TEAM_RTT,STATUS_RTT,ERROR_TEXT_RTT,REMARKS_RTT,
                                        WORKID_RTT,GENDER_RTT,EMAIL_RM_RTT,EMAIL_AM_RTT,BUM_RTT)
        VALUES(#{recipientId},#{recipientUploadId},#{name},#{code},#{address},#{city},#{state},#{zip},#{email},#{mobile},#{designation},
               #{headquarter},#{zone},#{joiningDate},#{team},#{status},
               NULL,#{remarks},#{workId},#{gender},#{emailRM},#{emailAM},#{bu})
    </insert>


    <update  id="uploadRecipientDetails" parameterType = "map" statementType = "CALLABLE">
        { call PROC_RECIPIENT_UPLOAD (#{uploadid, jdbcType = VARCHAR, mode = IN}, #{createdBy, jdbcType = VARCHAR, mode = IN}) }

    </update>

    <select id="recipientExcelData" resultType="com.squer.promobee.controller.dto.RecipientUploadDTO">
        select NAME_RTT as 'name',CODE_RTT as 'code',ADDRESS_RTT as 'address', CITY_RTT as 'city', STATE_RTT as 'state',ZIP_RTT as 'zip',EMAIL_RTT as 'email',
                MOBILE_RTT as 'mobile',DESIGNATION_RTT as 'designation',HQ_RTT as 'headquarter',ZONE_RTT as 'zone', JOINING_DATE_RTT as 'joiningDate',TEAM_RTT as 'team',
                STATUS_RTT as 'status',REMARKS_RTT as 'remarks',WORKID_RTT as 'workId',GENDER_RTT as 'gender',EMAIL_RM_RTT as 'emailRM', EMAIL_AM_RTT as 'emailAM',BUM_RTT as 'bu'
        from TEMP_RECIPIENT_RTT where ID_UPLOAD_UPL_RTT = #{id}


    </select>



    <insert id="insertTempVirtualSampleDetails">

        INSERT INTO TEMP_VIRTUALUPLOAD_VLS (ID_VLS,UPLOAD_ID_VLS,CREATEDBY_VLS,USER_EMAIL_VLS,EMP_ID_VLS,SKU_VLS,LOT_VLS,EXTERNAL_VLS,CUSTOMER_VLS,MOBILE_VLS,
                                            QUANTITY_VLS,REQUEST_STATUS_VLS,TEAM_VLS,SUB_TEAM_VLS,
                                            ADDRESS_VLS,STREET1_VLS,STREET2_VLS,STREET3_VLS,CITY_VLS,STATE_VLS,POSTAL_CODE_VLS,
                                            DATE_CREATED_VLS,REQUEST_COMPLETED_VLS,REQUEST_STARTED_VLS,ERROR_TEXT,IS_HCP,ID_TEM_VLS,TERRITORY_VLS)
        VALUES(#{virtualId},#{virtualUploadId},#{createdBy},#{userEmail},#{empId},#{sku},#{lot},#{externalId},#{customer},#{mobile},#{quantity},
               #{requestStatus},#{team},#{subTeam},#{address},#{street1},#{street2},#{street3},#{city},#{state},#{postalCode},
               #{dateCreated},#{requestCompleted},#{requestStarted},#{errorText},NULL,NULL,#{territory})
    </insert>


    <update  id="uploadVirtualSampleDetails" parameterType = "map" statementType = "CALLABLE">
        { call PROC_VIRTUAL_UPLOAD (#{uploadid, jdbcType = VARCHAR, mode = IN}, #{createdBy, jdbcType = VARCHAR, mode = IN}
            , #{frommonth, jdbcType = INTEGER, mode = IN} , #{tomonth, jdbcType = INTEGER, mode = IN} ) }

    </update>



    <select id="virtualSampleExcelData" resultType="com.squer.promobee.controller.dto.VirtualSampleUploadDTO">
        select CREATEDBY_VLS as 'createdBy', USER_EMAIL_VLS as 'userEmail', EMP_ID_VLS as 'empId', SKU_VLS as 'sku', LOT_VLS as 'lot', EXTERNAL_VLS as 'externalId', CUSTOMER_VLS as 'customer', MOBILE_VLS as 'mobile',
                QUANTITY_VLS as 'quantity' , REQUEST_STATUS_VLS as 'requestStatus', TEAM_VLS as 'team', SUB_TEAM_VLS as 'subTeam', ADDRESS_VLS as 'address', STREET1_VLS as 'street1', STREET2_VLS as 'street2', STREET3_VLS as 'street3',
                CITY_VLS as 'city', STATE_VLS as 'state', POSTAL_CODE_VLS as 'postalCode', DATE_CREATED_VLS as 'dateCreated', REQUEST_COMPLETED_VLS as 'requestCompleted', REQUEST_STARTED_VLS as 'requestStarted',
                ERROR_TEXT as 'errorText' from TEMP_VIRTUALUPLOAD_VLS
        where UPLOAD_ID_VLS = #{id}


    </select>


    <select id="getRecipientByCode" resultType="com.squer.promobee.controller.dto.RecipientDTO">
        SELECT ID_RCT as 'recipientId',NAME_RCT as 'recipientName',CODE_RCT as 'recipientCode',ID_DESG_ULV_RCT as 'recipientDesignationId' FROM RECIPIENT_MASTER_RCT RCT
        WHERE CODE_RCT = #{code}
        UNION
        SELECT ID_DTM as 'recipientId',NAME_DTM as 'recipientName',CODE_DTM as 'recipientCode',ID_DESG_ULV_DTM as 'recipientDesignationId' FROM DOCTOR_MASTER_DTM
        WHERE CODE_DTM = #{code}
    </select>


    <select id="getTransporterByName" resultType="com.squer.promobee.controller.dto.TransporterDropdownDTO">
        select ID_TRN as 'transporterId',NAME_TRN as 'transporterName' from TRANSPORTER_TRN
        where NAME_TRN = #{name}
    </select>

    <select id="getDoctorsByCode" resultType="com.squer.promobee.controller.dto.RecipientDTO">

        SELECT ID_DTM as 'recipientId',NAME_DTM as 'recipientName',CODE_DTM as 'recipientCode',ID_DESG_ULV_DTM as 'recipientDesignationId' FROM DOCTOR_MASTER_DTM
        WHERE CODE_DTM = #{code}
    </select>

    <select id="isInvoiceGeneratedForTheRecipient" resultType="int" >

        select count(*) from RECIPIENT_MASTER_RCT rct
        join INVOICE_HEADER_INH inh on rct.ID_RCT = inh.ID_RCT_INH
        join INVOICE_DISPATCH_PLAN_IDP idp on inh.ID_INH = idp.ID_INH_IDP
        join DISPATCH_PLAN_DIP dip on idp.ID_PLAN_IDP = dip.ID_DIP
        where dip.IS_SPECIAL_DIP = #{isSpecial} and dip.MONTH_DIP = #{month} and  dip.YEAR_DIP = #{year} and  rct.ID_RCT = #{employeeId}
    </select>


    <select id="isInvoiceGeneratedForTheRecipientVirtual"  resultType="int" >

        select count(*) from VIRTUAL_UPLOAD_VRL vrl
        join INVOICE_HEADER_INH inh on vrl.ID_DTM_VRL = inh.ID_RCT_INH
        join INVOICE_DISPATCH_PLAN_IDP idp on inh.ID_INH = idp.ID_INH_IDP
        join DISPATCH_PLAN_DIP dip on idp.ID_PLAN_IDP = dip.ID_DIP
        join DISPATCH_DETAIL_DID did on vrl.ID_DID_VRL = did.ID_DID
        where dip.IS_SPECIAL_DIP = 1 and dip.IS_VIRTUAL_DIP = 1 and dip.MONTH_DIP = #{month} and dip.YEAR_DIP = #{year}
          and vrl.ID_DTM_VRL = #{employeeId} and idp.ID_PLAN_IDP = #{planId} and vrl.FF_CODE_VRL = #{ffCode}
          and did.ID_STATUS_SLV_DID = '986F1D6B-AF4B-4E80-AB09-9EC4F0CCDBE7'
    </select>

    <select id="isInvoiceGeneratedForTheRecipientSpecial" resultType="int" >

        select count(*) from RECIPIENT_MASTER_RCT rct
        join INVOICE_HEADER_INH inh on rct.ID_RCT = inh.ID_RCT_INH
        join INVOICE_DISPATCH_PLAN_IDP idp on inh.ID_INH = idp.ID_INH_IDP
        join DISPATCH_PLAN_DIP dip on idp.ID_PLAN_IDP = dip.ID_DIP
        where dip.IS_SPECIAL_DIP = 1 and dip.MONTH_DIP = #{month} and dip.YEAR_DIP = #{year}
          and rct.ID_RCT = #{employeeId} and dip.ID_DIP = #{planId}
    </select>

    <select id="isInvoiceGeneratedVirtual" resultType="int" >

        select Count(idp.ID_IDP) from INVOICE_DISPATCH_PLAN_IDP idp
                                          join INVOICE_HEADER_INH inh on idp.ID_INH_IDP = inh.ID_INH
        where inh.ID_RCT_INH = #{recipientId} and idp.ID_PLAN_IDP = #{planId}
    </select>




    <insert id="insertTempInvoiceDetails">

        INSERT INTO TEMP_INVOICE_UPLOAD_IVT (ID_IVT,ID_UPLOAD_UPL_IVT,MONTH_IVT,YEAR_IVT,STATE_IVT,EMPLOYEE_NAME_IVT,EMPLOYEE_CODE_IVT,
                                             BOXES_IVT,WEIGHT_IVT,TRANPORTER_NAME_IVT,LR_NO_IVT,ID_EMPLOYEE_IVT,ID_TRANSPORTER_IVT,NAME_PLAN_IVT,ID_PLAN_IVT,ERROR_TEXT_IVT,EMPLOYEE_DESG_IVT,DIMENSION_IVT,FFCODE_IVT)
        VALUES(#{invoiceId},#{invoiceUploadId},#{month},#{year},#{state},#{employeeName},#{employeeCode},#{boxes},#{weight},#{transporterName},#{lrNo},#{employeeId},#{transporterId},
               #{planName},#{planId},#{errorText},#{employeeDesignation},#{dimension},#{ffCode})
    </insert>


    <select id="getSamplesCount" resultType="double">
        SELECT ISNULL(SUM((DID.QUANTITY_DISPATCH_DID * RATE_PER_UNIT_INV) + (DID.QUANTITY_DISPATCH_DID * RATE_PER_UNIT_INV) * INV.RATE_PER_INV/100),0) as 'sampleItems'
        FROM SAMPLE_MASTER_SMP SMP
                 JOIN INVENTORY_INV INV ON INV.ID_ITM_INV =  SMP.ID_SMP
                 JOIN DISPATCH_DETAIL_DID DID ON DID.ID_INV_DID =  INV.ID_INV
                 JOIN DISPATCH_PLAN_DIP DIP ON DIP.ID_DIP =  DID.ID_DIP_DID
        WHERE DID.ID_RCT_DID = #{recipientId} AND DIP.MONTH_DIP =  #{month} AND DIP.YEAR_DIP = #{year}
          AND DIP.IS_SPECIAL_DIP =  #{IsSpecialDispatch} AND INV.ID_ITC_INV =  '242B921C-B27A-497D-9FA1-7222AB6E6F2A'
    </select>

    <select id="getInputCount" resultType="double">
        SELECT ISNULL(SUM((DID.QUANTITY_DISPATCH_DID * RATE_PER_UNIT_INV) + (DID.QUANTITY_DISPATCH_DID * RATE_PER_UNIT_INV) * INV.RATE_PER_INV/100),0) as 'nonSampleItems'
        FROM ITEM_MASTER_ITM ITM
                 JOIN INVENTORY_INV INV ON INV.ID_ITM_INV =  ITM.ID_ITM
                 JOIN DISPATCH_DETAIL_DID DID ON DID.ID_INV_DID =  INV.ID_INV
                 JOIN DISPATCH_PLAN_DIP DIP ON DIP.ID_DIP =  DID.ID_DIP_DID
        WHERE DID.ID_RCT_DID = #{recipientId} AND DIP.MONTH_DIP =  #{month} AND DIP.YEAR_DIP = #{year}
          AND DIP.IS_SPECIAL_DIP =  #{IsSpecialDispatch} AND INV.ID_ITC_INV IN ('2909F268-96DE-4485-B8E9-673FEC08C9A3','9689A910-F261-48E7-9DCC-7653B092BA7B')
    </select>

    <select id="getDispatchDetails" resultType="com.squer.promobee.controller.dto.DispatchDetailDTO">
        SELECT ID_DID AS 'id',ID_DIP_DID AS 'planId',ID_INV_DID AS 'inventoryId',ID_RCT_DID AS 'recipientId',QUANTITY_DISPATCH_DID AS 'qtyDispatch',ID_QTP_DID AS 'quarterlyPlanId',ID_STATUS_SLV_DID AS 'detailStatus',
                REMARKS_DID AS 'remarks',CREATED_ON_DID AS 'createdAt', CREATED_BY_DID AS 'createdBy', UPDATED_ON_DID AS 'updatedAt', UPDATED_BY_DID AS 'updatedBy', ID_ITC_DID AS 'categoryId'  FROM DISPATCH_DETAIL_DID DID
                                                                                                                                                                                                          JOIN DISPATCH_PLAN_DIP DIP ON DIP.ID_DIP =  DID.ID_DIP_DID
        WHERE DIP.MONTH_DIP = #{month} AND DIP.YEAR_DIP = #{year} AND DIP.IS_SPECIAL_DIP =  #{IsSpecialDispatch} AND DIP.ID_STATUS_SLV_DIP =  '00000000-0000-0000-0000-000000000024' AND
            DID.ID_RCT_DID =  #{recipientId} AND DID.ID_STATUS_SLV_DID = '986F1D6B-AF4B-4E80-AB09-9EC4F0CCDBE7'

    </select>


    <update  id="saveGenerateInvoice" parameterType = "map" statementType = "CALLABLE">
        { call proc_GenrateInvoice ( #{ID_USR, jdbcType = VARCHAR, mode = IN}, #{month, jdbcType = INTEGER, mode = IN}
            , #{year, jdbcType = INTEGER, mode = IN} , #{ID_EMPLOYEE_IVT, jdbcType = VARCHAR, mode = IN} , #{EMPLOYEE_CODE_IVT, jdbcType = VARCHAR , mode = IN}
            , #{WEIGHT_IVT, jdbcType = DOUBLE , mode = IN} , #{LrNo, jdbcType = VARCHAR, mode = IN} , #{Boxes, jdbcType = DOUBLE , mode = IN}
            , #{Transporter, jdbcType = VARCHAR, mode = IN} , #{SampleItems, jdbcType = DOUBLE , mode = IN} , #{NonSampleItems, jdbcType = DOUBLE , mode = IN}
            , #{ID_GROUP_INVOICE_INH, jdbcType = VARCHAR, mode = IN} , #{PLANID, jdbcType = VARCHAR, mode = IN} ) }

    </update>


    <update  id="saveGenerateInvoiceVirtual" parameterType = "map" statementType = "CALLABLE">
        { call proc_GenrateInvoicevirtual ( #{ID_USR, jdbcType = VARCHAR, mode = IN}, #{month, jdbcType = INTEGER, mode = IN}
            , #{year, jdbcType = INTEGER, mode = IN} , #{ID_EMPLOYEE_IVT, jdbcType = VARCHAR, mode = IN} , #{EMPLOYEE_CODE_IVT, jdbcType = VARCHAR , mode = IN}
            , #{WEIGHT_IVT, jdbcType = DOUBLE , mode = IN} , #{LrNo, jdbcType = VARCHAR, mode = IN} , #{Boxes, jdbcType = DOUBLE , mode = IN} , #{Dimension, jdbcType = VARCHAR , mode = IN}
            , #{Transporter, jdbcType = VARCHAR, mode = IN} , #{SampleItems, jdbcType = DOUBLE , mode = IN} , #{NonSampleItems, jdbcType = DOUBLE , mode = IN}
            , #{ID_GROUP_INVOICE_INH, jdbcType = VARCHAR, mode = IN} , #{PLANID, jdbcType = VARCHAR, mode = IN} , #{FFCODE, jdbcType = VARCHAR, mode = IN} ) }

    </update>


    <update  id="saveGenerateInvoiceSpecial" parameterType = "map" statementType = "CALLABLE">
        { call proc_GenrateInvoicespecial ( #{ID_USR, jdbcType = VARCHAR, mode = IN}, #{month, jdbcType = INTEGER, mode = IN}
            , #{year, jdbcType = INTEGER, mode = IN} , #{ID_EMPLOYEE_IVT, jdbcType = VARCHAR, mode = IN} , #{EMPLOYEE_CODE_IVT, jdbcType = VARCHAR , mode = IN}
            , #{WEIGHT_IVT, jdbcType = DOUBLE , mode = IN} , #{LrNo, jdbcType = VARCHAR, mode = IN} , #{Boxes, jdbcType = DOUBLE , mode = IN}
            , #{Transporter, jdbcType = VARCHAR, mode = IN} , #{SampleItems, jdbcType = DOUBLE , mode = IN} , #{NonSampleItems, jdbcType = DOUBLE , mode = IN}
            , #{ID_GROUP_INVOICE_INH, jdbcType = VARCHAR, mode = IN} , #{PLANID, jdbcType = VARCHAR, mode = IN} ) }

    </update>

    <update id="updatedUploadLogCompletedWithErrors">

        update UPLOAD_LOG_UPL set IDTYPESLV_UPL = #{type}, START_TIME_UPL = GETDATE() , END_TIME_UPL = GETDATE() , TOTAL_RECORDS_UPL = #{totalRecord} , RECORDS_UPLOAD_UPL = #{recordUpload}, ID_STATUS_SLV_UPL = #{statusId},
                                  CREATED_ON_UPL = GETDATE(), CREATED_BY_UPL = #{createdBy}, UPDATED_ON_UPL = GETDATE() , UPDATED_BY_UPL = #{updatedBy} , PARENT_ID_UPL = #{parentId}
        where ID_UPL = #{id}
    </update>

    <update id="updatedUploadLogCompletedSuccessFully">
        update UPLOAD_LOG_UPL set IDTYPESLV_UPL = #{type}, START_TIME_UPL = GETDATE() , END_TIME_UPL = GETDATE() , TOTAL_RECORDS_UPL = #{totalRecord} , RECORDS_UPLOAD_UPL = #{recordUpload}, ID_STATUS_SLV_UPL = #{statusId},
                                  CREATED_ON_UPL = GETDATE(), CREATED_BY_UPL = #{createdBy}, UPDATED_ON_UPL = GETDATE() , UPDATED_BY_UPL = #{updatedBy} , PARENT_ID_UPL = #{parentId}
        where ID_UPL = #{id}
    </update>

    <select id="invoiceExcelData" resultType="com.squer.promobee.controller.dto.InvoiceUploadDTO">
        select ID_IVT as 'invoiceId', ID_UPLOAD_UPL_IVT as 'invoiceUploadId',MONTH_IVT as 'month',YEAR_IVT as 'year',NAME_PLAN_IVT as 'planName', STATE_IVT as 'state',EMPLOYEE_NAME_IVT as 'employeeName',EMPLOYEE_DESG_IVT as 'employeeDesignation',
                EMPLOYEE_CODE_IVT as 'employeeCode',BOXES_IVT as 'boxes',WEIGHT_IVT as 'weight',DIMENSION_IVT as 'dimension',TRANPORTER_NAME_IVT as 'transporterName',LR_NO_IVT as 'lrNo',ID_PLAN_IVT as 'planId',STREET2_IVT as 'planType',FFCODE_IVT as 'ffCode',ERROR_TEXT_IVT as 'errorText'
        from TEMP_INVOICE_UPLOAD_IVT
        where ID_UPLOAD_UPL_IVT = #{id}


    </select>


    <select id="getVirtualSampleUploadLog" resultType="com.squer.promobee.controller.dto.UploadLogDTO">
        SELECT TOP 25 ID_UPL as 'uplId',UPL.START_TIME_UPL as 'startTime',UPL.END_TIME_UPL as 'endTime',UPL.TOTAL_RECORDS_UPL as 'totalRecord',UPL.RECORDS_UPLOAD_UPL as 'recordUpload',
                SLV.NAME_SLV as 'status' FROM UPLOAD_LOG_UPL UPL
                                                  JOIN SYSTEM_LOV_SLV SLV ON SLV.ID_SLV = UPL.ID_STATUS_SLV_UPL
        WHERE UPL.IDTYPESLV_UPL = '00000000-0000-0000-0000-100000000030'
        order by CREATED_ON_UPL desc
    </select>

    <select id="getRecipientUploadLog" resultType="com.squer.promobee.controller.dto.UploadLogDTO">
        SELECT TOP 25 ID_UPL as 'uplId',UPL.START_TIME_UPL as 'startTime',UPL.END_TIME_UPL as 'endTime',UPL.TOTAL_RECORDS_UPL as 'totalRecord',UPL.RECORDS_UPLOAD_UPL as 'recordUpload',
                SLV.NAME_SLV as 'status' FROM UPLOAD_LOG_UPL UPL
                                                  JOIN SYSTEM_LOV_SLV SLV ON SLV.ID_SLV = UPL.ID_STATUS_SLV_UPL
        WHERE UPL.IDTYPESLV_UPL = '00000000-0000-0000-0000-100000000021'
        order by CREATED_ON_UPL desc
    </select>

    <select id="getNonComplianceUploadLog" resultType="com.squer.promobee.controller.dto.UploadLogDTO">
        SELECT TOP 25 ID_UPL as 'uplId',UPL.START_TIME_UPL as 'startTime',UPL.END_TIME_UPL as 'endTime',UPL.TOTAL_RECORDS_UPL as 'totalRecord',UPL.RECORDS_UPLOAD_UPL as 'recordUpload',
                SLV.NAME_SLV as 'status' FROM UPLOAD_LOG_UPL UPL
                                                  JOIN SYSTEM_LOV_SLV SLV ON SLV.ID_SLV = UPL.ID_STATUS_SLV_UPL
        WHERE UPL.IDTYPESLV_UPL = '00000000-0000-0000-0000-100000000023'
        order by CREATED_ON_UPL desc
    </select>

    <select id="getOverSamplingUploadLog" resultType="com.squer.promobee.controller.dto.UploadLogDTO">
        SELECT TOP 25 ID_UPL as 'uplId',UPL.START_TIME_UPL as 'startTime',UPL.END_TIME_UPL as 'endTime',UPL.TOTAL_RECORDS_UPL as 'totalRecord',UPL.RECORDS_UPLOAD_UPL as 'recordUpload',
                SLV.NAME_SLV as 'status' FROM UPLOAD_LOG_UPL UPL
                                                  JOIN SYSTEM_LOV_SLV SLV ON SLV.ID_SLV = UPL.ID_STATUS_SLV_UPL
        WHERE UPL.IDTYPESLV_UPL = '00000000-0000-0000-0000-100000000024'
        order by CREATED_ON_UPL desc
    </select>


    <select id="getOverSamplingDetailsUploadLog" resultType="com.squer.promobee.controller.dto.UploadLogDTO">
        SELECT TOP 25 ID_UPL as 'uplId',UPL.START_TIME_UPL as 'startTime',UPL.END_TIME_UPL as 'endTime',UPL.TOTAL_RECORDS_UPL as 'totalRecord',UPL.RECORDS_UPLOAD_UPL as 'recordUpload',
                SLV.NAME_SLV as 'status' FROM UPLOAD_LOG_UPL UPL
                                                  JOIN SYSTEM_LOV_SLV SLV ON SLV.ID_SLV = UPL.ID_STATUS_SLV_UPL
        WHERE UPL.IDTYPESLV_UPL = '00000000-0000-0000-0000-100000000025'
        order by CREATED_ON_UPL desc
    </select>

    <select id="getMaterialExpiryUploadLog" resultType="com.squer.promobee.controller.dto.UploadLogDTO">
        SELECT TOP 25 ID_UPL as 'uplId',UPL.START_TIME_UPL as 'startTime',UPL.END_TIME_UPL as 'endTime',UPL.TOTAL_RECORDS_UPL as 'totalRecord',UPL.RECORDS_UPLOAD_UPL as 'recordUpload',
                SLV.NAME_SLV as 'status' FROM UPLOAD_LOG_UPL UPL
                                                  JOIN SYSTEM_LOV_SLV SLV ON SLV.ID_SLV = UPL.ID_STATUS_SLV_UPL
        WHERE UPL.IDTYPESLV_UPL = '00000000-0000-0000-0000-100000000026'
        order by CREATED_ON_UPL desc
    </select>


    <insert id="insertTempUploadOptimaMiDetails">

        INSERT INTO TEMP_UPLOAD_OPTIMA_MI_TOMI (ID_OMI,ID_UPLOAD_OMI,EMPLOYEE_CODE_OMI,MATERIAL_CODE_OMI,BATCH_NO_OMI,MONTH_OMI,YEAR_OMI,QTY_DISPATHCED_OMI,QTY_VALIDATED_OMI,QTY_TRANSFERED_OMI,QTY_BALANCE_OMI,
                                                EXPIRY_DATE_OMI,CREATED_DATE_OMI,CREATED_BY_OMI,UPDATED_DATE_OMI,UPDATED_BY_OMI,ERROR_TEXT_OMI,isvalidated)
        VALUES(#{optimaId},#{optimaUploadId},#{empCode},#{materialCode},#{batchNo},#{month},#{year},#{qtyDispatched},
               #{qtyValidated},#{qtyTransfered},#{qtyBalance},#{expiryDate},GETDATE(),#{createdBy},GETDATE(),#{updatedBy},NULL,#{isvalidated})
    </insert>

    <update  id="uploadOptimaMiDetails" parameterType = "map" statementType = "CALLABLE">
        { call PROC_OPTIMAMI_UPLOAD ( #{uploadid, jdbcType = VARCHAR, mode = IN}, #{createdBy, jdbcType = VARCHAR, mode = IN} ) }

    </update>


    <insert id="insertOverSampling">
        INSERT INTO TEMP_COMPLIANCE_UPLOAD_TCMP (ID_CMP,ID_UPLOAD_CMP,START_DATE_CMP,END_DATE_CMP,FF_CMP,DR_ID,DR_NAME,TOT_SAMPLE_GIVEN,BU,AM,RBM,
                                                 REMARKS,CREATED_ON_CMP,CREATED_BY_CMP,UPDATED_ON_CMP,UPDATED_BY_CMP,ERROR_TEXT_CMP,FF_CODE_CMP,TEAM_ID_CMP,TEAM_NAME_CMP)
        VALUES(#{overSamplingId},#{overSamplingUploadId},GETDATE(),GETDATE(),#{ffCmp},#{drCode},#{drName},#{totalSampleGiven},
               #{bu},#{am},#{rbm},#{remarks},GETDATE(),#{createdBy},GETDATE(),#{updatedBy},NULL,#{ffCode},NULL,#{teamName})
    </insert>

    <update  id="uploadOverSampling" parameterType = "map" statementType = "CALLABLE">
        { call PROC_COMPLIANCE_UPLOAD ( #{uploadid, jdbcType = VARCHAR, mode = IN}, #{createdBy, jdbcType = VARCHAR, mode = IN} ) }

    </update>


    <insert id="insertOverSamplingDetails">
        INSERT INTO Temp_Details_Compliance_CDS (ID_CDS,NAME_TERRITORY_CDS,ID_TERRITORY_CDS,ID_PERSON_CDS,NAME_PERSON_CDS,ID_LOCATION_CDS,NAME_LOCATION_CDS,VISITED_CDS,ITEMCATEGORY_CDS,
                                                 ID_ITEM_CDS,NAME_ITEM_CDS,BATCH_NO_CDS,QUANTITY_CDS,SUBTEAM_CDS,TEAM_CDS,AM_CDS,RBM_CDS,ID_UPLOAD_CDS,CREATED_ON_CDS,CREATED_BY_CDS,
                                                 UPDATED_ON_CDS,UPDATED_BY_CDS,ERROR_TXT,
                                                 MONTH_CDS,START_DATE_CDS,END_DATE_CDS)
        VALUES(#{complianceDetailId},#{territoryName},#{territoryId},#{personId},#{personName},#{locationId},#{locationName},#{visited},
               #{itemCategory},#{itemId},#{nameItem},#{batchNo},#{quantity},#{subTeam},#{team},#{am},#{rbm},#{complianceDetailUploadId},GETDATE(),#{createdBy}
                  ,GETDATE(),#{updatedBy},NULL,#{month},GETDATE(),GETDATE())
    </insert>


    <update  id="uploadOverSamplingDetails" parameterType = "map" statementType = "CALLABLE">
        { call PROC_DETAILS_COMPLIANCE_UPLOAD ( #{uploadid, jdbcType = VARCHAR, mode = IN}, #{createdBy, jdbcType = VARCHAR, mode = IN} ) }

    </update>


    <insert id="insertMaterialExpiryDetails">
        INSERT INTO TEMP_UPLOAD_OPTIMA_MATERIAL_TMI (ID_TMI,ID_UPLOAD_TMI,EMPLOYEE_CODE_TMI,MATERIAL_CODE_TMI,BATCH_NO_TMI,MONTH_TMI,YEAR_TMI,QTY_DISPATHCED_TMI,QTY_VALIDATED_TMI,
                                                     QTY_TRANSFERED_TMI,QTY_BALANCE_TMI,EXPIRY_DATE_TMI,CREATED_DATE_TMI,CREATED_BY_TMI,UPDATED_DATE_TMI,UPDATED_BY_TMI,ERROR_TEXT_TMI,isvalidated)
        VALUES(#{materialExpiryId},#{materialExpiryUploadId},#{employeeCode},#{materialCode},#{batchNo},#{month},#{year},#{qtyDispatched},
               #{qtyValidated},#{qtyTransferred},#{qtyBalance},#{expiryDate},GETDATE(),#{createdBy}
                  ,GETDATE(),#{updatedBy},NULL,#{isValidated})
    </insert>


    <update  id="uploadMaterialExpiryDetails" parameterType = "map" statementType = "CALLABLE">
        { call PROC_OPTIMATERIAL_UPLOAD ( #{uploadid, jdbcType = VARCHAR, mode = IN}, #{createdBy, jdbcType = VARCHAR, mode = IN} ) }

    </update>


    <select id="nonComplianceExcelData" resultType="com.squer.promobee.controller.dto.OptimaMiUploadDTO">
        SELECT ID_OMI AS 'optimaId', ID_UPLOAD_OMI AS 'optimaUploadId', EMPLOYEE_CODE_OMI AS 'empCode',
                MATERIAL_CODE_OMI AS 'materialCode', BATCH_NO_OMI AS 'batchNo', MONTH_OMI AS 'month', YEAR_OMI AS 'year',
                QTY_DISPATHCED_OMI AS 'qtyDispatched',QTY_VALIDATED_OMI AS 'qtyValidated', QTY_TRANSFERED_OMI AS 'qtyTransfered',
                QTY_BALANCE_OMI AS 'qtyBalance' , EXPIRY_DATE_OMI AS 'expiryDate' , ERROR_TEXT_OMI AS 'errorText', isvalidated AS 'isvalidated'
        FROM TEMP_UPLOAD_OPTIMA_MI_TOMI
        WHERE ID_UPLOAD_OMI = #{id}


    </select>


    <select id="overSamplingExcelData" resultType="com.squer.promobee.controller.dto.overSamplingUploadDTO">
        SELECT ID_CMP AS 'overSamplingId', ID_UPLOAD_CMP AS 'overSamplingUploadId', FORMAT(START_DATE_CMP, 'yyyy-MM-dd') AS 'startDate',FORMAT(END_DATE_CMP, 'yyyy-MM-dd') AS 'endDate', FF_CMP AS 'ffCmp',
                DR_ID AS 'drCode', DR_NAME AS 'drName', TOT_SAMPLE_GIVEN AS 'totalSampleGiven', BU AS 'bu', AM AS 'am', RBM AS 'rbm',
                REMARKS AS 'remarks', ERROR_TEXT_CMP AS 'errorText',FF_CODE_CMP AS 'ffCode', TEAM_ID_CMP AS 'teamId', TEAM_NAME_CMP AS 'teamName'
        FROM TEMP_COMPLIANCE_UPLOAD_TCMP
        where ID_UPLOAD_CMP = #{id}

    </select>


    <select id="overSamplingDetailsExcelData" resultType="com.squer.promobee.controller.dto.OverSamplingDetailsUploadDTO">
        SELECT ID_CDS AS 'complianceDetailId',NAME_TERRITORY_CDS AS 'territoryName',ID_TERRITORY_CDS AS 'territoryId',
                ID_PERSON_CDS AS 'personId',NAME_PERSON_CDS AS 'personName',ID_LOCATION_CDS AS 'locationId',
                NAME_LOCATION_CDS AS 'locationName',FORMAT(VISITED_CDS,'yyyy-MM-dd') AS 'visited',ITEMCATEGORY_CDS AS 'itemCategory',
                ID_ITEM_CDS AS 'itemId',NAME_ITEM_CDS AS 'nameItem',BATCH_NO_CDS AS 'batchNo',QUANTITY_CDS AS 'quantity',
                SUBTEAM_CDS AS 'subTeam',TEAM_CDS AS 'team',AM_CDS AS 'am',RBM_CDS AS 'rbm',ID_UPLOAD_CDS AS 'complianceDetailUploadId',
                ERROR_TXT AS 'errorText',MONTH_CDS AS 'month' FROM TEMP_DETAILS_COMPLIANCE_CDS
        WHERE ID_UPLOAD_CDS = #{id}

    </select>


    <select id="materialExpiryExcelData" resultType="com.squer.promobee.controller.dto.OptimaMiUploadDTO">
        SELECT ID_TMI AS 'optimaId', ID_UPLOAD_TMI AS 'optimaUploadId', EMPLOYEE_CODE_TMI AS 'empCode',
                MATERIAL_CODE_TMI AS 'materialCode', BATCH_NO_TMI AS 'batchNo', MONTH_TMI AS 'month', YEAR_TMI AS 'year',
                QTY_DISPATHCED_TMI AS 'qtyDispatched',QTY_VALIDATED_TMI AS 'qtyValidated', QTY_TRANSFERED_TMI AS 'qtyTransfered',
                QTY_BALANCE_TMI AS 'qtyBalance' , EXPIRY_DATE_TMI AS 'expiryDate' , ERROR_TEXT_TMI AS 'errorText', isvalidated AS 'isvalidated'
        FROM TEMP_UPLOAD_OPTIMA_MATERIAL_TMI
        WHERE ID_UPLOAD_TMI = #{id}


    </select>


    <insert id="insertUploadLogSuccessfully">
        INSERT INTO UPLOAD_LOG_UPL (ID_UPL,IDTYPESLV_UPL,START_TIME_UPL,END_TIME_UPL,TOTAL_RECORDS_UPL,RECORDS_UPLOAD_UPL,ID_STATUS_SLV_UPL,CREATED_ON_UPL,CREATED_BY_UPL,UPDATED_ON_UPL,UPDATED_BY_UPL,PARENT_ID_UPL)
        VALUES(#{id},#{type},GETDATE(),GETDATE(),#{totalRecord},#{recordUpload},#{statusId},GETDATE(),#{createdBy},GETDATE(),#{updatedBy},#{parentId})
    </insert>

    <update id="multipleAllocation">
        update UPLOAD_LOG_UPL set IDTYPESLV_UPL = #{type}, START_TIME_UPL = GETDATE() , END_TIME_UPL = GETDATE() , TOTAL_RECORDS_UPL = #{totalRecord} , RECORDS_UPLOAD_UPL = #{recordUpload}, ID_STATUS_SLV_UPL = #{statusId},
                                  CREATED_ON_UPL = GETDATE(), CREATED_BY_UPL = #{createdBy}, UPDATED_ON_UPL = GETDATE() , UPDATED_BY_UPL = #{updatedBy} , PARENT_ID_UPL = #{parentId}
        where ID_UPL = #{id}
    </update>








</mapper>