<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UploadLogMapper">
    <resultMap id="uploadLogResultMap" type="com.squer.promobee.service.repository.domain.UploadLog">
        <id property="id" column="id_upl"/>
        <result property="startTime" column="start_time_upl"/>
        <result property="endTime" column="end_time_upl"/>
        <result property="totalRecord" column="total_records_upl"/>
        <result property="recordUpload" column="records_upload_upl"/>
        <result property="parentId" column="parent_id_upl"/>
        <result property="createdAt" column="created_on_upl"/>
        <result property="createdBy" column="created_by_upl"/>
        <result property="updatedAt" column="updated_on_upl"/>
        <result property="updatedBy" column="updated_by_upl"/>
        <association property="type" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="idtypeslv_upl"/>
            <result property="name" column="name_slv"/>
        </association>
        <association property="statusId" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="id_status_slv_upl"/>
            <result property="name" column="name_slv"/>
        </association>
    </resultMap>
    
    <select id="uploadLogSelectByStatusId" resultMap="uploadLogResultMap">
        select ID_UPL ,IDTYPESLV_UPL ,START_TIME_UPL ,END_TIME_UPL ,TOTAL_RECORDS_UPL ,RECORDS_UPLOAD_UPL ,ID_STATUS_SLV_UPL
                ,CREATED_ON_UPL ,CREATED_BY_UPL ,UPDATED_ON_UPL ,UPDATED_BY_UPL ,PARENT_ID_UPL from UPLOAD_LOG_UPL where IDTYPESLV_UPL = #{statusId}
    </select>

    <select id="getGrnUploadLog" resultType="com.squer.promobee.controller.dto.UploadLogDTO">
        SELECT TOP 25 UPL.START_TIME_UPL as 'startTime',UPL.END_TIME_UPL as 'endTime',UPL.TOTAL_RECORDS_UPL as 'totalRecord',UPL.RECORDS_UPLOAD_UPL as 'recordUpload',
        SLV.NAME_SLV as 'status' FROM UPLOAD_LOG_UPL UPL
        JOIN SYSTEM_LOV_SLV SLV ON SLV.ID_SLV = UPL.ID_STATUS_SLV_UPL
        WHERE UPL.IDTYPESLV_UPL = '00000000-0000-0000-0000-100000000020'
    </select>

    <select id="getTransporterUploadLog" resultType="com.squer.promobee.controller.dto.UploadLogDTO">
        SELECT TOP 25 UPL.START_TIME_UPL as 'startTime',UPL.END_TIME_UPL as 'endTime',UPL.TOTAL_RECORDS_UPL as 'totalRecord',UPL.RECORDS_UPLOAD_UPL as 'recordUpload',
                SLV.NAME_SLV as 'status' FROM UPLOAD_LOG_UPL UPL
        JOIN SYSTEM_LOV_SLV SLV ON SLV.ID_SLV = UPL.ID_STATUS_SLV_UPL

    </select>

    <select id="getInvoiceUploadLog" resultType="com.squer.promobee.controller.dto.UploadLogDTO">
        SELECT TOP 25 UPL.START_TIME_UPL as 'startTime',UPL.END_TIME_UPL as 'endTime',UPL.TOTAL_RECORDS_UPL as 'totalRecord',UPL.RECORDS_UPLOAD_UPL as 'recordUpload',
                SLV.NAME_SLV as 'status' FROM UPLOAD_LOG_UPL UPL
        JOIN SYSTEM_LOV_SLV SLV ON SLV.ID_SLV = UPL.ID_STATUS_SLV_UPL

    </select>

    <insert id="insertUploadLogQueued">
        INSERT INTO UPLOAD_LOG_UPL (ID_UPL,IDTYPESLV_UPL,START_TIME_UPL,END_TIME_UPL,TOTAL_RECORDS_UPL,RECORDS_UPLOAD_UPL,ID_STATUS_SLV_UPL,CREATED_ON_UPL,CREATED_BY_UPL,UPDATED_ON_UPL,UPDATED_BY_UPL,PARENT_ID_UPL)
        VALUES(#{id},#{type},GETDATE(),GETDATE(),NULL,#{recordUpload},#{statusId},GETDATE(),#{createdBy},GETDATE(),#{updatedBy},#{parentId})
    </insert>

    <insert id="insertUploadLogFileNotFound">
        INSERT INTO UPLOAD_LOG_UPL (ID_UPL,IDTYPESLV_UPL,START_TIME_UPL,END_TIME_UPL,TOTAL_RECORDS_UPL,RECORDS_UPLOAD_UPL,ID_STATUS_SLV_UPL,CREATED_ON_UPL,CREATED_BY_UPL,UPDATED_ON_UPL,UPDATED_BY_UPL,PARENT_ID_UPL)
        VALUES(#{id},#{type},GETDATE(),GETDATE(),#{totalRecord},#{recordUpload},#{statusId},GETDATE(),#{createdBy},GETDATE(),#{updatedBy},#{parentId})
    </insert>

    <update id="uploadTransportDetails"  parameterType = "map" statementType = "CALLABLE">
        { call PROC_UPLOAD_TRANSPORTER (#{uploadId, jdbcType = VARCHAR, mode = IN}, #{createdBy, jdbcType = VARCHAR, mode = IN}) }

    </update>

    <insert id="insertTempTransportDetails">
        INSERT INTO TEMP_TRANSPORT_DETAIL_TRT (ID_TRT,ID_UPLOAD_UPL_TRT,INVOICE_NO,ID_INH_TRT,LR_NO_TRT,DISPATCH_DATE_TRT,EXPECTED_DELIVERY_DATE_TRT,ACTUAL_DELIVERY_DATE_TRT,ID_TRN_TRT,NAME_TRN_TRT,
                                               DELIVERED_TO_NAME_TRT,COST_OF_DELIVERY_TRT,ID_DOCET_ULV_TRT,STATE_DOCET_TRT,ERROR_TEXT,BOX_NO_TRT,WEIGHT_TRT)
        VALUES(#{transportId},#{transportUploadId},#{invoiceNo},NULL,#{lrNo},#{dispatchDate},#{expectedDeliveryDate},#{actuallyDeliveryDate},NULL,#{trnName},
               #{deliveredToName},#{deliveryCost},NULL,#{docketState},NULL,#{boxNo},#{weight})
    </insert>



</mapper>