<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UsersMasterMapper">
    <resultMap id="usersMasterResultMap" type="com.squer.promobee.service.repository.domain.Users">
        <id property="id" column="id_usr" />
        <result property="name" column="name_usr"/>
        <result property="ciName" column="ci_name_usr" />
        <result property="username" column="login_name_usr"/>
        <result property="employeeCode" column="employee_code_usr"/>
        <result property="activeFrom" column="active_from_usr"/>
        <result property="activeTo" column="active_to_usr"/>
        <result property="email" column="email_address_usr"/>
        <result property="lastLoggedIn" column="last_logged_in_usr"/>
        <result property="createdAt" column="created_on_usr"/>
        <result property="createdBy" column="created_by_usr"/>
        <result property="updatedAt" column="updated_on_usr"/>
        <result property="updatedBy" column="updated_by_usr"/>
        <result property="userRecipientId" column="id_rct_usr"/>
        <result property="approver" column="email_buh_usr"/>
        <association property="userDesignation" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="id_desg_ulv_usr"/>
            <result property="name" column="name_ulv"/>
        </association>
        <association property="userStatus" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="id_status_slv_usr"/>
            <result property="name" column="name_slv" />
        </association>
        <association property="legalEntity" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="id_ety"/>
            <result property="name" column="name_ety" />
        </association>
        <association property="appBu" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="id_app_bum_usr"/>
            <result property="name" column="name_bum" />
        </association>
        <association property="brand" javaType="com.squer.promobee.security.domain.NamedSquerEntity">
            <id property="id" column="id_brd"/>
            <result property="name" column="name_brd"/>
        </association>
    </resultMap>



    <select id="getUser" resultMap="usersMasterResultMap" >

        select * from USER_MASTER_USR usr
                          join USER_LOV_ULV ulv on ulv.ID_ULV = usr.ID_DESG_ULV_USR
                          join SYSTEM_LOV_SLV slv on slv.ID_SLV = usr.ID_STATUS_SLV_USR
        where usr.ID_STATUS_SLV_USR = #{userStatus}
ORDER BY usr.UPDATED_ON_USR desc
    </select>

    <select id="getUserByIdBm" resultMap="usersMasterResultMap" >
        select usr.*,ulv.ID_ULV,ulv.NAME_ULV,slv.ID_SLV,slv.NAME_SLV,ety.ID_ETY,ety.NAME_ETY,brd.ID_BRD,brd.NAME_BRD from USER_MASTER_USR usr
        join USER_LOV_ULV ulv on ulv.ID_ULV = usr.ID_DESG_ULV_USR
        join SYSTEM_LOV_SLV slv on slv.ID_SLV = usr.ID_STATUS_SLV_USR
        JOIN USER_LEGAL_ENTITY_ULE ULE ON ULE.ID_USR_ULE = USR.ID_USR
        join LEGAL_ENTITY_MASTER_ETY ety on ety.ID_ETY = usr.ID_ETY_USR
        join BRANDMANAGER_BRAND_BBR bbr on bbr.ID_USR_BBR = usr.ID_USR
        join BRAND_MASTER_BRD brd on brd.ID_BRD = bbr.ID_BRD_BBR
        where usr.ID_USR = #{id}
    </select>


    <select id="getUserByIds" resultMap="usersMasterResultMap" >
        select usr.*,ulv.ID_ULV,ulv.NAME_ULV,slv.ID_SLV,slv.NAME_SLV,ety.ID_ETY,ety.NAME_ETY from USER_MASTER_USR usr
                                                                                                                              join USER_LOV_ULV ulv on ulv.ID_ULV = usr.ID_DESG_ULV_USR
                                                                                                                              join SYSTEM_LOV_SLV slv on slv.ID_SLV = usr.ID_STATUS_SLV_USR
                                                                                                                              JOIN USER_LEGAL_ENTITY_ULE ULE ON ULE.ID_USR_ULE = USR.ID_USR
                                                                                                                              join LEGAL_ENTITY_MASTER_ETY ety on ety.ID_ETY = ule.ID_ETY_ULE

        where usr.ID_USR = #{id}
    </select>



    <select id="getUserById" resultMap="usersMasterResultMap" >
        select * from USER_MASTER_USR usr
         where usr.ID_USR = #{id}
    </select>
    <update id="editUser">

        UPDATE USER_MASTER_USR SET EMAIL_ADDRESS_USR = #{email}, ID_ETY_USR = #{legalEntity}, ID_DESG_ULV_USR = #{userDesignation}, ID_STATUS_SLV_USR = #{userStatus} , EMAIL_BUH_USR = #{approver}
        WHERE ID_USR = #{id}

    </update>


    <select id="getApproverDropdown" resultType="com.squer.promobee.controller.dto.ApproverDropdownDTO">

        SELECT ID_USR AS 'userId',NAME_USR AS 'userName',EMAIL_ADDRESS_USR AS 'userEmail' FROM USER_MASTER_USR WHERE ID_DESG_ULV_USR = '6B1C8B6D-C38E-4B4D-8C73-25ADF30CE474' AND ID_STATUS_SLV_USR = '1D2F12F3-F84A-4200-9590-70680528779B'

    </select>

    <select id="getOwnerDropdown" resultType="com.squer.promobee.controller.dto.ApproverDropdownDTO">

        SELECT ID_USR AS 'userId',NAME_USR AS 'userName',EMAIL_BUH_USR AS 'userEmail' FROM USER_MASTER_USR WHERE ID_DESG_ULV_USR = '2B264AFB-E2FD-483C-BD4C-C36A4E352FC5'  AND ID_STATUS_SLV_USR = '1D2F12F3-F84A-4200-9590-70680528779B'

    </select>


    <select id="getTseDropdown" resultType="com.squer.promobee.controller.dto.ApproverDropdownDTO">

        SELECT ID_USR AS 'userId',NAME_USR AS 'userName',EMAIL_ADDRESS_USR AS 'userEmail' FROM USER_MASTER_USR WHERE ID_DESG_ULV_USR = '20B61A71-6102-4E3D-9871-711D205DD0E7' AND ID_STATUS_SLV_USR = '1D2F12F3-F84A-4200-9590-70680528779B'

    </select>



    <insert id="addUser">
        INSERT INTO USER_MASTER_USR (ID_USR,NAME_USR,CI_NAME_USR,LOGIN_NAME_USR,EMPLOYEE_CODE_USR,ID_DESG_ULV_USR,ACTIVE_FROM_USR,ACTIVE_TO_USR,ID_STATUS_SLV_USR,ID_ETY_USR,EMAIL_ADDRESS_USR,
                                     LAST_LOGGED_IN_USR,CREATED_ON_USR,CREATED_BY_USR,UPDATED_ON_USR,UPDATED_BY_USR,ID_APP_BUM_USR,ID_RCT_USR,EMAIL_BUH_USR)
        values( #{id}, #{name}, #{ciName}, #{username}, #{employeeCode},#{userDesignation} ,#{activeFrom} ,NULL ,#{userStatus} ,#{legalEntity} ,#{email}
        ,GETDATE() ,GETDATE(), #{createdBy}, GETDATE(), #{updatedBy},NULL,NULL,#{approver} )
    </insert>


    <delete id="deleteUserBrand" >

        DELETE FROM BRANDMANAGER_BRAND_BBR WHERE ID_USR_BBR = #{id}

    </delete>

    <delete id="deleteUserTeam" >

        DELETE FROM USER_TEAM_MAPPING_UTM WHERE ID_USR_UTM = #{id}

    </delete>

    <delete id="deleteUserEntity" >

        DELETE FROM USER_LEGAL_ENTITY_ULE WHERE ID_USR_ULE = #{id}

    </delete>

    <delete id="deleteUserTeamSupport" >

        DELETE FROM USER_TSE_UST WHERE ID_BM_USR_UST = #{id}

    </delete>


    <select id="getRbm" resultMap="usersMasterResultMap" >

        select * from USER_MASTER_USR WHERE ID_USR = #{userId}
    </select>

    <insert id="InsertUserEntity">
        INSERT INTO USER_LEGAL_ENTITY_ULE (ID_ULE,ID_ETY_ULE,ID_USR_ULE)
        values( #{id}, #{etyId}, #{userId} )
    </insert>




</mapper>
