<html>
<head>
    <title></title>
    <link rel="stylesheet" href="src/main/resources/htmlPrint/promoPrintInvoice.css">
</head>
<body>
<div class="wholePrintBody page-break">
    <header>
        <div class="uns-title">
            SANOFI CHC INDIA LTD
        </div>
        <hr/>
        <div class="uns-title-address">
            Regd. Office : Sanofi House, CTS No.117-B, L&T Business Park Saki Vihar Road, Powai, Mumbai-400 072 - India
        </div>
        <hr/>
        <section class="leftSection">
            <h4>SANOFI CHC INDIA LTD</h4>
            <address>
                C/o S. K. LOGISTICS, CITY LINK WAREHOUSING COMPLEX BUILDING
                NO B-3 MUMBAI - NASHIK HIGHWAY VADAPE BHIWANDI-421302
                STATE:MAHARASHTRA
                STATE CODE:27

            </address>
            <p>
                <b>Mob</b>
                <label class="ph_no">9629862902/8879627885</label>
            </p>
        </section>

        <section class="rightSection">
            <table>
                <tr>
                    <td>Transfer Note No.</td>
                    <td>
                        <label>$InvoiceNumber</label>
                    </td>
                </tr>
                <tr>
                    <td>D.L.No.</td>
                    <td >
                        <label >20B-TZ5-272894 / 22B-TZ5-272895</label>
##                        <label>22B-TZ5-272895</label>
                    </td>
                </tr>
                <tr>
                    <td>GST No.</td>
                    <td>
                        <label>27AAACH2736F1ZU/27AAACH2736F1ZU</label>
                    </td>
                </tr>
            </table>
        </section>
        <div class="clearfix"></div>
    </header>

    <main>
        <section class="medicalDetails allBorder">
            <div>
                <table class="tblRecipientLeftSection">
                    <tr>
                        <td>Colleague Code</td>
                        <td>$EmployeeCode</td>
                    </tr>
                    <tr>
                        <td>Designation</td>
                        <td>$EmployeeDesignation</td>
                    </tr>
                    <tr>
                        <td>Colleague Name</td>
                        <td>$EmployeeName</td>
                    </tr>
                    <tr>
                        <td>Addresss</td>
                        <td>$EmployeeAddress</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>$EmployeeCity</td>
                    </tr>
                    <tr>
                        <td>State</td>
                        <td>$EmployeeState</td>
                    </tr>
                    <tr>
                        <td>Pin code</td>
                        <td>$EmployeePinCode</td>
                    </tr>
                    <tr>
                        <td>Mobile No</td>
                        <td>$EmployeeMobileNumber</td>
                    </tr>
                </table>
                <table class="tblRecipientRightSection">
                    <tr>
                        <td>Period</td>
                        <td colspan="2">$EmployeePeriod</td>
                        <td>LR No.</td>
                        <td>$EmployeeLRNumber</td>
                    </tr>
                    <tr>
                        <td> Date</td>
                        <td colspan="2">$EmployeeDate</td>
                        <td>LR Date</td>
                        <td colspan="2">$EmployeeLRDate</td>
                    </tr>
                    <tr>
                        <td>Team</td>
                        <td>$EmployeeTeam</td>
                    </tr>
                    <!-- <tr>
                      <td>Sub Team 2</td>
                      <td>Mass Therepy</td>
                      </tr>
                      <tr>
                      <td>Sub Team 2</td>
                      <td></td>
                    </tr> -->
                    <tr>
                        <td>Transport</td>
                        <td colspan="2">$EmployeeTransport</td>
                    </tr>
                    <tr>
                        <td>CFA</td>
                        <td>$EmployeeCFA</td>
                    </tr>
                    <tr>
                        <td>PROMO MONTH</td>
                        <td colspan="2">$PROMOMONTH</td>
                    </tr>
                    <tr>
                        <td>TYPE</td>
                        <td colspan="2">$PLANTYPE</td>
                    </tr>
                </table>
                <div class="clearfix"></div>
            </div>

        </section>
        <section class="itemDetailSection allBorder">
            <div>
                <table cellspacing="0" class="billProductDetailsTable bottomBorder">
                    <thead>
                    <tr>
                        <th rowspan="2">Sr. No.</th>
                        <th rowspan="2" >Product Code</th>
                        <th rowspan="2" colspan="2">HSN Code</th>
                        <th rowspan="2" colspan="2">Product Description</th>
                        <th rowspan="2">Quantity</th>
                        <th rowspan="2" colspan="2">PO No.</th>
                        <th rowspan="2" colspan="2">Batch No</th>
                        <th rowspan="2" colspan="2">EXP Date</th>
                        <th rowspan="2">Rate Rs.</th>
                        <th rowspan="2">Taxable Value Rs.</th>
                        <th colspan="2">CGST</th>
                        <th colspan="2">SGST/UGST</th>
                        <th colspan="2">IGST</th>
                        <th rowspan="2">Total Amount in Rs. </th>
                    </tr>
                    <tr>
                        <th>Rate</th>
                        <th>Amount</th>
                        <th>Rate</th>
                        <th>Amount</th>
                        <th>Rate</th>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>$tableRow</tr>
                    </tbody>
                </table>
            </div>
            <div class="terminology topBorder">
                <div>
                    <table class="terminologyLeftTable">
                        <tr>
                            <td>Total no of cases</td>
                            <td>$EmployeeTotalNoOfCases</td>
                        </tr>
                        <tr>
                            <td>Total weight in Kgs</td>
                            <td>$EmployeeTotalWeight</td>
                        </tr>
                        <tr>
                            <td>Remark</td>
                            <td>$EmployeeRemark</td>
                        </tr>
                    </table>
                    <table class="terminologyRightTable">
                        <tr>
                            <td>Sample Value</td>
                            <td>$TotalSampleValue</td>
                        </tr>
                        <tr>
                            <td>Input Value</td>
                            <td>$TotalInputValue</td>
                        </tr>
                        <tr>
                            <td>Total Value</td>
                            <td>$TotalSumValue</td>
                        </tr>
                    </table>
                </div>
                <div class="clearfix"></div>
                <p>
                    These cases contain promotional materials of no commercial value-Not for sale harmless promotional material for free distribution to the medical proession only. Value mentioned is for check post purpose only.
                </p>
                <aside style="page-break-after: always">
                    For Sanofi CHC India LTD <br />
                    Authorized Signatory
                </aside>
                <div style="page-break-after: always">&nbsp;</div>
        </section>
    </main>
</div>
</body>
</html>
