<html>
<head>
    <title></title>
    <link rel="stylesheet" href="src/main/resources/htmlPrint/promoPrintInvoice.css">
</head>
<body>
<div class="wholePrintBody page-break">
    <header>
        <div class="uns-title">
            UNS
        </div>
        <hr/>
        <div class="uns-title-address">
            Regd. Office : Universal Nutriscience PVT. LTD, 2 floor Fleet house, Marol, Andheri Kurla Road, Mumbai - 59
        </div>
        <hr/>
        <section class="leftSection">
            <h4>Sanofi India limited</h4>
            <address>
                SANOFI INDIA LTD
                C/o-S K Logistics,Bldg no-4,2st floor,Gala No-2 to 7,
                Citylink Warehousing Complex,Mumbai Nashik Highway,
                S.No-220-222,Village-Vadpe,Taluka-Bhiwandi,
                Dist.Thane-422302,Maharashtra
                TEL-02522398024/26/27
            </address>
            <p>
                <b>Mob</b>
                <label class="ph_no">9629862902/8879627885</label>
            </p>
        </section>

        <section class="rightSection">
            <table>
                <tr>
                    <td>Transfer Note No.</td>
                    <td>
                        <label>$InvoiceNumber</label>
                    </td>
                </tr>
                <tr>
                    <td>D.L.No.</td>
                    <td>
                        <label>20B-TZ5-272894 / 22B-TZ5-272895</label>
##                        <label>22B-TZ5-272895</label>
                    </td>
                </tr>
                <tr>
                    <td>GST No.</td>
                    <td>
                        <label>27AAACH2736F2ZU</label>
                    </td>
                </tr>
            </table>
        </section>
        <div class="clearfix"></div>
    </header>

    <main>
        <section class="medicalDetails allBorder">
            <div>
                <table class="tblRecipientLeftSection">
                    <tr>
                        <td>Colleague Code</td>
                        <td>$EmployeeCode</td>
                    </tr>
                    <tr>
                        <td>Designation</td>
                        <td>$EmployeeDesignation</td>
                    </tr>
                    <tr>
                        <td>Colleague Name</td>
                        <td>$EmployeeName</td>
                    </tr>
                    <tr>
                        <td>Addresss</td>
                        <td>$EmployeeAddress</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>$EmployeeCity</td>
                    </tr>
                    <tr>
                        <td>State</td>
                        <td>$EmployeeState</td>
                    </tr>
                    <tr>
                        <td>Pin code</td>
                        <td>$EmployeePinCode</td>
                    </tr>
                    <tr>
                        <td>Mobile No</td>
                        <td>$EmployeeMobileNumber</td>
                    </tr>
                </table>
                <table class="tblRecipientRightSection">
                    <tr>
                        <td>Period</td>
                        <td>$EmployeePeriod</td>
                        <td>LR No.</td>
                        <td>$EmployeeLRNumber</td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td>$EmployeeDate</td>
                        <td>LR Date</td>
                        <td>$EmployeeLRDate</td>
                    </tr>
                    <tr>
                        <td>Team</td>
                        <td>$EmployeeTeam</td>
                    </tr>
                    <!-- <tr>
                      <td>Sub Team 2</td>
                      <td>Mass Therepy</td>
                      </tr>
                      <tr>
                      <td>Sub Team 2</td>
                      <td></td>
                    </tr> -->
                    <tr>
                        <td>Transport</td>
                        <td>$EmployeeTransport</td>
                    </tr>
                    <tr>
                        <td>CFA</td>
                        <td>$EmployeeCFA</td>
                    </tr>
                    <tr>
                        <td>PROMO MONTH</td>
                        <td>$PROMOMONTH</td>
                    </tr>
                    <tr>
                        <td>TYPE</td>
                        <td>$PLANTYPE</td>
                    </tr>
                </table>
                <div class="clearfix"></div>
            </div>

        </section>
        <section class="itemDetailSection allBorder">
            <div>
                <table cellspacing="0" class="billProductDetailsTable bottomBorder">
                    <thead>
                    <tr>
                        <th rowspan="2">Sr. No.</th>
                        <th rowspan="2">Product Code</th>
                        <th rowspan="2">HSN Code</th>
                        <th rowspan="2">Product Description</th>
                        <th rowspan="2">Quantity</th>
                        <th rowspan="2">PO No.</th>
                        <th rowspan="2">Batch No</th>
                        <th rowspan="2">EXP Date</th>
                        <th rowspan="2">Rate Rs.</th>
                        <th rowspan="2">Taxable Value Rs.</th>
                        <th colspan="2">CGST</th>
                        <th colspan="2">SGST/UGST</th>
                        <th colspan="2">IGST</th>
                        <th rowspan="2">Total Amount in Rs. </th>
                    </tr>
                    <tr>
                        <th>Rate</th>
                        <th>Amount</th>
                        <th>Rate</th>
                        <th>Amount</th>
                        <th>Rate</th>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>$tableRow</tr>
                    </tbody>
                </table>
            </div>
            <div class="terminology topBorder">
                <div>
                    <table class="terminologyLeftTable">
                        <tr>
                            <td>Total no of cases</td>
                            <td>$EmployeeTotalNoOfCases</td>
                        </tr>
                        <tr>
                            <td>Total weight in Kgs</td>
                            <td>$EmployeeTotalWeight</td>
                        </tr>
                        <tr>
                            <td>Remark</td>
                            <td>$EmployeeRemark</td>
                        </tr>
                    </table>
                    <table class="terminologyRightTable">
                        <tr>
                            <td>Sample Value</td>
                            <td>$TotalSampleValue</td>
                        </tr>
                        <tr>
                            <td>Input Value</td>
                            <td>$TotalInputValue</td>
                        </tr>
                        <tr>
                            <td>Total Value</td>
                            <td>$TotalSumValue</td>
                        </tr>
                    </table>
                </div>
                <div class="clearfix"></div>
                <p>
                    These cases contain promotional materials of no commercial value-Not for sale harmless promotional material for free distribution to the medical proession only. Value mentioned is for check post purpose only.
                </p>
                <aside>
                    For Sanofi India LTD <br />
                    Authorized Signatory
                </aside>
        </section>
    </main>
</div>
</body>
</html>